

        <div class="modal-body expo">
        
          <span class="title_modifE   text-general">Ouverture exceptionnelle</span>
          <div class="row">
            <div  class="col-xl-8 col-md-12 "> 
          <form [formGroup]="HorairesExceptionalForm" >
              <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                <div class="m-portlet__body" formArrayName="Listhoraire">
                  <div class="row" *ngFor="let items of Listhorairesexceptional().controls ; let horaireIndex=index">
                    <div class="col-xl-12 mt-3">
                      <div class="row" [formGroupName]="horaireIndex">
                        <div class="col-md-1 col-sm-1 col-lg-1 ml-0 pt-3 pr-0 text-right">
                        <img src="../assets/Dashboard/suggestion/post-picto-calandar.svg" class="settingcorbeille" style="width: 47%; display: block;" >
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-2 ml-0 pl-0 text-center">
                          <div class="input-group calenderhoraire">
                            <input type="text" formControlName="date"  
                              placeholder="yyyy-mm-dd" format="yyyy-mm-dd" class="form-control datetime" bsDatepicker
                              [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' ,   language: 'Fr'}">
                          </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-lg-1 mt-1">
                          <span class="days">
                            <ui-switch formControlName="etat" name="etat" size="small" [(ngModel)] ="items.etat">
                            </ui-switch>
                          </span>
                        </div>
                        <div class="col-md-1 col-sm-1 col-lg-2 mt-1">
                          <span class="etatdate" *ngIf="items.etat == true"> Ouvert </span>
                          <span class="etatdate" *ngIf="items.etat == false"> Fermé </span>
                        </div>
                        <div class="col-md-9 col-sm-12 col-lg-6 pl-0 pt-1 pr-0 mt-1" formArrayName="horaire">
                          <div *ngIf="items.value.etat != '' || items.value.etat == 'true' ">
                            <div *ngFor="let item of listhorairessexceptional(horaireIndex).controls; let indexhorairesup=index ;let last = last">
                              <div class="row" [formGroupName]="indexhorairesup">
                                <div class="col-lg-12 " >
                                  <div class="control-group row">
                                    <div class=" col-lg-8  pl-0 pr-0 mb-2">
                                      <div class="row">
                                        <div class=" col-lg-4 pl-0 pr-0 ">
                                          <ng-select [items]="listTimes" placeholder="Ouverture" [virtualScroll]="true"
                                            [disabled]="!editable" formControlName="heurdebut">
                                          </ng-select>
                                        </div>
                                        <div class=" col-lg-1">
                                          <span> - </span>
                                        </div>
                                        <div class="col-lg-4 pl-0 pr-0">
                                          <ng-select [items]="listTimes" placeholder="Ouverture" [virtualScroll]="true"
                                            [disabled]="!editable" formControlName="heurfin">
                                          </ng-select>
                                        </div>
                                        <div class="col-lg-2" *ngIf="indexhorairesup >0" (click)="removeHExceptional(horaireIndex,indexhorairesup)">
                                          <span class="btn-delete" > <i
                                              class="fa fa-times"></i>
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-4 col-lg-4  pl-0 text-left"
                                    *ngIf="(items.value.etat != '' || items.value.etat == 'true') &&  last">
                                    <span class="btnAddHoraires mt-5" (click)="addHoraireexceptional(horaireIndex)">Ajouter des
                                      horaires
                                    </span>
                                  </div>
                                  </div>
                                </div>
                        
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
              <div class="adddate pt-5 mt-5">
              <span class="btnAddHoraires mt-5" (click)="addHoraireexceptional22()">  
                <img src="../assets/Dashboard/suggestion/post-picto-calandar.svg" class="settingcorbeille mr-3"> + Ajouter une date </span>
            </div>

            <div class="col-lg-8">
                <div class="btncnx  mt-5">

                  <div style="display: inline-block; "> <button type="button" class="btn btn-annulation "
                    (click)="Fermer()">Annuler</button></div>

                  <div style="display: inline-block; "> <button  (click)="valueChanged()" type="submit" class="btn btn-pub ml-3">Valider</button>
                  </div>
    
                 
                
                </div>
              </div>

          </form>
        </div>
        <div  class="col-xl-4 col-md-12 fichess"> 
          <div  *ngFor="let item of items"> 
            <span class="locations"> {{item.locationName}}</span></div> 
          </div> 
        </div>
      </div>
  