<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<div class="container-fluid mt--7 " id="TB">
    <div class="row">
        <a class="m-nav__link m-nav__link--icon btn-retour" value="Retour" onclick="history.back()">
            <i class="fa fa-chevron-left"></i> Retour
          </a>
        <div  [ngClass]="{'col-xl-9 mb-xl-0  bloc1 ': isMobile === false , 'col-xl-11  col-sm-11 p-0 bloc1': isMobile === true}">


            <div class=" bloc-dashboard">

                <div class=" documents ">

                    <div class="card  shadow doc">
                        <div class="card-header bg-transparent title-Dachboard">
                            <div class="row align-items-center">
                                <div class=" col-xl-5 col-md-12 titre-doc">
                                    <h2 class="text-black mb-0 title-renseignement document-title">Vos documents en
                                        ligne </h2>
                                </div>
                                <div class=" col-xl-7 col-md-12 date-doc">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="row">
                                                <div class="col-xs-12 col-12 col-md-6 input-group text">
                                                    Du <input type="text" placeholder="Sam. 3 oct 2020"
                                                        name="date_debut" class="form-control datetime" bsDatepicker
                                                        [(ngModel)]="date_debut"
                                                        (ngModelChange)="getDocuments(date_debut , date_fin, cp)"
                                                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' ,   language: 'Fr'}">
                                                </div>

                                                <div class="col-xs-12 col-12 col-md-6 input-group text">
                                                    à <input type="text" name="date_fin" placeholder="Jeu. 5 nov 2020"
                                                        class="form-control datetime" bsDatepicker
                                                        [(ngModel)]="date_fin"
                                                        (ngModelChange)="getDocuments(date_debut, date_fin, cp)"
                                                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' ,   language: 'Fr'}">

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-5 ">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <span class="pagination-page"> {{cp}} à {{smallnumPages}} | Page
                                                        {{cp}}</span>
                                                </div>
                                                <div class=" col-md-5">
                                                    
                                                    <pagination-controls
                                                        (ngModelChange)="getDocuments(date_debut, date_fin, cp)"
                                                        (pageChange)="cp = $event" previousLabel="" nextLabel=""
                                                        pageSizeOptions="[5, 10, 20]"></pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-xl-12 col-md-12 table-doc">
                        <div class="card-body doc table-responsive">
                                        <table class="table document  table-borderless">
                                            <thead>
                                                <tr class="entete-document">
                                                    <th scope="col">Type </th>
                                                    <th scope="col">Nom du fichier </th>
                                                    <th scope="col">Expéditeur </th>
                                                    <th scope="col"> Date de la mise en
                                                        ligne </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                          
                                            <tbody  >
                                                <tr *ngIf="validations==false">
                                                    <td colspan="5" class="text-center">Aucun fichier entre cette date <b>
                                                        {{date_debut }} et {{date_fin}}</b></td>
                                                </tr>
                                                <tr
                                                    *ngFor=" let doc of listdocuments | paginate: { itemsPerPage: 2, currentPage: cp  }">
                                                    <th>{{ doc.type }}</th>
                                                    <td>{{ doc.fichier }}</td>
                                                    <td>{{ doc.expediteur }}</td>
                                                    <td>{{ doc.date }}</td>
                                              
                                                    <td  *ngIf="validations!=false"  class="telecharger">
                                                         <a href={{doc.path}} target="_blank"
                                                            download="{{doc.path}}" title="Télécharger le document"><i
                                                                class="fas fa-download"></i> Télécharger</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>  
                            
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="" [ngClass]="{'col-xl-1  col-md-1 ':    isMobile === true , 'col-xl-3  col-md-3': isMobile === false}">
            <div *ngIf="!isMobile">
                <app-sidebar-tb></app-sidebar-tb>
                <app-sidebar-general></app-sidebar-general>
            </div>
            <div *ngIf="isMobile" class="medium_screen text-center">
              <span class="avatar avatar-md rounded-circle"  
              (click)="openblock(contentblock)">
                <img  src="../assets/Dashboard/icon-franchises1.png"><sup class="sup-b"><i  class="fa fa-circle mod"></i></sup>
            </span>
            
            </div>
            <div id="contentblock">
              <ng-template #contentblock let-modal>
          
                <button type="button" class="close avatar" aria-label="Close" 
                (click)="fermerpro()">
               <i class="fa fa-times-thin fa-2x cross" aria-hidden="true"></i>
                </button>
                
                <div class="modal-body listprofil pb-0 mb-0">
                    <app-sidebar-tb></app-sidebar-tb>
                    <app-sidebar-general></app-sidebar-general>
                </div>
              </ng-template>
            </div>
          
            </div>
    </div>



</div>