<div class="row ml-1 mr-1 mb-5 mt-2">
  <div class="col-lg-12 bloc-top">
    <div class="card-header bg-transparent p-0 title-Dachboard">
      <div
        class="row align-items-center"
        style="padding: 10px 0px 10px 0px; margin: 0px"
      >
        <i class="fa fa-arrow-up" aria-hidden="true"></i>

        <div class="col content-top">
          <h2 class="title-renseignement-2 text-white mb-0">
            Classement des meilleurs
          </h2>

          <span>Fiche GMB regroupant le plus d'avis positifs</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bloc-top-stat pt-2">
    <div
    *ngFor="let fiche of FichesAvis; let i =index"
      class="row card-header bg-transparent title-Dachboard">


        <div *ngIf="i < 3" class="col-xl-1 col-md-1 col-xs-1 content-top-stat  pt-0 pl-2 pr-0">
          <i   *ngIf="fiche.Classify == 0"  class="fa fa-arrow-up align-middle" aria-hidden="true"></i>
          <i   *ngIf="fiche.Classify == 1 "  class="fa fa-minus align-middle text-secondary" aria-hidden="true"></i>
          <i   *ngIf="fiche.Classify == 2 "  class="fa fa-arrow-down align-middle text-danger" aria-hidden="true"></i>

        </div>    
       <div *ngIf="i < 3" class="col-xl-6   col-md-5 col-xs-5 content-top-stat pt-2 pl-2 pr-0 ">
          <span   class="text-black title-stat">
            {{ fiche.Name }}
            <span class="text-region">{{ fiche.City }}</span>
          </span>
        </div>
        
        <div class="col-xl-5  col-md-6 col-xs-6 content-top-stat pl-0 pr-0" *ngIf="i < 3">
          <span class="value-avis page"> {{ fiche.Rating }}</span>
          <ng-template #t let-fill="fill">
            <span class="star gestion" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill"
                ><i class="fa fa-star s"></i></span
              ><i class="fa fa-star s"></i>
            </span>
          </ng-template>

          <ngb-rating
            [(rate)]="fiche.Rating"
            [starTemplate]="t"
            [readonly]="true"
            [max]="5"
          ></ngb-rating>
          <span class="nbr-avis">sur  {{ fiche.Count }} avis</span>
        </div>
      

    </div>
    <a class="show-more avis"
    (click)="open(content)"
    ><span class="classement avis  mt-2  mb-2">Voir le classement</span></a >
  
  <div class="media">
   <div class="media-body">
    <div class="reviews-members-footer">
      <ng-template #content let-modal>
        <div class="modal-header">
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--body Modal negatif --->
        <div class="modal-body mt-20 modal-avis">
          <div class="reviews-members pb-2">
            <span
               class=" pb-3 modal-title basic-title classements"
              id="modal-basic-title  "
              >Classement</span >
            <div class="media ">
              <div class="media-body">
                <div class=" container pl-9 pr-9">
                <div class=" row  mt-2 ">
                  <div class="col-xl-4 col-md-4 col-xs-12 d-block mx-auto text-center" >
                    <div class="classemnent-fiche">
                   <span class="number-class">2<sup>ème</sup></span> 
                   <div *ngFor="let fiche of FichesAvis; let i =index" >
                    <div class="classemnent-fiche-1" *ngIf="i == 1">
                   <div class="header-classify  content-top-stat mt-4" >
                    <i  *ngIf="fiche.Classify == 0"  class="fa fa-arrow-up classify_top_three" aria-hidden="true"></i>
                    <i   *ngIf="fiche.Classify == 1 "  class="fa fa-minus  classify_top_three" aria-hidden="true"></i>
                    <i   *ngIf="fiche.Classify == 2 "  class="fa fa-arrow-down  classify_top_three" aria-hidden="true"></i>
                     <span   class=" header-classify text-black title-stat">

                       {{ fiche.Name }}
                       <span class="text-region">{{ fiche.City }}</span>
                     </span>
                   </div>
                   
                   <div class="content-top-stat">
                     <span class="value-avis page"> {{ fiche.Rating }}</span>
                     <ng-template #t let-fill="fill">
                       <span class="star gestion" [class.full]="fill === 100">
                         <span class="half" [style.width.%]="fill"
                           ><i class="fa fa-star s"></i></span
                         ><i class="fa fa-star k"></i>
                       </span>
                     </ng-template>
           
                     <ngb-rating
                       [(rate)]="fiche.Rating"
                       [starTemplate]="t"
                       [readonly]="true"
                       [max]="5"
                     ></ngb-rating>
                     <span class="nbr-avis">sur{{ fiche.Count }} avis</span>
                   </div>
                 </div>
                 </div>
                  </div>
                </div>
                  <div class="col-xl-4 col-md-4 col-xs-12  d-block mx-auto text-center" >
                    <div class="classemnent-fiche first">
                      <span class="number-class"> 1<sup>er</sup></span> 
                      <div *ngFor="let fiche of FichesAvis; let i =index" >
                       <div class="classemnent-fiche-1" *ngIf="i == 0">
                      <div class="header-classify  content-top-stat mt-4" >
                        <i  *ngIf="fiche.Classify == 0"  class="fa fa-arrow-up classify_top_three" aria-hidden="true"></i>
                      <i   *ngIf="fiche.Classify == 1 "  class="fa fa-minus  classify_top_three" aria-hidden="true"></i>
                      <i   *ngIf="fiche.Classify == 2 "  class="fa fa-arrow-down  classify_top_three" aria-hidden="true"></i>
                        <span   class="text-black title-stat">
                          {{ fiche.Name }}
                          <span class="text-region">{{ fiche.City }}</span>
                        </span>
                      </div>
                      
                      <div class="content-top-stat">
                        <span class="value-avis page"> {{ fiche.Rating }}</span>
                        <ng-template #t let-fill="fill">
                          <span class="star gestion" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill"
                              ><i class="fa fa-star s"></i></span
                            ><i class="fa fa-star k"></i>
                          </span>
                        </ng-template>
              
                        <ngb-rating
                          [(rate)]="fiche.Rating"
                          [starTemplate]="t"
                          [readonly]="true"
                          [max]="5"
                        ></ngb-rating>
                        <span class="nbr-avis">sur{{ fiche.Count }} avis</span>
                      </div>
                    </div>
                    </div>
                     </div>
                </div>
                  <div class="col-xl-4 col-md-4 col-xs-12 d-block  mx-auto text-center" >
                    <div class="classemnent-fiche third">
                      <span class="number-class"> 3<sup>ème</sup> </span> 
                      <div *ngFor="let fiche of FichesAvis; let i =index" >
                       <div class="classemnent-fiche-1" *ngIf="i == 2">
                      <div class="header-classify content-top-stat mt-4" >
                      <i  *ngIf="fiche.Classify == 0"  class="fa fa-arrow-up classify_top_three" aria-hidden="true"></i>
                      <i   *ngIf="fiche.Classify == 1 "  class="fa fa-minus  classify_top_three" aria-hidden="true"></i>
                      <i   *ngIf="fiche.Classify == 2 "  class="fa fa-arrow-down  classify_top_three" aria-hidden="true"></i>
                        <span   class="text-black title-stat">
                          {{ fiche.Name }}
                          <span class="text-region">{{ fiche.City }}</span>
                        </span>
                      </div>
                      
                      <div class="content-top-stat">
                        <span class="value-avis page"> {{ fiche.Rating }}</span>
                        <ng-template #t let-fill="fill">
                          <span class="star gestion" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill"
                              ><i class="fa fa-star s"></i></span
                            ><i class="fa fa-star k"></i>
                          </span>
                        </ng-template>
              
                        <ngb-rating
                          [(rate)]="fiche.Rating"
                          [starTemplate]="t"
                          [readonly]="true"
                          [max]="5"
                        ></ngb-rating>
                        <span class="nbr-avis">sur{{ fiche.Count }} avis</span>
                      </div>
                    </div>
                    </div>
                     </div>
                  </div>
                </div>
                <div class="all-franchisess mt-4" >
                <div
                *ngFor="let fiche of FichesAvis; let i =index"
                  class="row card-header bg-transparent title-Dachboard pl-5 pr-5"  >
            
  
                       <div *ngIf="i >= 3" class="col-lg-1 content-top-stat  text-right pl-1 pr-1" >
                        <span class="avis_classify pr-2">{{i+1}}</span>
                      <i   *ngIf="fiche.Classify == 0"  class="fa fa-arrow-up align-middle" aria-hidden="true"></i>
                      <i   *ngIf="fiche.Classify == 1 "  class="fa fa-minus align-middle text-secondary" aria-hidden="true"></i>
                      <i   *ngIf="fiche.Classify == 2 "  class="fa fa-arrow-down align-middle text-danger" aria-hidden="true"></i>
            
                    </div>    
                   <div *ngIf="i >= 3" class="col-lg-7 content-top-stat  text-left pl-1 pr-1">
                      <span   class="text-black title-stat mt-3">
                        {{ fiche.Name }}
                        <span class="text-region">{{ fiche.City }}</span>
                      </span>
                    </div>
                    
                    <div class="col-lg-4 content-top-stat  text-right pl-1 pr-1" *ngIf="i >= 3">
                      <span class="value-avis page"> {{ fiche.Rating }}</span>
                      <ng-template #t let-fill="fill">
                        <span class="star gestion" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill"
                            ><i class="fa fa-star s"></i></span
                          ><i class="fa fa-star s"></i>
                        </span>
                      </ng-template>
            
                      <ngb-rating
                        [(rate)]="fiche.Rating"
                        [starTemplate]="t"
                        [readonly]="true"
                        [max]="5"
                      ></ngb-rating>
                      <span class="nbr-avis">sur {{ fiche.Count }} avis</span>
                    </div>
                  
            <div *ngIf="i >= 3" style="width:90%;margin: 0 auto ;border-bottom:1px solid #CBCBCB;" class=" pt-0 pb-0"></div>
                </div>
                </div>
              </div>
              </div>
            </div>
        </div>
  
    </div>
      </ng-template>
      <!--fin body Modal positif --->
  
    </div>
  </div>
  </div>
  </div>
  

  
</div>


