<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
    <a class="m-nav__link m-nav__link--icon btn-retour" value="Retour" onclick="history.back()">
        <i class="fa fa-chevron-left"></i> Retour
      </a>
</div>
<div class="container-fluid mt--7 " id="TB">
    <div class="row">
        
        <div  [ngClass]="{'col-xl-9 mb-xl-0  bloc1 ': isMobile === false , 'col-xl-11  col-sm-11 p-0 bloc1': isMobile === true}">
            <div class="row bloc-dashboard"  style="    display: block;" >
                <form [formGroup]="profilprincipalForm">
                    <div formArrayName="listligne" class="row">
                            <div class="col-xl-6 mb-5 mb-3" *ngFor="let item of profilprincipalForm.controls['listligne']['controls']; let i=index ">
                                <div class="card  shadow">
                                    <div class="card-body">
                                        <div class="deleteuser"></div>
                                        <div class="row">
                                            <div class="col-xl-4 pt-4">
                                                <div  class="uploadfile">
                                                    <img [src]= "item.value.photo"  *ngIf="item.value.photo">
                                                
                                                </div>

                                            </div>
                                            <div class="col-xl-8 pt-2" [formGroupName]="i">
                                                <h2 class="text-black  title" *ngIf="item.value.role != '[object Object]'">{{item.value.role}}   </h2>
                                                <h2 class="text-black  title" *ngIf="item.value.role.name">{{item.value.role.name}}    </h2>
                                                <div class="form-group mb-4 titlepost">
                                                    <span class="nom-fiche"> Nom & Prénom </span>
                                                    <div class="input-group input-group-alternative">
                                                        <input class="form-control" placeholder="Nom & Prénom" disabled
                                                            type="text" formControlName="firstname" name="firstname">
                                                    </div>
                                                </div>

                                                
                                                <div class="form-group mb-4 titlepost">
                                                    <span class="nom-fiche"> Rôle </span>
                                                    <ng-select [items]="roles"  [readonly]="true" bindLabel="name" value="name"  
                                                        formControlName="role">
                                                    </ng-select>
                                                </div>

                                                <div class="form-group mb-4 titlepost">
                                                    <span class="nom-fiche"> Email </span>
                                                    <div class="input-group input-group-alternative">
                                                        <input class="form-control" placeholder="email" type="email" disabled
                                                            formControlName="email" name="email">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4 titlepost">
                                                    <span class="nom-fiche"> Mot de passe </span>
                                                    <div class="input-group input-group-alternative">
                                                        <input class="form-control" placeholder="password" disabled
                                                            type="password" formControlName="password"
                                                            name="password">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-12 ">
                                                <div class="btn-action mr-7 mt-3 ">
                                                    <button class="btn btn-pub"
                                                        (click)="openprofil(contentprofil ,  'edit') ; getinfos(item.value.user_id)" type="submit"> Modifier </button>
 
                                                    <button type="submit" class="btn btn-outline" [disabled]="item.value.role == 'Administrateur Principal'"   
                                                          (click)="OpenTag(content4 , item.value.user_id , 'delete' )" >Supprimer</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                   

                    </div>
                </form>
            </div>



            <div class="row bloc-dashboard mt-5" *ngIf="role_id == 1">
                <div class="col-xl-6 mb-5 mb-xl-0">
                    <div class="card  shadow blocadd">
                        <div class="card-body">

                            <div class="text-center new_profil">
                                <div (click)="openprofil(contentprofil , 'create')" class="createprofil">
                                    <i class="fa fa-plus"></i> <br>
                                    <span class="add_profil"> Créer un profil </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="" [ngClass]="{'col-xl-1  col-md-1 ':    isMobile === true , 'col-xl-3  col-md-3': isMobile === false}">
            <div *ngIf="!isMobile">
                <app-sidebar-tb></app-sidebar-tb>
                <app-sidebar-general></app-sidebar-general>
            </div>
            <div *ngIf="isMobile" class="medium_screen text-center">
              <span class="avatar avatar-md rounded-circle"  
              (click)="openblock(contentblock)">
                <img  src="../assets/Dashboard/icon-franchises1.png"><sup class="sup-b"><i  class="fa fa-circle mod"></i></sup>
            </span>
            
            </div>
            <div id="contentblock">
              <ng-template #contentblock let-modal>
          
                <button type="button" class="close avatar" aria-label="Close" 
                (click)="fermerpro()">
               <i class="fa fa-times-thin fa-2x cross" aria-hidden="true"></i>
                </button>
                
                <div class="modal-body listprofil pb-0 mb-0">
                    <app-sidebar-tb></app-sidebar-tb>
                    <app-sidebar-general></app-sidebar-general>
                </div>
              </ng-template>
            </div>
          
            </div>
    </div>

    <div id="notifs-client">
        <ng-template #contentprofil let-modal>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body  pb-5  gestionprofil">
                <form [formGroup]="CreateprofilForm">
                    <div class="deleteuser"></div>



                    <div class="row"  *ngIf="showmsg == false" >

                        <div class="col-xl-4 pt-4">
                            <app-photo-utilisateur (onLogoChanged)="GetDataLogo($event)"
                                (onDelateImage)="GetImageDelated(photo_user)" [picture]="photo_user">
                            </app-photo-utilisateur>

                        </div>
                        <div class="col-xl-8 pt-2">
                            <h2 class="text-black  title"> {{currentrole}} </h2>
                            <div class="form-group mb-4 titlepost">
                                <span class="nom-fiche"> Nom & Prénom  <span class="symbol required"></span> </span> 
                                <div class="input-group input-group-alternative">
                                    <input class="form-control" placeholder="Nom & Prénom" type="text"
                                        formControlName="firstname" name="firstname">
                                </div>
                            </div>

                            <div class="form-group mb-4 titlepost" *ngIf="role_id != 1">
                                <span class="nom-fiche"> Rôle <span class="symbol required"></span> </span>
                                <ng-select [items]="roles" [readonly]="true"  bindLabel="name" value="name" [placeholder]="placeholder"
                                    formControlName="role">
                                </ng-select>
                            </div>

                            <div class="form-group mb-4 titlepost" *ngIf="role_id == 1">
                                <span class="nom-fiche"> Rôle <span class="symbol required"></span> </span>
                                <ng-select [items]="roles"  bindLabel="name" value="name" [placeholder]="placeholder"
                                    formControlName="role">
                                </ng-select>
                            </div>

                            <div class="form-group mb-4 titlepost">
                                <span class="nom-fiche"> Email <span class="symbol required"></span> </span> 
                                <div class="input-group input-group-alternative">
                                    <input class="form-control" placeholder="email" type="email" formControlName="email"
                                        name="email">
                                </div>
                            </div>
                            <div formGroupName="user_password">
                                <div class="form-group mb-4 titlepost">
                                    <span class="nom-fiche"> Mot de passe  <span class="symbol required"></span> </span> 
                                    <div class="input-group input-group-alternative">
                                        <input class="form-control" placeholder="password" type="password"  [(ngModel)] ="currentpassword" 
                                            formControlName="password" name="password">
                                    </div>
                                </div>
                                <div class="form-group mb-4 titlepost">
                                    <span class="nom-fiche"> Confirmation mot de passe </span>
                                    <div class="input-group input-group-alternative">
                                        <input class="form-control" placeholder="confirm_password" type="password"  [(ngModel)] ="currentconfirm_password"
                                            formControlName="confirm_password" name="confirm_password">
                                    </div>
                                </div>
                                <div class="has-danger form-control-feedback"
                                    *ngIf="!CreateprofilForm.controls['user_password'].valid && CreateprofilForm.controls['user_password'].dirty">
                                    <div class="form-control-feedback">
                                        Le mot de passe ne correspond pas
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-12 " >
                            <div class="btn-action mr-7 mt-3 ">

                                <button type="submit" class="btn btn-annulation"
                                (click)="modal.close('Save click')">Annuler</button>

                                <button  *ngIf="action =='create' " class="btn btn-pub" [disabled]="!CreateprofilForm.valid" type="submit" (click)="Createprofil()"> 
                                    <span >Créer  </span>
                                </button>
                                <button  *ngIf="action =='edit' && currentrole != 'Administrateur Principal'  "class="btn btn-pub" [disabled]="!CreateprofilForm.valid" type="submit" (click)="Modifierprofil()"> 
                                    <span >Modifier  </span>
                                </button>

                                <button  *ngIf="action =='edit'  && currentrole == 'Administrateur Principal' && currentpassword == '000000'  "class="btn btn-pub" [disabled]="!CreateprofilForm.valid" type="submit" (click)="Modifierprofil()"> 
                                    <span >Modifier  </span>
                                </button>   


                     
                                <button  *ngIf="action =='edit'  && currentrole == 'Administrateur Principal' && currentpassword != '000000'  "class="btn btn-pub" [disabled]="!CreateprofilForm.valid" type="submit"  (click)="Showmessage()"> 
                                    <span >Modifier  </span>
                                </button>    


                               
                            </div>
                        </div>
                    </div>


                    <div *ngIf="showmsg == true" style="margin-top: 27%;"  [@slideright]>
                        <p class="infos-posts text-center" > 
                            Attention la modification de votre mot de passe fermera votre session !  <br>
                     
                        </p>
                        <div class="modal-footer text-center" style="    display: block; ">
                            <button  type="button"class="btn btn-annulation" (click)="fermeshowmsg()" >Annuler</button>
                            <button  type="button" class="btn btn-pub"
                            (click)="Modifierprofil()" >Modifier</button>

                          
                          </div>
                    </div>
              


                </form>


            </div>
        </ng-template>
    </div>
    <div id="notifs-delete">
        <ng-template #content4 let-modal>
          <div class="modal-body" style="top: 20%; width: 80%; left: 12%;"  *ngIf="actionadmin =='delete' "   >
            <p class="infos-posts text-center"> Êtes-vous sûr de vouloir supprimer <br> définitivement cet utilisateur ? </p>
            <div class="modal-footer text-center" style="    display: block; ">
             
             
                <button  type="button" class="btn btn-annuler" style="padding: 7px 23px; background: #0081c7; "
                 (click)="deleteprofil(usersselected)" >Oui</button>

                <button  type="button" class="btn btn-outline"
                (click)="FermerAdd()"   >Non</button>


              </div>
          </div>
      
        </ng-template>
        <simple-notifications></simple-notifications>
      </div>


</div>