
  <!-------------Fiche en cours---------------->
  <div  class="card shadow pb-2" style="border-radius: 1rem;">
    <div *ngIf="role_id !=3">
        <div class="card-header bg-transparent title-Dachboard" *ngIf="FichesEnCours.length > 0">
          <div class="row align-items-center">
            <div class="col d-flex">
              <h2 class=" text-black title-renseignement-2 mb-0">Fiche en cours</h2>
              <!-- <span class="nbrfiches text-black title-renseignement-2 ml-2 mb-0" *ngIf="nbrficheencours > 0">({{nbrficheencours}})</span>
           -->

            </div>
          </div>
        </div>

        <div class="card-body post-prog mt-2" >

          <div class="row align-items-center    details-prog"  *ngFor="let fiche of FichesEnCours ; let i='index'">
            <div class="col-lg-4 text-center  mb-2 part1">
              <div class ="fichenonassigne" *ngIf="fiche.state == 'Code Google' && fiche.nbfiche !=0" (click)="openfiches(popupfiche ,fiche  , true)">
                <span > {{fiche.state}}</span> 
              </div>
              <div class ="ficheencours" *ngIf="fiche.state == 'Demande accés' && fiche.nbfiche !=0">
                <span > {{fiche.state}}</span> 
              </div>
              <div class ="fichepersonnalise" *ngIf="fiche.state == 'Personnaliser' && fiche.nbfiche !=0" (click)="detailsfranchise(fiche.details.idfiche)">
                <span > {{fiche.state}}</span> 
              </div>
            </div>
            <div class="col-lg-6  mb-2 details-fiche part2" *ngIf="fiche.nbfiche !=0" >
            <span class="fichename"> {{fiche.details.locationName}} {{fiche.details.ville}} </span>  
            </div>
            <div class="col-lg-2 mb-1 etat-post part2" *ngIf="fiche.nbfiche == 1">

              <div *ngIf="fiche.state == 'Code Google' || fiche.state == 'Demande accés' "> <img src="./assets/Dashboard/fiche-non-personnalise.png">
              </div>
              <div *ngIf="fiche.state =='Personnaliser'">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-lg-2 mb-2 etat-post part2 text-center nbrfiche" *ngIf="fiche.nbfiche > 1"                             
            (click)="openfiches(popupfiche,'' , false , fiche.state)">
              <div class="nbrsug">
                <span> +{{fiche.nbfichetxt -1}} </span>
              </div>
            </div>
          </div>
          <!-- <div class="text-center" *ngIf="FichesEnCours.length > 3">
            <span (click) ="openfiches(popupfiche ,'' , false)" class="text-center mb-0 plus-suggestions mt-2">
              <i  class="fa fa-plus"></i> de fiches  
            </span>
          </div> -->

        </div>
    </div>

      <!-------------Fiche administreé---------------->
    <div class="card-header bg-transparent title-Dachboard bloc-fiche">
      <div class="row align-items-center">
        <div class="col d-flex">
          <h2 class="text-black  title-renseignement-2 mb-0 ">Fiches administrées</h2>
          <span class="nbrfiches text-black title-renseignement-2 ml-2 mb-0" *ngIf="FichesAdministrees.length > 3">({{nbfiches}})</span>
        </div>
      </div>
  
      <div class="search-fiche">
  
        <div class="row">
  
          <div class="col-lg-10 ">
            <span class="nom-fiche"> Recherche</span>
            <div class="input-group input-group-alternative ng-tns-c114-0">
              <input type="text" name="search" [(ngModel)]="searchFiche" style="padding-left: 4%;"
                (keyup)=" getListFiche(searchFiche , '' , '')" placeholder="Nom de la fiche" autocomplete="off"
                class="form-control ng-tns-c114-0">
              <i class="fa fa-search"></i>
            </div>
          </div>
  
          <div class="col-lg-2">
  
            <div class="popover__wrapper">
            <img src="./assets/Dashboard/icon-filtre.png" class="popover__title"> 
              <div class="popover__content admini">
                <span class="filtre"> Filtre</span>
                <div class="form-check administre">
                  <input type="checkbox" class="form-check-input " id="Modification" [(ngModel)]='Modification' >
                  <label class="form-check-label listoption"   for="Modification">Modification externe <sup><i  class="fa fa-circle"></i></sup></label><br>
  
                  <div class="" *ngFor="let groupe of datafiltre , let i='index' ">

                 
                  <input type="checkbox" class="form-check-input" id= {{i}}  name= {{i}}
                   value="isMaterial" #myCheckbox
                    (change)="checkUncheckAll(i  , myCheckbox)">
                  <label class="form-check-label listoption" for="exampleCheck1">{{groupe.Name_groupe}}</label> <br>
  
                  <ul class="localisation">
  
                    <li class="listoption" *ngFor="let item of groupe.ettiquettes">
                      <input type="checkbox" [(ngModel)]="item.status" name="list_name"
                       value="{{item.Value_etiquette}}"
                        (change)="isAllSelected(item.status)" />
  
                      <span class="title-value">{{item.Nom_etiquette}} </span>
  
                    </li>
  
                  </ul>
                
                
                </div>
               
         
                </div>
  
  
                <button class="btnf btn-pub mt-3 " (click)="filtrerListFiche()">filtrer</button>
  
              </div>
            </div>
          </div>
  
  
  
  
  
        </div>
  
  
  
      </div>
    </div>
    <div class="list-fiche">
      <div class="card-body post-prog " *ngFor="let fiche of FichesAdministrees ; let i = index;">
  
        <div class="row align-items-center ficheAdmin">
          <div class="col-lg-8 details-fiche">
  
            <input type="checkbox" value="{{fiche.id}}"  
            (change)="SelectedFiche(fiche)"/>
            
            <span> 
              <span style="display: contents;">
                <span class="namefiche">{{fiche.locationName}}  </span>
              
                <span *ngIf="fiche.notif == true" class="ml-2"> <i class="fa fa-circle"></i> </span> 
              
              </span>
               <span style="display: block;"> {{fiche.region}} </span> 
            </span> 
  
          </div>
          <div class="col-lg-4 details-post">
            <a href={{fiche.mapsUrl}} target="_blank"> <img src="./assets/Dashboard/picto-google-map.svg"
                class="show-fiche"></a>
            <a href={{fiche.newReviewUrl}} target="_blank"> <img src="./assets/Dashboard/picto-google-serp.svg"
                class="show-fiche"></a>
  
  
            <img src="./assets/Dashboard/picto-parametre-fiche.svg" (click)="detailsfranchise(fiche.id) ; detailsnotifs(items.fiche_id ,'')" class="show-fiche">
  
  
  
          </div>
        </div>
  
      </div>
  
  
  
    </div>
    <div class="Actionsfiltre" *ngIf="ShowActions == true && role_id != 3" >
  
      <div class="dropdown">
        <button class="dropbtn btn btn-outline-primary">Actions <i class="fa fa-sort-down"></i></button>
        <div class="dropdown-content">
        
        
          
          <div class="actions" (click) ="openraccourcis('Rédiger un post' , contentraccourci) ; " >
            <img src="./assets/Dashboard/post_add.svg" alt="Rédiger un post"> 
            <span>Rédiger un post </span> 
          </div>  
          <div class="actions"  (click)="openAddPhotos(content9,item);" >
            <img src="./assets/Dashboard/add_photo.svg" alt="Ajouter une photo"> 
            <span>Ajouter une photo </span> 
          </div>



          <div class="actions" (click) ="openraccourcis('Horaires' , contentraccourci) ; " >
            <img src="./assets/Dashboard/horaires.svg" alt="Horaires d'ouverture"> 
            <span>Horaires d'ouverture </span> 
          </div>

          <div class="actions" (click) ="openraccourcis('Ajouter un service' , contentraccourci) ; " >
            <img src="./assets/Dashboard/add-service.svg" alt="Ajouter un service"> 
            <span>Ajouter un service </span> 
          </div>


          
            <div class="actions" (click) ="openraccourcis('Ajouter un Attribut' , contentraccourci) ; " >
                <img src="./assets/Dashboard/edit-categorie.svg" alt="Ajouter un attribut"> 
                <span>Ajouter un attribut </span> 
              </div>

            <div class="actions" (click) ="openraccourcis('Ouverture exceptionnelle' , contentraccourci) ; " >
                <img src="./assets/Dashboard/ouverture.svg" alt="Ouverture exceptionnelle"> 
                <span>Ouverture exceptionnelle </span> 
              </div>


          



          

        </div>
      </div>
  
    </div>
    <div class="media" id="Avertir">
      <div class="media-body">
        <div id="notifs-client">
          <ng-template #content9 let-modal>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body ContenuPhoto couverture">
              <div class="reviews-members pb-3">
                <span
                class=" pb-3 title-add-photos couverture" id="modal-basic-title " >Importer une photo
              </span >
          </div>
          <div class="row">
          <div class="col-xl-7 col-md-12">
          <form [formGroup]="AddPhotoForm" (ngSubmit)="onSubmit()" >
            <div class="custom-dropzone"  [multiple]="false"  ngx-dropzone  accept=".webp, .gif, .png, .jpg, .jpeg" (change)="onSelect($event)">
    
              <ngx-dropzone-label >
                <div class="row row pl-0 pr-0 ml-0 mr-0">
                  <div class="col-xl-7">
                    <img  class="icon-modal" src='./assets/photos/picto-img-blue.svg' alt="Photos wallpost" style="width: 11%;">
                    <div class="text-justifier">
                    <span class="change-picture">Importer votre photo <br>
                      <span class="change-picture-1">Photo
                        Gif, Jpeg, Png, Webp
                    </span>
                    </span>
                </div>
                  </div>
                  <div class="col-xl-5">
                    <i class="fas fa-upload"></i>
                  </div>
                </div>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files_dropped"
                formControlName="File" [file]="f" [multiple]="false" [removable]="true" (removed)="onRemove(f)">
              </ngx-dropzone-image-preview>
             
            </div>
            <span *ngIf="files_dropped.length > 1" class="mesage"> {{message}}</span>
            <div>
           <ul>
                <li class="list-group-item" *ngFor="let item of checklist">
                  <input type="checkbox" value="{{item.id}}" [attr.disabled]=" item.isDisabled ? true : null"
                    [checked]="checked"  (change)="isAllSelectedPhoto(item)" formControlName="Category"
                    name="Category" />
                  <span class="itemList">{{item.value}} </span>
                </li>
              </ul> 
    
            </div>
    
    
    
            <span class="nom-fiche"> Type de photo</span>
            <ng-select [items]="TypePhotos" [(ngModel)]='setSelected' bindLabel="name"
              [placeholder]="placeholder"  formControlName="Type_photo">
            </ng-select>
    
            <div class="btncnx mt-3 text-center">
    
              <button type="submit" class="btn btn-pub" (click)= UploadPhoto()>Publier</button>
              <button type="button" class="btn btn-annulation" (click)="FermerAddPhoto()">Annuler</button>
            </div>
          </form>
          </div>
          <div class="col-xl-5 col-md-12 fichess">
         
          <div  *ngFor="let item of listSelectedfiches"> 
            <span class="locations"> {{item.locationName}}</span></div> 
       </div>
      </div>
          </div>
    
    
          <div class="modal-footer" >
    
            <div class="footer-modal-1"></div>
          </div>
          </ng-template>
          </div>
          </div>
    </div>
    <div class="Actionsfiltre" *ngIf="ShowActions == true && role_id == 3" >
  
      <div class="text-center" (click) ="openraccourcis('Rédiger un post' , contentraccourci) ; ">
        <button class="dropbtn btn btn-outline-primary">  
           <img style=" width: 23px;" src="https://api-wallpost.b-forbiz.com/public/raccourci/raccourcis-post.svg" alt="Rédiger un post"> 
          <span class="ml-2 mt-1">Rédiger un post </span>   </button>
      
      </div>
  
    </div>

    <div id="raccourcis">
        <ng-template #contentraccourci let-modal>
    
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click') ; fermepopup()">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body listprofil pb-0 mb-0" style="top: 5%; width: 100%; left: 0%;">
         
           
            <div  *ngIf="raccourcis == 'Horaires' ">
              <app-horaires  [items]="listSelectedfiches"  (valueChange)='displayhoraires($event)'></app-horaires>
            </div>
    
            <div  *ngIf="raccourcis == 'Ouverture exceptionnelle' ">
    
              <app-horaire-exceptionnel  [items]="listSelectedfiches" (valueChange)='displayhorairesExcep($event)'></app-horaire-exceptionnel>
            </div>
            <div   *ngIf="raccourcis == 'Ajouter un service' ">
              <app-services  [items]="listSelectedfiches"  (valueChange)='displayservices($event)'></app-services>
            </div>
    
         
    
            <div   *ngIf="raccourcis == 'Ajouter un produit' ">
              <app-produit   [items]="listSelectedfiches" (valueChange)='produitsraccourcis($event)'></app-produit>
            </div>
    
            <div *ngIf="raccourcis == 'Ajouter un Attribut' ">
              <app-attribut  [items]="listSelectedfiches"  (valueChange)='attributsraccourcis($event)'></app-attribut>
            </div>
    
    
            <div   *ngIf="raccourcis == 'Gérer les liens' ">
              <app-liens  [items]="listSelectedfiches" (valueChange)='liensraccourcis($event)'></app-liens>
            </div>
          </div>
    
          <div class="modal-footer mt-0 pb-0" >
            <div style="background: url(./assets/Dashboard/bg-footer.png); background-repeat: no-repeat; background-size: contain; min-height: 97px;width: 100%;display: block;background-position: top;"></div>
          </div>
    
    
        </ng-template>
        <simple-notifications></simple-notifications>
    </div>
   <div id="popupfiche">
    <ng-template #popupfiche let-modal>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body listfiches" *ngIf="status == false" [@sliderleft]>
        <div class="row mb-4">
          <div class=" col-md-6  mb-0 text-right">
          <span class="title_modifE  mb-4 text-general"> Liste de fiches  </span>
          <p  class="text-black mb-0 title-renseignement-3 text-left" *ngIf="state == 'Personnaliser'">Vous avez <b>{{Fiches.length}} </b> fiches à personnaliser </p>
          <p  class="text-black mb-0 title-renseignement-3 text-left" *ngIf="state == 'Code Google'">Vous avez <b>{{Fiches.length}} </b> fiches qui demandent un code goolge </p>
          <p  class="text-black mb-0 title-renseignement-3 text-left" *ngIf="state == 'Demande accés'">Vous avez <b>{{Fiches.length}} </b> fiches qui demandent un accés </p>
       

          </div>
          <div class=" col-md-6  mb-0 text-right">
            <pagination-controls (pageChange)="cps = $event" previousLabel="" nextLabel="" pageSizeOptions="[5, 10, 20]">
            </pagination-controls>
          </div>
        </div>
        <div class="row align-items-center listfichiers"  >
        <div class="col-lg-6  mb-0 pl-4 pr-4  details-prog"  *ngFor="let fiche of Fiches  | paginate: { itemsPerPage: 20, currentPage: cps  } ; let i='index'">
          <table class="table align-items-center mb-0 table-flush listpro">
            <tbody>
              <tr  class="pro" style="border-bottom: 1px solid #dee2e6;">
                <th scope="row" class="text-bold titlepro">
                    <div class ="fichenonassigne" *ngIf="fiche.state == 'Code Google'" (click)="sendcode( fiche , true)">
                      <span > {{fiche.state}}</span> 
                    </div>
                    <div class ="ficheencours" *ngIf="fiche.state == 'Demande accés'">
                      <span > {{fiche.state}}</span> 
                    </div>
                    <div class ="fichepersonnalise" *ngIf="fiche.state == 'Personnaliser'" (click)="detailsfranchise(fiche.idfiche)">
                      <span > {{fiche.state}}</span> 
                    </div>
                </th>
                <td class="text-left" (click)="detailsfranchise(fiche.id)">
                  <span class="fichename"> {{fiche.locationName}} {{fiche.ville}} </span>  
                </td>
                <td class="text-left">
                  <div *ngIf="fiche.state == 'Code Google' || fiche.state == 'Demande accés' "> <img src="./assets/Dashboard/fiche-non-personnalise.png">
                  </div>
                  <div *ngIf="fiche.state =='Personnaliser'">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </div> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      

    
        </div>
      </div>



      <div class="modal-body modifcodegoogle" *ngIf="status == true" [@slideright]>
        <span class="title_modifE  mb-4 text-general"> Saisir le code </span>
        <p >Saisissez le code de validation à cinq chiffres envoyé à cette adresse le <b> {{closedatestrCode}}</b>. Les courriers arrivent généralement sous 5 jours. <br>
         <b> [{{locationName}}] </b> <br>{{address}}</p>
       



        <form [formGroup]="codegoogleForm" (ngSubmit)="Addcodegoogle()">

 
       <div class="addcode">
        <img src="./assets/Fiche/codegoogle.png"> 
        <div class="form-group mb-4 titlepost">
          <span class="nom-fiche"> Saisissez le code </span>
          <div class="input-group input-group-alternative">
            
            <input class="form-control"  placeholder="Code à 5 chiffres" type="text"
              formControlName="codegoogle" name="codegoogle">
          </div>
        </div>
       </div>
         

    


          <div class="btncnx  mt-3 mb-3">

            <button type="submit" class="btn btn-pub"  [disabled]="!codegoogleForm.valid">Valider et passer à la personnalisation</button>
        
            <div  style="display: inline-block; "> <button type="button" class="btn btn-annulation ml-3 "
        (click)="Fermercode()">Annuler</button></div>
          </div>

          <p>Vous rencontrez des problèmes ? </p>
          <div class="btncnx mt-3">

            <span class="btn-autre">Recevoir un nouveau courrier</span>
            
            <span class="btn-autre">Changer de méthode</span>
 
          </div>
        </form>

      </div>

      </ng-template>
   </div>      
  </div>