.card.shadow {
  border-radius: 1rem;
}
.fichenonassigne {
  background: #cc0070;
  color: #fff;
  padding: 6px 10px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.25px;
  border-radius: 3px;
}
i.fa.fa-exclamation-triangle {
  margin-top: -3%;
  display: block;
  float: right;
  margin-right: 2%;
  color: #e74c3c;
  font-size: 12px;
}
.ficheencours {
  background: #eba10f;
  color: #fff;
  padding: 6px 10px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.25px;
  border-radius: 3px;
}

.fichepersonnalise {
  background: #b1cd45;
  color: #fff;
  padding: 6px 10px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.25px;
  border-radius: 3px;
}

.post-img {
  width: 18px;
  height: 18px;
}
.details-fiche {
  white-space: nowrap;
  text-align: left;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(112, 112, 112, 1);
  letter-spacing: 0.25px;
}
img.show-fiche {
  margin: 0px 4px;
}
.ficheAdmin {
  padding-left: 10px;
  padding-bottom: 10px;
}
i.fa.fa-check {
  color: rgba(177, 205, 69, 1);
}

.post-prog {
  padding-top: 5px !important;
}

i.fa.fa-search {
  color: #cbcbcb;
  font-size: 14px;
}

.list-fiche {
  max-height: 416px;
  overflow-y: scroll;
  margin-right: 4%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(217 217 217);
  -webkit-box-shadow: 0 0 1px rgb(217 217 217);
}

span.details-title {
  text-align: center !important;
  font: normal normal bold 12px/14px Ubuntu;
  letter-spacing: 0px;
  color: #5e5e5e;
  opacity: 1;
}

.post {
  display: flex;
  text-align: center;
  padding-left: 13%;
  padding-top: 3%;
  margin: 0 auto;
}
span.nbr-post {
  background: #eba10f;
  border-radius: 87%;
  padding: 1% 2% 0% 1.8%;
  max-height: 21px;
  max-width: 24px;
  font-size: 10px;
  text-align: center;
  color: #fff;
  margin-right: 3%;
}

p.dernier-post {
  font: normal normal bold 10px/10px Ubuntu;

  color: #5e5e5e;
  opacity: 1;
}

span.etat-post {
  text-align: left;
  font: normal normal bold 10px/10px Ubuntu;
  letter-spacing: 0px;
  color: #5e5e5e;
  opacity: 1;
  display: block;
}
li.listregion {
  display: inline-block;
  margin: 2px 5px;
}
.etatpost {
  text-align: left;
  font: normal normal normal 10px/10px Ubuntu;
  color: #5e5e5e;
  padding-bottom: 5px;
}

.popover__title {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 0;
  margin-top: -10px;
}

.popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}

span.filtre {
  text-align: center !important;
  font: normal normal bold 12px/14px Ubuntu;
  letter-spacing: 0px;
  color: #5e5e5e;
  display: block;
}

ul.localisation {
  list-style: none;
  padding-left: 0px;
}

.listoption {
  text-align: left;
  font: normal normal normal 10px/12px Ubuntu;
  letter-spacing: 0.25px;
  color: #707070;
  margin: 7px;
}

span.title-value {
  padding-left: 17%;
  margin-top: -15px;
  display: block;
}

.test {
  width: 82%;
  border-bottom: 3px solid #0081c7;
  margin: 0 auto;
  margin-top: 5%;
}

.lastelement input {
  cursor: pointer;
}

.new-etiquette.lastelement {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #5e5e5e !important;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #5e5e5e !important;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #5e5e5e !important;
}
input:-ms-input-placeholder {
  color: #5e5e5e !important;
}

span.fiches {
  font: normal normal 300 12px/18px Ubuntu;
  letter-spacing: 0px;
}

.leaflet-popup-content {
  width: 300px !important;
}
.medium_screen .avatar {
  display: block;
  background: #fff;
  cursor: pointer;
  height: 48px;
  width: 48px;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
}
span.avatar.avatar-md.rounded-circle img {
  width: 20px;
  border-radius: 50%;
  text-align: center;
  display: block;
  margin: 0 auto;
  bottom: -13px;
  position: relative;
}
i.fa.fa-circle.mod {
  color: #C94040;
  font-size: 5px;
}
i.cross {
  font-size: 40px;
  color: rgba(112, 112, 112, 0.32);
  cursor: pointer;
  z-index: 99;
  padding: 0;
  margin: 0 auto;
}
.fa-times-thin:before {
  content: "×";
}
a.btn-retour {
  cursor: pointer;
  font: normal normal 300 12px/18px Ubuntu;
  letter-spacing: 0px;
  color: #0081c7;
  position: absolute;
  top: 41px;
  left: 2%;
  z-index: 99999;
}
@media (min-width: 1080px) {
  img.img-post {
    width: 14%;
  }
  img.img-supp {
    padding-top: 1%;
  }
  .corbeille .cdk-drag.drag-box {
    padding-top: 6px;
  }
  fieldset.scheduler-border {
    margin: 12px 0 1.5em 0 !important;
  }

  .new-etiquette {
    width: 78%;
  }
  img.img-post-details {
    width: 20px;
  }
  img.img-post {
    width: 20px;
  }
  img.show-fiche {
    width: 14px;
  }
  img.show-fiche {
    width: 20%;
    height: 20px;
  }
  img .img-prog-details {
    width: 14%;
  }

  img.img-post-details {
    width: 9%;
  }

  .bloc1 {
    margin-bottom: -8%;
  }
}
@media (min-width: 1200px) {
  fieldset.scheduler-border {
    margin: 12px 0 1.5em 0 !important;
  }

  .corbeille .cdk-drag.drag-box {
    padding-top: 4px;
  }

  img.img-post {
    width: 64%;
  }

  img.img-post-details {
    width: 38%;
  }

  .new-etiquette {
    width: 78%;
  }
  .title-renseignement {
    font-size: 18px;
  }

  .col-xl-2.chart {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .title-renseignement-2 {
    font-size: 14px;
  }

  .table-flush th.text-bold {
    font-size: 12px;
  }
  .profilsvalue {
    font-size: 16px;
  }

  .card .table-flush td,
  .card .table-flush th {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .add-img {
    font-size: 12px;
  }

  .nbr-suggestion {
    margin-left: -44%;
  }

  .bloc-performance .col-xl-4,
  .bloc-performance .col-xl-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  span.title-perfomance,
  span.title-perfomance1 {
    font: normal normal normal 13px/30px Ubuntu;
  }
  span.value-performance {
    font: normal normal bold 15px/15px Ubuntu;
  }

  span.value-performance1 {
    font: normal normal bold 15px/15px Ubuntu;
  }
  .bloc-performance .card-body {
    padding: 1rem;
  }
  .card .table-performance td,
  .card .table-performance th {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .value-activite {
    font-size: 14px;
  }

  span.value-avis {
    font-size: 20px;
  }
  .note-avis img {
    width: 56px;
  }
  .note-avis {
    padding-left: 0px;
  }
  li.listWordings {
    margin: 2px;
  }
  .popover-body {
    width: 200px !important;
  }
  .value-post {
    font-size: 12px;
  }
  .date-pro {
    font-size: 10px;
  }
  .text-programme {
    white-space: initial;
    display: flex;
  }
  .col-lg-4.part1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-lg-4.part2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .part2 img,
  .part2 i.fa.fa-check {
    float: right;
  }
  .bloc-fiche .details-post {
    padding-right: 0%;
  }
  img.show-fiche {
    margin: 0px 3px;
  }
  .details-fiche {
    font-size: 10px;
  }
  .bloc-fiche .details-post {
    padding-right: 0;
  }
  img.popover__title {
    margin-left: -14px;
    margin-top: -17px !important;
  }
}

@media (min-width: 1400px) {

  @media (min-width: 1470px) {
    .col-xl-2.chart {
      flex: 0 0 21%;
      max-width: 21%;
    }
  }
}

@media (min-width: 1440px){
sup.sup-b {
    top: -25px;
    left: 7px;
}
}
@media (min-width: 1500px) {
  .nbr-suggestion {
    margin-left: -37%;
  }
}

@media (min-width: 1600px) {
  .col-xl-2.chart {
    flex: 0 0 19%;
    max-width: 19%;
  }
}

@media (min-width: 1700px) {
  img.img-supp {
    padding-top: 2%;
  }

  .nbr-suggestion {
    margin-left: -30%;
  }
  .corbeille .cdk-drag.drag-box {
    padding-top: 6px;
  }
  fieldset.scheduler-border {
    margin: 14px 0 1.5em 0 !important;
  }


  .new-etiquette {
    width: 50%;
  }
  .col-lg-4.part1,
  .col-lg-4.part2 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1800px) {
  img.img-post {
    width: 26%;
  }

  input[type="checkbox"]:checked:after {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -34px;
    left: 0px;
    transform: none;
    content: "\2713";
    padding: 0px 5px 1px 3px;
    color: #b1cd45;
    font-size: 12px;
    border: none;
    font-weight: bold;
    background: #fff;
    border-radius: 100%;
  }

  img.img-supp {
    padding-top: 0;
    margin-top: 2px;
  }

  fieldset.scheduler-border {
    margin: 11px 0 1.5em 0 !important;
  }
  .bloc1 {
    margin-bottom: 5em;
  }

  img .img-prog-details {
    width: 23%;
  }
  img.img-post-details {
    width: 20%;
  }

  .col-xl-2.chart {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .title-renseignement {
    font-size: 24px;
  }

  .title-renseignement-2 {
    font-size: 18px;
  }

  .table-flush th.text-bold {
    font-size: 14px;
  }
  .profilsvalue {
    font-size: 25px;
  }

  .card .table-flush td,
  .card .table-flush th {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .add-img {
    font-size: 14px;
  }

  .nbr-suggestion {
    margin-left: -27%;
  }

  .bloc-performance .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .bloc-performance .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  span.title-perfomance,
  span.title-perfomance1 {
    font: normal normal normal 16px/30px Ubuntu;
  }
  span.value-performance {
    font: normal normal bold 20px/20px Ubuntu;
  }

  span.value-performance1 {
    font: normal normal bold 20px/20px Ubuntu;
  }
  .bloc-performance .card-body {
    padding: 1rem;
  }
  .card .table-performance td,
  .card .table-performance th {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .value-activite {
    font-size: 18px;
  }

  span.value-avis {
    font-size: 30px;
  }
  .note-avis img {
    width: auto;
  }
  .note-avis {
    padding-left: 0px;
  }
  li.listWordings {
    margin: 10px;
  }
  .popover-body {
    width: 200px !important;
  }
  .value-post {
    font-size: 14px;
  }
  .date-pro {
    font-size: 10px;
  }
  .text-programme {
    font-size: 12px;

    display: flex;
  }

  .part2 img,
  .part2 i.fa.fa-check {
    float: right;
  }
  .bloc-fiche .details-post {
    padding-right: 0%;
  }
  img.show-fiche {
    margin: 0px 7px;
  }

  img.show-fiche {
    width: 15%;
    height: 15px;
  }

  .details-fiche {
    font-size: 10px;
  }
  .bloc-fiche .details-post {
    padding-right: 0;
  }
  img.popover__title {
    margin-left: 6px;
    margin-top: -17px !important;
  }
}

@media (min-width: 1900px) {
  fieldset.scheduler-border {
    height: 201px;
  }
  fieldset.scheduler-border {
    margin: 22px 0 1.5em 0 !important;
  }
}
/***************etiquette******************/
.GroupeEtiquette {
  padding-left: 0px;
}

.GroupeEtiquette .drag-box{
  padding: 5px 10px 22px 10px;
}
.plus-etiquette {
  cursor: pointer;
  text-align: left;
  font-family: Ubuntu;
  display: block;
  font-style: normal;
  margin-left: 4%;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0, 129, 199, 1);
  letter-spacing: 0.25px;
}
i.fa.fa-plus {
  font-size: 9px;
}
img.img-supp {
  width: 10%;
  float: right;
  cursor: pointer;
}
.add-etiquette {
  max-height: 425px !important;
  width: 99%;
  /* padding-bottom: 122%; */
  height: 500px;
  max-height: 320px;
  /*     overflow-y: scroll; */
  margin-right: 6%;
}
.bloc1_etiquette {
  display: flex;
}

.sup {
  border-radius: 4px;
  background-color: #707070;
  -webkit-box-shadow: 0 0 1px rgb(255 255 255 / 50%);
  height: 424px;
  display: block;
  width: 7px;
}

/************gestion etiquette*************/

.new-etiquette input.ng-valid.ng-dirty.ng-touched {
  width: 80% !important;
  border: none !important;
  background: transparent !important;
}
.new-etiquette input {
  width: 80% !important;
  border: none !important;
  background: transparent !important;
  font: normal normal normal 12px/12px Ubuntu;
  letter-spacing: 0.3px;
}

.img-edit {
  width: 88%;
  float: right;
  margin-top: -6px;
  cursor: pointer;
}

.img-disabled {
  width: 88%;
  float: right;
  margin-top: -6px;
}

.new-etiquette {
  border: 1px solid #cbcbcb;
  opacity: 1;
  border-radius: 50px;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0, 129, 199, 1);
  letter-spacing: 0.25px;
  padding: 4px 10px 4px 10px;
  margin-bottom: 4%;
}

span.icon-add {
  float: right;
  display: block;
  padding-top: 4px;
}
.bloc-corbeille {
  bottom: 0px;
}
.new-etiquette input.ng-untouched.ng-pristine {
  background: transparent;
  border: none;
  width: 70%;
}
span.edit-etiquette {
  cursor: pointer;
  float: right;
  display: block;
  padding-left: 21px;
  font-size: 10px;
  margin-top: 3px;
}

span.valueetiquette {
  background: #fff;
  padding: 3px 8px;
  border-radius: 100%;
  max-width: 20px;
  max-height: 23px;
  font-weight: bold;
  margin-left: 1px;
}

code,
kbd,
pre {
  background-color: #cfc;
  color: navy;
  font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: smaller;
}

pre {
  line-height: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  overflow: auto;
  padding: 0.75em 1.625em;
}

.box-list {
  display: flex;
  margin: 0.5em;
  padding: 0.5em 0;
  width: 100%;
}

.addgroupe input.form-.control {
  padding-top: 0px;
  margin-top: -13px;
  width: 100%;
  border: none;
  background: transparent;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8898aa;
}

.box-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.has-danger {
  border-bottom: 1px solid #c94040 !important;
  border-radius: initial !important;
  color: #c94040 !important;
  width: 100%;
  border: none;
}
.has-danger input.form-.control {
  color: #c94040;
}
.has-danger:after {
  display: none;
}
.drag-box {
  box-sizing: border-box;
  justify-content: center;
  letter-spacing: 0.3px;
  color: #0081c7;
  padding: 5px 10px 22px 2px;
  border: 1px solid #cbcbcb;
  border-radius: 50px;
  font-weight: normal;
  font-size: 12px;
  height: 29px;
  color: rgba(0, 129, 199, 1);
  letter-spacing: 0.25px;
  cursor: move;
  margin: 10px 3px;
}

.corbeille span.valueetiquette {
  border: 1px solid #ccc;
  padding: 3px 8px;
  margin-left: -1px;
}
.creategroupe {
  cursor: pointer;
}
.listgroupe .cdk-drag.drag-box {
  color: #fff;
  padding-left: 6px;
  margin-right: 2%;
  padding-right: 10px;
  padding: 5px 10px 25px 2px;
}

input.etiquettevalue {
  margin-left: 7px;
  cursor: move;
}

.new_groupe {
  display: block;
  margin: 0 auto;
  top: 42%;
  position: relative;
}
.add_groupe {
  text-align: center;
  font: normal normal medium 18px/18px Ubuntu;
  letter-spacing: 0px;
  color: #cbcbcb;
}
.new_groupe i.fa.fa-plus {
  letter-spacing: 0.3px;
  color: #0081c7;
  font-size: 21px;
}

.cdk-drag {
  transition: transform 150ms ease;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  background-color: #fff;
  box-sizing: border-box;
  color: #0081c7;
  padding-left: 10px;
  border-radius: 50px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

fieldset.scheduler-border {
  padding: 0 1.4em 1.4em 1.4em !important;
  border: 3px dashed #c94040;
  border-radius: 1rem;
  height: 200px;
}

.listgroupe fieldset.scheduler-border {
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  border-radius: 1rem;
  border: 3px dashed #cbcbcb;

}
legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

/*****************add groupe************/

.modal-body {
  margin: 0;
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%); */
  width: 100%;
}

.bg-secondary.Addgroupe {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

span.create_groupe {
  font: normal normal bold 24px/20px Ubuntu;
  letter-spacing: 0px;
  color: #5e5e5e;
  display: block;
  text-align: center;
}

span.text-groupe {
  font: normal normal normal 12px/14px Ubuntu;
  letter-spacing: 0px;
  color: #5e5e5e;
  display: block;
  padding: 28px 0px;
  text-align: center;
}
span.nom-groupe {
  text-align: left !important;
  float: left;
  font: normal normal normal 10px/18px Ubuntu;
  letter-spacing: 0px;
  color: #707070;
  padding-left: 12px;
}

.ng-touched::-webkit-input-placeholder {
  font: normal normal normal 14px/18px Ubuntu;
  color: #cbcbcb !important;
}
.ng-untouched::-webkit-input-placeholder {
  font: normal normal normal 14px/18px Ubuntu;
  color: #cbcbcb !important;
}

.bloc-color {
  padding: 11px;
  display: inline-block;
  margin: 6px 11px;
  border-radius: 5px;
}

.addgroupe input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  top: -38px;
  left: -31px;
  border: none;
  border-radius: 3px;
}

.addgroupe  input[type="checkbox"]:checked:after {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -35px;
  left: 6px;
  transform: none;
  content: "\2713";
  padding: 0px 5px 1px 3px;
  color: #b1cd45;
  font-size: 12px;
  border: none;
  font-weight: bold;
  background: #fff;
  border-radius: 100%;
}
input#item0[type="checkbox"]:before {
  background-color: #f1c40f;
}
input#item1[type="checkbox"]:before {
  background-color: #e74c3c;
}
input#item2[type="checkbox"]:before {
  background-color: #95a5a6;
}
input#item3[type="checkbox"]:before {
  background-color: #9b59e6;
}
input#item4[type="checkbox"]:before {
  background-color: #1abc9c;
}

input#item5[type="checkbox"]:before {
  background-color: #f39c12;
}
input#item6[type="checkbox"]:before {
  background-color: #c0392b;
}
input#item7[type="checkbox"]:before {
  background-color: #34495e;
}
input#item8[type="checkbox"]:before {
  background-color: #8e44ad;
}
input#item9[type="checkbox"]:before {
  background-color: #27ae60;
}

span.name-etiquette {
  padding-left: 5px;
}

.modal-footer {
  text-align: center;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: relative;
  bottom: 0;
  top: 43%;
}


.edit-groupe i.fa.fa-pencil-alt {
  font-size: 12px;
  cursor: pointer;
}

span.nbr-groupe {
  font: normal normal 14px/18px Ubuntu;
  float: right;
  color: #707070;
}
.nbr-groupe b {
  font: normal normal bold 24px/18px Ubuntu;
}

textarea:focus,
input:focus {
  outline: none !important;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.new-etiquette input.ng-touched::-webkit-input-placeholder {
  font: normal normal normal 12px/12px Ubuntu;
  letter-spacing: 0.3px;
  color: #0081c7 !important;
}
.new-etiquette input.ng-untouched::-webkit-input-placeholder {
  font: normal normal normal 12px/12px Ubuntu;
  letter-spacing: 0.3px;
  color: #0081c7 !important;
}
#myDIV {
  margin-top: 10px;
  height: 417px;
  width: 250px;
  overflow: auto;
}

#content {
  height: 419px;
  width: 2000px;
  padding: 10px;
}

.cdk-drag.drag-box {
  display: inline-block;
  margin: 10px 3px;
}


.bloc-etiquette.bloc-groupe{
  width: 100%;
  height: 155px;
  min-height: 127px;
  overflow: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;

  background-color: #707070;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.danger {
  color: #fff;
  border: none;
  background: transparent;
}

.success {
  color: #ccc;
  border: none;
  margin-top: -10px;
  background: transparent;
}

input.ng-pristine.success.ng-valid.ng-touched input::-webkit-input-placeholder {
  color: #C94040 !important;
}
input.ng-pristine.success.ng-valid.ng-touched input:-moz-placeholder {
  /* Firefox 18- */
  color: #C94040 !important;
}
input.ng-pristine.success.ng-valid.ng-touched input::-moz-placeholder {
  /* Firefox 19+ */
  color: #C94040 !important;
}
input.ng-pristine.success.ng-valid.ng-touched input:-ms-input-placeholder {
  color: #C94040 !important;
}

.dejaexist {
  color: #C94040;
}
legend.scheduler-border {
  text-transform: uppercase;
}
.nonexist {
  color: #0081c7;
}
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  float: right;
  max-width: 34%;
  line-height: 0;
  height: 23px!important;
  z-index: 99!important;
  top: 1px;
  cursor: pointer;
}
.actionetiquette .tooltiptext {
  position: absolute !important;
  margin-top: 0.7em;
  margin-left: -6.5pc;
  cursor: initial;
}

img.imgsetting {
  width: 18px;
}
.corbeille.actionetiquette.tooltip .tooltiptext {
  margin-top: 0.7em;
  margin-left: -9.5pc;
  position: fixed;
  cursor: initial;
}

.deletegroupe.actionetiquette .tooltiptext {
  position: absolute !important;
  margin-top: 0.8em;
  margin-left: -6.5pc;
  cursor: initial;
}
.deletegroupe.actionetiquette  i.fa.fa-ellipsis-v {
  float: right;
  padding-right: 8%;
  cursor: pointer;
}

.bloc-corbeille .actionetiquette .tooltiptext {
  margin-left: -6.5pc!important;
}

.deletegroupe.actionetiquette.tooltip {
  margin-left: 0px;
  display: -webkit-box;
  max-width: 20px;
  left: 10px;
  right: 5px;
  padding-top: 4px;
  margin-right: 9px;
}

.bloc-news .actionetiquette .tooltiptext {
  margin-left: -6.5pc;

}
.actionetiquette ul li span {
  list-style: none;
  cursor: pointer;
  color: #5e5e5e;
  font: normal normal normal 12px/30px Ubuntu;
  letter-spacing: 0px;
  color: #5e5e5e;
  background: transparent;
  border: transparent;
}
.actionetiquette i.fa.fa-ellipsis-v {
  float: right;
  padding-right: 18%;
  margin-left: 10px;
  cursor: pointer;
}


.actionetiquette  ul {
    margin-bottom: 0px;
    padding-left: 27px;
    list-style: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #5e5e5e;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.bloc-etiquette.bloc-corbeille{
  width: 103%;
  padding-right: 20%;
  padding-left: 10px;
  margin-top: 0;
  height: 143px;
  min-height: 143px;
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 0;
}
/**************deplacement etiquette***************/
.deplacement ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.deplacement li.list-group-item{
  border: none;
}
span.itemList {
  font: normal normal normal 12px/12px Ubuntu;
  letter-spacing: 0.3px;
  color: #707070;
  padding-left: -1%;
  margin-left: 16px;
}

.deplacement input[type="checkbox"]:checked:after {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -1px;
  left: 1px;
  transform: none;
  content: "\2713";
  padding: 0px 5px 1px 3px;
  color: #b1cd45;
  font-size: 12px;
  border: none;
  font-weight: bold;
 background: transparent; 
  border-radius: 100%;
}


/************etiquette*********/

.bloc-etiquette.bloc-corbeille .drag-box {
  width: auto;
  min-width: 139px !important;
  display: block;
  padding: 6px 10px 23px 4px;
}

img.settingcorbeille {
  width: 18px;
}




.cdk-drag-preview img {
  display: none;
}

.corbeille .drag-box {
  cursor: initial;
}
.icon-supprime i.fa.fa-times-thin.fa-2x.cross {
  font-size: 23px;
  color: #0081c7;
}
sup.icon-supprime {
  position: absolute;
  left: 187px;
  top: 7%;
}