<div class="tackheader">
    <div class="tackheader-1">
     <p>listes des  tàches </p>
    </div>
    <div class="tackheader-left">
        <div class="listuser" *ngFor="let item of visibleUsers">
            <div type="button" (click)="openPopup(item)">
              <ng-container *ngIf="item.profile_image_url; else checkProfileImage">
                <img [src]="item.profile_image_url" alt="Image de profil" class="enteimg" />
              </ng-container>
              <ng-template #checkProfileImage>
                <i class="bi bi-person-circle"></i>
              </ng-template>
            </div>
          </div>
          
          <!-- Bouton pour afficher les utilisateurs restants -->
          <div *ngIf="!showAllUsers && hiddenUserCount > 0" class="more-users">
            <button class="btn btn-link" (click)="toggleShowAllUsers()">
              +{{ hiddenUserCount }}
            </button>
          </div>
          
<!-- (click)="openPopup(item)" -->
<div class="tackheader-1"  >
    <button type="button" class="btn btn-success"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    title="Ajouter  tache"
    > 
        <i class="bi bi-patch-plus"></i>
    </button>

</div>
</div>
</div>

<!-- Modal pour afficher les détails de l'utilisateur -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Détails de {{ selectedUser?.name }}</h4>
        </div>
        <div class="modal-body">
  

        <div class="modal-footer">
          <button type="button" class="btn btn-dark" (click)="closePopup()">Fermer</button>
        </div>
      </div>
    </div>
  </div>