.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  .image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .image-gallery {display: flex;justify-content: center;align-items: center;}

.tab-pane {
    display: flex;
    justify-content: start;
}


.image-gallery img {
    width: 335px;
    object-fit: cover;
    height: 208px;
    object-position: top;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .fancybox-image-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .fancybox-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .fancybox-image-wrapper:hover .fancybox-image {
    transform: scale(1.00);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  
  .fancybox-image-wrapper:hover .overlay {
    opacity: 1;
  }
  
  .overlay-icon {
    color: #fff;
    font-size: 24px;
  }