<div class="week-view-container">
  <!-- Sélection de l'année -->
  <div class="current-month-container">
    <h2><i class="bi bi-calendar-check"></i> Année {{ selectedYear }}</h2>
  </div>

  <!-- Tableau des jours de la semaine -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Jour</th>
        <th scope="col">Heures</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let day of getWorkDays()">
        <td>{{ day.day }}</td>
        <td>  
          <ng-container *ngIf="day.hours!=null; else showHoursZero">
            {{ day.hours }}
          </ng-container>
          <ng-template #showHoursZero>
           00:00:00
          </ng-template>
        </td>
      </tr>
    </tbody>
    
  </table>
</div>
