.media-body.d-none.d-lg-block {
  margin-right: 20px;
}

a.m-nav__link.m-nav__link--icon.btn-retour {
  cursor: pointer;
  font: normal normal 300 12px/18px Ubuntu;
  letter-spacing: 0px;
  color: #0081c7;
}

i.fa.fa-chevron-left {
  font-size: 10px;
}
span.adressecategorie {
  font-size: 11px;
  color: #383030;
}

.search-fiche .ng-dropdown-panel {
  width: 129% !important;
}
ng-select.ng-select.ng-select-single.ng-select-searchable.ng-select-clearable.ng-untouched.ng-pristine.ng-valid {
  border-bottom: 1px solid #ccc !important;
}
.ng-dropdown-panel {
  width: 244px !important;
}
.ng-select .ng-select-container {
  border-radius: initial !important;
}
span.mb-0.text-right.d-lg-block.add-fiche {
  color: #cecece !important;
  font: normal normal normal 12px/14px Ubuntu;
  letter-spacing: 0px;
  color: #5e5e5e;
}

span.title-wallpost {
  text-align: left;
  font: normal normal bold 24px/20px Ubuntu;
  letter-spacing: 0px;
  color: #5e5e5e;
  line-height: 20px;
  align-items: center;
}

i.fa.fa-search {
  color: #cbcbcb;
  font-size: 14px;
}
.bg-transparent.photo-gmb {
  float: right;
}

.createfiche {
  padding: 5% 0px;
}

.creategmb {
  line-height: 12px;
  cursor: pointer;
  margin-left: 4%;
}

.creategmb span {
  padding: 10px 0px;
  text-align: left;
  text-align: left;
  font: normal normal 12px/14px Ubuntu;
  letter-spacing: 0px;
  color: #0081c7;
}


.form-control {
  font: normal normal normal 14px/18px Ubuntu;
  letter-spacing: 0px;
  color: #cbcbcb;
}

.creategmb:before {
  content: "";
  color: #333;
  left: 16px;
  position: absolute;
  font-family: "FontAwesome";
  text-align: left;
  letter-spacing: 0px;
  color: #0081c7;
  opacity: 1;
  font-size: 10px;
}
#Trac_4637 {
  fill: rgba(112, 112, 112, 1) !important;
}
.Trac_4637 {
  overflow: visible;
  position: absolute;
  width: 14.029px;
  height: 14.028px;
  left: 2.338px;
  top: 2.338px;
}
.search-fiche ul {
  list-style: none;
  padding-left: 0px;
}
.final-etape {
  text-align: left;
  font: normal normal normal 12px/14px Ubuntu;
  letter-spacing: 0px;
  color: #cbcbcb;
  opacity: 1;
}
i.fa.fa-check {
  color: #b1cd45;
  font-size: 12px;
  padding-right: 10px;
}
#Trac_4639 {
  fill: rgba(112, 112, 112, 1);
}
.Trac_4639 {
  overflow: visible;
  position: absolute;
  width: 15.501px;
  height: 15.501px;
  left: 1.55px;
  top: 1.55px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.form-check {
  padding-top: 6%;
}
span.siteurl {
  font: normal normal normal 14px/18px Ubuntu;
  color: #707070;
}
.not-url {
  font: normal normal normal 14px/18px Ubuntu;
  color: #707070;
}
.EtapeCreation {
  display: flex;
}

span.agence_client {
  text-align: left;
  font: normal normal normal 12px/14px Ubuntu;
  letter-spacing: 0px;
  color: #cbcbcb;
  line-height: 16px;
  display: block;
  margin-top: 8px;
  padding-bottom: 20px;
}

.row.coordonnes_fiche {
  align-items: center;
  padding-left: 3%;
}

.EtapeCreation i.fa.fa-arrow-left {
  font-size: 14px;
  padding-right: 13px;
  cursor: pointer;
}
.modal-body {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.modal-content {
  display: flex !important;
  justify-content: center !important;
  width: 1200px !important;
  height: 790px !important;
  display: -ms-flexbox !important;
  -ms-transform: translateY(-50%) !important;
}
label.form-check-label {
  color: #707070;
  font-size: 12px;
}
.recherchefiche {
  padding-top: 21%;
}

button.btn.btn-etapes {
  color: #fff;
  padding: 7px 40px;
  border-radius: 50px;
  text-align: center;
  font: normal normal normal 12px/13px Ubuntu;
  letter-spacing: 0px;
  background: #0081c7;
  border-radius: 50px;
  margin-top: 5%;
}

span.condition-utilisation {
  font: normal normal normal 12px/14px Ubuntu;
  line-height: 16px !important;
  display: block;
  padding-top: 5%;
}

.btn-check {
  padding-left: 5%;
}

.input-group {
  width: 100%;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font: normal normal normal 14px/18px Ubuntu;
  color: #cbcbcb;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font: normal normal normal 14px/18px Ubuntu;
  color: #cbcbcb;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  font: normal normal normal 14px/18px Ubuntu;
  color: #cbcbcb;
}

span.h4.mb-0.text-black.d-none.d-lg-inline-block {
  text-align: left;
  font: normal normal bold 16px/18px Ubuntu;
  color: #707070;
  text-transform: initial;
}
.text-interface {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(203, 203, 203, 1);
}

.welcome .card-header {
  background: #fbfbff;
}

@media (min-width: 1024px) {
  .welcome {
    margin-left: 3%;
  }
  .creategmb:before {
    top: 76%;
  }
  .text-welcome {
    font-family: Ubuntu;
    font-size: 12px;
    margin-right: 67px;
  }
  img.img-wallpost {
    width: 100px;
  }

  span.title-wallpost {
    font: normal normal bold 18px/20px Ubuntu;
  }
  .text-interface {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #cbcbcb;
}
.text-interface {
  font-size: 12px;
}
}
@media (min-width: 1200px) {
  img.img-wallpost {
    width: auto;
  }

  .creategmb:before {
    top: 76%;
  }
}

@media (min-width: 1300px) {
  .creategmb:before {
    top: 81%;
  }
}

@media (min-width: 1400px) {
  .welcome {
    margin-left: 6%;
  }
  .text-welcome {
    font: normal normal bold 14px/14px Ubuntu;
    margin-right: 0
  }

  img.img-wallpost {
    width: 80%;
  }
}

@media (min-width: 1800px) {
  .welcome {
    margin-left: 4%;
  }
  .welcome.editeuruser
  {
    margin-left: -6%;
  }
  span.title-wallpost {
    font: normal normal bold 24px/20px Ubuntu;
  }
  .search-fiche {
    width: 76%;
  }
  .creategmb:before {
    top: 79%;
  }
  .text-welcome {
    font: normal normal bold 20px/18px Ubuntu;
    margin-right: 27px;
  }
  .text-interface {
    font-size: 16px;
  }

  img.img-wallpost {
    width: auto;
  }
}

.recherchefiche a {
  color: #0081c7;
}
.btn_acces {
  text-align: center;
  color: #fff !important;
  display: block;
  margin: 10px 0px;
  font: normal normal normal 12px/15px Ubuntu;
  letter-spacing: 0px;
  background: #0081c7;
  width: 33%;
  padding: 2% 2%;
  cursor: pointer;
  margin: 0px 6px;
}
img.img_gmb {
  width: 100%;
  height: 100%;
}

.creatfiche {
  padding-top: 30%;
  padding-left: 5%;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font: normal normal 14px/12px Ubuntu!important;
  line-height: 20px!important;
  letter-spacing: 0px!important;
  color: #5e5e5e !important;
  transition: initial!important;
  border-bottom: 1px solid #ccc !important;
}
