<div class="content-dashboard d-flex">
  <!-- Section de pointage pour l'utilisateur actuel -->
  <div class="pointage">
    <div class="time-slot">
      <div class="status">
      
        <!-- Affichage de l'image de profil ou d'une icône par défaut --> 
        <ng-container *ngIf="userdetaile.profile_image_url; else checkProfileImage">
          <img [src]="userdetaile.profile_image_url" alt="Image de profil" class="enteimg" />
        </ng-container>

        <ng-template #checkProfileImage>
          <i class="bi bi-person-circle"></i>
        </ng-template>


        <!-- Nom de l'utilisateur -->
        <p><i class="bi bi-person-gear"></i> {{ userdetaile.name }}</p>
       
        <!-- Statut (au bureau ou hors ligne) -->
        <p class="text-success"[ngClass]="status === 'hors ligne' ? 'text-danger' : 'text-success'">{{status}}</p>

          
        <!-- Affichage du compteur -->
        <div>
          <p>{{ counter }}</p>
        </div>
        <!-- Boutons d'arrivée et de départ -->
        <div class="buttons">
          <ng-container *ngIf="!isWeekend(); else noPointage">
            <button class="btn btn-success" (click)="onArrival()" [disabled]="status === 'au bureau'">
              Arrivée
            </button>
            <button class="btn btn-dark" (click)="onDeparture()" [disabled]="status === 'hors ligne'">
              Départ
            </button>
          </ng-container>

          <ng-template #noPointage>
            <img src="../../../assets/sleepy.gif" alt="sleepy" />
          </ng-template>
        </div>


      </div>
    </div>

    <!-- Informations d'arrivée 
    <div *ngIf="arrivalDate">
      <h5>Informations d'arrivée :</h5>
      <p>Heure d'arrivée : {{ arrivalDate | date: 'HH:mm:ss' }}</p>
    </div>

    Informations de départ 
    <div *ngIf="departureDate">
      <h5>Informations de départ :</h5>
      <p>Heure de départ : {{ departureDate | date: 'HH:mm:ss' }}</p>
    </div>-->

  </div>
  <!-- Section de chargement -->
  <div *ngIf="loading" class="loading-spinner">
    <div class="spinner"></div>
    <p>Chargement des utilisateurs...</p>
  </div>
  <!-- Section des autres utilisateurs (visible uniquement pour l'administrateur) -->
  <div *ngIf="!loading" class="d-flex flex-column rightcontent">
    <!-- Résumé des statuts -->
    <div class="status all" *ngIf="userdetaile.role === 'administrator'">
      <div class="status-summary">
        <p class="text-success" 
           data-bs-toggle="tooltip" 
           data-bs-placement="top" 
           title="Employés actuellement au bureau">
          <i class="bi bi-person-check"></i> 
          {{ GetAllusers.status_counts['au_bureau'] }}
        </p>
      
        <p class="text-danger"
           data-bs-toggle="tooltip" 
           data-bs-placement="top" 
           title="Employés actuellement hors ligne">
          <i class="bi bi-person-dash"></i> 
          {{ GetAllusers.status_counts['hors_ligne'] }} 
        </p>
      </div>
      
      
    </div>
<div class="listuser">
    <!-- Liste des autres utilisateurs -->
    <div   *ngFor="let item of filteredUsers" (click)="openPopup(item)">
      <div class="status all" *ngIf="item.role !== 'administrator' && item.id !== userdetaile.id">
        <!-- Image de profil ou icône par défaut -->
        <ng-container *ngIf="item.profile_image_url; else defaultImage">
          <div class="statprof">
            <img [src]="item.profile_image_url" alt="Image de profil" class="enteimg" />
            <sup [class]="item.status === 'au bureau' ? 'text-success' : 'text-danger'">
              <i class="bi bi-circle-fill"></i>
            </sup>
          </div>
        </ng-container>
        <ng-template #defaultImage>
          <div class="statprof">
            <i class="bi bi-person-circle"></i>
            <sup [class]="item.status === 'au bureau' ? 'text-success' : 'text-danger'">
              <i class="bi bi-circle-fill"></i>
            </sup>
          </div>
        </ng-template>

        <!-- Nom et statut de l'utilisateur -->
        <div class="conteneuruser">
          <p>{{ item.name }}</p>
          <p [class]="item.status === 'au_bureau' ? 'text-success' : 'text-danger'">{{ item.status.replace('_', ' ') }}</p>
        </div>
       
        <!-- Barre de progression pour le temps travaillé -->
        <div class="totalehourss" *ngIf="getCurrentWorkDay() as today">
          <div class="progress w-75">
            <div class="progress-bar"
                 [style.width]="getProgressPercentage(item?.counter || 0) + '%'"
                 [attr.aria-valuenow]="item?.counter || 0"
                 aria-valuemin="0"
                 [attr.aria-valuemax]="maxDailyHours">
              <span class="text">{{ formatDuration(item?.counter || 0) }} / 8h</span>
            </div>
          </div>
        </div>
        

      </div>
    </div>

  </div>
      <nav *ngIf="lastPage > 1" class="mt-4">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="onPageChange(currentPage - 1)"><i class="bi bi-caret-left"></i></a>
        </li>
    
        <li class="page-item" *ngFor="let page of [].constructor(lastPage); let i = index"
            [class.active]="currentPage === (i + 1)">
          <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
        </li>
    
        <li class="page-item" [class.disabled]="currentPage === lastPage">
          <a class="page-link" (click)="onPageChange(currentPage + 1)"><i class="bi bi-caret-right"></i></a>
        </li>
      </ul>
    </nav>
    <!-- Affichage des totaux -->
    <app-weekview [itemuser]="userdetaile"></app-weekview>

  </div>
  <ng-container *ngIf="userdetaile?.history?.length > 0; else chats">
    <div class="chats">
      <h1 class="text-center">Statistiques par jours </h1>
      <app-chart *ngIf="userdetaile?.history?.length > 0" [chartusers]="userdetaile"></app-chart>
    </div>
  </ng-container>

  <ng-template #chats>
  <div class="chats d-flex justify-content-center align-items-center flex-column">
   <p><b>Pas de  statistique</b></p>
   <img src="../../../assets/credit-score.gif" alt="location" class="icons w-25" />
  </div>
  </ng-template>

<!-- Modal pour afficher les détails de l'utilisateur -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Détails de {{ selectedUser?.name }}</h4>
      </div>
      <div class="modal-body">

        <!-- Afficher le compteur -->
        <p>Temps travaillé : {{ formatDuration(selectedUser?.counter || 0) }}</p>
        <div class="location d-flex">
          <img src="../../../assets/location.gif" alt="location" class="icons" />
          <p> {{ selectedUser?.location || 'Non disponible' }}</p>
        </div>

        <!-- Afficher la localisation -->

        <div *ngFor="let heur of  selectedUser.pointages ">
          <div class="arrive">
            <img src="../../../assets/busy.gif" alt="busy" class="icons" />
            <span> Arrivé : </span>{{heur.arrival_date}}
            <div class="location d-flex">
              <img src="../../../assets/location.gif" alt="location" class="icons" />
              <p> {{ selectedUser?.location || 'Non disponible' }}</p>
            </div>
          </div>
          <div class="depart">
            <img src="../../../assets/career.gif" alt="career" class="icons" />
            <span> Depart : </span> {{heur.last_departure}}
            <div class="location d-flex">
              <img src="../../../assets/location.gif" alt="location" class="icons" />
              <p> {{ selectedUser?.location || 'Non disponible' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="closePopup()">Fermer</button>
      </div>
    </div>
  </div>
</div>