.text_descrip{
    text-align: left;
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
}
   span.title_franchise
    {
    width: 266px !important;
    overflow: hidden!important;
    display: block!important;
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
}
.bloc-title{
display: flex;
color: #CC0070;
align-items: center;
padding-left: 15%;
font: normal normal normal 20px/16px Ubuntu;
}
.lienexterne a {
    font-size: 14px;
    font-weight: 600;
}
.title_franchise span.old_info  , .title_franchise span.old_info_supp {
    width: 266px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fiches:hover {
    background: #0081C7;
    color: #fff;
}
ngx-dropzone-remove-badge {
    align-items: center;
    background: #C94040 !important;
    border-radius: 50%;
    top: 33px !important;
}
span.addNum {
    color: #0081c7;
    font: normal normal  12px/22px Ubuntu;
    cursor: pointer;
}
.bloc-title span.title {
    display: grid;
    line-height: 14px;
    text-align: left;
    text-align: left;
    font: normal normal normal 20px/18px Ubuntu;
    letter-spacing: 0px;
    color: #CC0070;
    padding-left: 10px;
}
.nbr-fiche{
    font: normal normal bold 30px/35px Ubuntu;
    color: #CC0070  ;
    padding-left: 10px;
}

i.fa.fa-search {
    color: #CBCBCB;
    font-size: 14px;
}
img.popover__title {
    margin-left: 6px;
    margin-top: 13px !important;
}
span.nom-fiche {
    text-align: left;
    font: normal normal normal 10px/5px Ubuntu;
    letter-spacing: 0px;
    color: #707070;
    padding-left: 19px;
}

.fiches.small {
    width: fit-content;
}
.fiches span {
    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: justify;
}
::ng-deep .tooltip-inner {
    background-color: #0081c7;
    font: normal normal normal 12px/12px Ubuntu;
    color: #fff;
    display :table;
    width:800px;
}


  ::ng-deep .bs-tooltip-top .arrow::before {
    border-top-color: #68c6f9 !important;
  }
.fiches{
    color: #0081c7;
    padding-right: 10px;
    padding: 10px 10px 10px 10px;
    background: #fff;
    margin: 10px;
    border: 1px solid #CBCBCB;
    background: #fff;
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 20px;
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #0081C7;
    width: fit-content;
    display: inline-block;
    width: 232px;

}
sup.drapeau-etat {
    top: 0;
    vertical-align: middle;
    display: inline-block;
    margin: 10px 0px;
}
.form-check.drapeux {
    display: block;
 
}
sup.drapeau-etat img {
    width: 9px;
}

.list-fiches{
    padding-left: 10px;
    margin-top: 13px;
    height: 700px;
    overflow: auto;
    margin-bottom: 41px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;

  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;

    background-color: #cad1d7;
    -webkit-box-shadow: 0 0 1px #D9D9D9 ;
  }
.my_class
{
    color: #fff !important;
    background: #0081c7;
    border: 1px solid #0081c7;
}

.popover__content{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    width: auto;
}

.infos_franchise {
    display: block;
    border: 1px solid #ccc;
    border-radius: 1em;
}

img.logo_franchise {
    display: block;
    max-width: 100%;
    width: 100%;
    margin-bottom: 66px;
    border-radius: 1em;
}

i.fa.fa-pencil-alt {
    font-size: 12px;
    cursor: pointer;
    margin-top: 3px;
}
.desc_franchise{
    padding: 0 0% 0 20px;
}
span.title_franchise {
    display: block;
    font: normal normal normal 22px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    vertical-align: middle;
}
span.info_franchise {
    text-align: left;
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
}
.infos img {
    width: 21px;
    vertical-align: middle;
    display: inline-block;
}

.avatar.post.avatar-sm.rounded-circle {
    background-color: #0081C7;
    height: 40px;
    width: 40px;
    cursor: pointer;
}


.view-franchise {
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.4px;
    color: #CBCBCB;
    padding-right: 10px;
}
.view_fiche p {
    font: normal normal normal 18px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
}

img.show-fiche {
    width: 15%;
    height: 15px;
}

img.share-fiche {
height: auto;
width: 5%;
margin-left: 16px;
margin-right: 22px;
}

.infos_google a {
    display: block;
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    line-height: 20px;
    margin: 10px 0px;
}

span.dec_etab {
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    display: block;
}

button.fermer_etab {
    text-align: center;
    border: 1px solid #ccc;
    background: transparent;
    display: block;
    margin: 10px 0px;
    font: normal normal normal 12px/15px Ubuntu;
    letter-spacing: 0px;
    color: #0081c7;
    width: 63%;
    padding: 1% 1%;
    cursor: pointer;
    border-radius: 5px;
}
i.fa.fa-angle-up {
    float: right;
    color: #707070;
    margin-top: 3px;
}

span.info_title {
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #CBCBCB;
}

/******************************************************fiche spécifications*****************************************************/

.ficheselectionnees {
    color: #0081c7;
    padding-right: 10px;
    padding: 10px 10px 10px 10px;
    background: #fff;
    margin: 10px;
    border: 1px solid #0081c7;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
  font: normal normal normal 12px/12px Ubuntu;
  letter-spacing: 0.3px;
  color: #0081C7;

  }

  span.valueetiquette {
    background: #fff;
    padding: 4px 8px;
    border-radius: 100%;
    max-width: 20px;
    max-height: 23px;
    font-weight: bold;
    margin-left: 1px;
  }
  .infos-facultatifs input.form-control {
    padding-top: 0 !important;
  }
  .ficheselectionnees span.valueetiquette {
    border: 1px solid #0081c7;
  }
  textarea.form-control {
    padding-top: 0;
    min-height: 100px;
  }
  .ficheSpecifications span.valueetiquette {
    background: #fff;
    padding: 4px 8px;
    border-radius: 100%;
    max-width: 20px;
    max-height: 23px;
    border: 1px solid #cc0070;
    font-weight: bold;
    margin-left: 1px;
  }
  span.valueetiquette.my_value {
    color: #0081c7;
  }
  span.valueetiquette.my_valuespec {
    color: #cc0070;
  }
  .fichelocalisation {
    color: #fff;
    padding-right: 10px;
    background: #fff;
    margin: 10px;
    border: 1px solid #0081c7;
    background: #0081c7;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    padding: 10px 17px;
    margin-right: 7px;
    margin-left: 0;
}
.ficheselectionnees span.valueetiquette{
    border: 1px solid #0081c7;
}
/* .modal-body{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    align-items: center;
    left: 25%;
} */
.infos-posts{
    font: normal normal 18px/18px Ubuntu;
    letter-spacing: 0px;
    font-weight: bold;
    color: #5E5E5E;
}
.groupefiche , .groupeficheselct {
    display: inline-block;
}

.my_class1 {
    color: #fff !important;
    background: #0081c7;
    border: 1px solid #0081c7;
}

.modal-footer {
    text-align: center;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: relative;
    bottom: 0;
    top: 0%;
}

fieldset {
    border: 3px dashed #ccc;
    border-radius: 14px;
    padding: 9px 20px 20px 20px;
    margin: 31px 0px;
}


label.form-check-label{
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #CBCBCB;
    opacity: 1;
    padding-left: 6%;
    text-transform: uppercase;
}


.reviews-members.pb-2 {
    text-align: left;
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #CBCBCB;
    cursor: pointer;
}

legend {
    background-color: #fff;
    padding: 3px 5px 3px 7px;
    margin-left: -1%;
    width: auto;
}


.ficheSpecifications span.valueetiquette {
    background: #fff;
    padding: 4px 8px;
    border-radius: 100%;
    max-width: 20px;
    max-height: 23px;
    border: 1px solid #cc0070;
    font-weight: bold;
    margin-left: 1px;
  }

  span.valueetiquette.my_value {
    color: #0081c7;
  }
  .ficheSpecification {
    color: #cc0070;
    padding-right: 10px;
    margin: 10px;
    border: 1px solid #cc0070;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    padding: 10px 17px;
    margin-right: 7px;
    margin-left: 0;
}

  .fichelocalisation span, .ficheSpecification span{
    margin-right: 3px;
}

  span.valueetiquette.my_valuespec {
    color: #cc0070;
  }
  span.valueetiquette {
    background: #fff;
    padding: 4px 8px;
    border-radius: 100%;
    max-width: 20px;
    max-height: 23px;
    font-weight: bold;
    margin-left: 2px
}
.listetiquette .ficheselectionnees {
    padding: 10px 10px 9px 10px;
}
.listetiquette span.valueetiquette {
    margin-left: -5px;
    padding: 4px 6px 5px 8.8px;
}

  .groupeficheselct .ficheSpecification {
    background: #cc0070 !important;
    color: #fff!important;
}
  .fiche_spec {
    background: #cc0070 !important;
    color: #fff!important;
}

  .ficheSpecifications {
    color: #cc0070;
    padding-right: 10px;
    margin: 10px;
    border: 1px solid #cc0070;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    padding: 8px 17px 7px 2px;
    margin-right: 7px;
    margin-left: 0;
}


/*************************** fin bloc add etiquette**************************/




/**********************bloc ajout utilisateur***************************/

button.add_user  {
    text-align: center;
    color: #0081C7;
    opacity: 1;
    border: 1px solid #ccc;
    display: block;
    margin: 10px 0px;
    font: normal normal normal 12px/15px Ubuntu;
    letter-spacing: 0px;
    color: #0081C7;
    width: 50%;
    padding: 2% 2%;
    cursor: pointer;
    display: block;
    margin: 0px auto;
    border-radius: 3px;
}

button.add_groupe  {
    text-align: center;
    opacity: 1;
    border: 1px solid #ccc;
    display: block;
    font: normal normal normal 12px/15px Ubuntu;
    letter-spacing: 0px;
    color: #0081C7;
    background: transparent;
    width: auto;
    padding: 2% 1%;
    cursor: pointer;
    display: inline;
    margin: 0px 2px;
}
/******************gestion utilisateur******************/
.modal-body.modifEtablissement.categ {
    display: block;
    max-height: 631px;
    height: 563px;
    padding-right: 42px;
    overflow-y: scroll;
    width: 45%;
    left: 0;
}
p.suppfiche.text-left {
    font-weight: 500;
    line-height: 23px;
    font-size: 16px;
}
.modal-footer button.btn.btn-outline {
    padding: 7px 24px!important;
}
img.photo-profil {
    width: 100%;
    border-radius: 100%;
}
.suppfiche p.title-fiche {
    font: normal normal bold 21px/20px Ubuntu !important;
}
i.fa.fa-times {
    font-size: 12px;
    color: #707070;
    cursor: pointer;
}
.listcatsuppi .fa.fa-times {
    font-size: 17px;
}
span.type_user {
    font: normal normal 14px/28px Ubuntu;
    letter-spacing: 0px;
    color: #707070;
    text-transform: capitalize;
    font-weight: bold;
    overflow: hidden!important;
    display: block!important;
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
}
.ng-dropdown-panel.ng-select-bottom {
    overflow-x: scroll;
    top: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: -1px;
}
button.supp_profil {
    text-align: center;
    color: #fff;
    border: 1px solid #C94040;
    font: normal normal normal 12px/13px Ubuntu;
    width: 50%;
    padding: 2% 5%;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    background: #C94040;
}
p.title-fiche {
    font: normal normal bold 24px/20px Ubuntu;
    letter-spacing: 0px;
    color: #C94040;
}
p.infos-fiche {
    text-align: center;
    font: normal normal normal 12px/14px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
}
button.btn.btn-annulation {
    background: transparent;
    color: #dddddd;
    border: none;
    font-weight: 500;
    margin-left: 10%;
    font-size: 0.875rem;
    border: 1px solid #dddddd;
    padding: 7px 4px;
    border-radius: 1.375rem;
}
.listusers{
    padding-right: 6%;
    overflow-y: scroll;
    max-height: 220px;
    display: block;
    overflow-x: hidden;
}
/**********************popup ajout photos*************************/
span.info_franchise.photos {
    cursor: pointer;
}
.add_img {
    width: 100%;
}
.custom-dropzone {
    margin: 0 auto;
    height: 99px;
    border: 2px dashed #CBCBCB;
    border-radius: 10px;
}
i.fa.fa-download {
    color: #CBCBCB;
}
span.ng-clear-wrapper {
    display: none;
}
.modal-body.ContenuPhoto.text-center {
    width: 40%;
}
ngx-dropzone-label {
    text-align: center;
    z-index: 10;
    width: 100%;
}
ngx-dropzone-image-preview {
    width: 100%;
}
.add_img h2 {
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.3px;
}
.ContenuPhoto li.list-group-item {
    border: none;
}
span.itemList {
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #707070;
    padding-left: -1%;
    margin-left: 16px;
}
.ContenuPhoto ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}
button.btn.btn-pub {
    background: #0081c7;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
}
.btncnx {
    font-weight: 600;
    color: #525f7f;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.375rem;
}
.modal-body.ContenuPhoto {
    width: 38% !important;
    margin: 75px auto;
}
/********************popup*********************/
span.title_modifE {
    font: normal normal bold 20px/30px Ubuntu;
    letter-spacing: 0px;
    color: #5e5e5e;
    display: block;
    text-align: left;
}
.libelles input.form-control {
    border: none !important;
}
.libelles .btn-sm {
    margin-top: 9px;
}
.modifEtablissement
{
    width: 40%;
    right: 0;
    margin: 118px auto 2px;
    left: 0;
    background: url(/assets/Avis/background-avis.svg);
    background-repeat: no-repeat;
    background-position: bottom 0px center;
    padding: 0;
}

.modifEtablissement button.btn.btn-pub
{
        background: transparent;
        font: normal normal bold 12px/22px Ubuntu;
        color: #0081c7;
        padding: 7px 18px;
}

.modifEtablissement button.btn.btn-annulation {
    color: #5E5E5E;
    border: none;
    padding: 7px 18px;
    margin-left: 1%;

}
.modifEtablissement .btncnx

{
    display: inline-block;
    text-align: right;
    width: 100%;
}

.modifEtablissement p {
    font: normal normal normal 16px/25px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
}


/*
.modifEtablissement input.form-control {
    border: 1px solid #ccc;
} */

/* .modifEtablissement .input-group.input-group-alternative {
    border: none !important;
} */

.modifphone .form-control {
    border: initial;
    border-radius: initial!important;
    border: none;
}
select.form-control.selectcat {
    border-bottom: 1px solid #ccc !important;
}

.selectcat p {
    font: normal normal normal 12px/25px Ubuntu !important;
    letter-spacing: 0px;
}
button.btn.btn-add_prod {
    background: transparent;
    color: #dddddd;
    border: none;
    text-align: center;
    color: #0081C7;
    display: block;
    margin: 10px 0px;
    font: normal normal normal 12px/15px Ubuntu;
    letter-spacing: 0px;
    color: #fff;
    background: #0081C7;
    cursor: pointer;
    margin: 0 auto;
}


button.btn.btn-pub_prod {
    color: #0081c7;
    border: 1px solid #0081c7;
    background: #fff;
    text-align: center;
    display: block;
    margin: 10px 0px;
    font: normal normal normal 12px/15px Ubuntu;
    letter-spacing: 0px;
    cursor: pointer;
    margin: 0 auto;
    margin-left: 10px;
}

span.ng-clear-wrapper {
    display: none !important;
}
.iti {
    position: relative;
    display: inline-block;
    width: 100%;
}

span.btnAddHoraires {
    background: transparent;
    font: normal normal bold 11px/22px Ubuntu;
    color: #0081c7;
    padding: 6px 7px;
    cursor: pointer;
}


.libelles button.btn.btn-annulation {
    color: #5E5E5E;
    border: none;
    padding: 7px 18px;
    margin-left: 1%;
}
.libelles  .btncnx {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.libelles button.btn.btn-pub {
    background: transparent;
    font: normal normal bold 12px/22px Ubuntu;
    color: #0081c7;
    padding: 7px 18px;
}


/************services*********/

.modal-body.modifEtablissement.services {
    width: 64%;
    margin: 0 auto;
}

.services table {
    border: 1px solid;
    border-radius: 8px;
    background-color: #fff;
    border-width: 0;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    padding: 10px 20px;
}


.services thead span {
    display: block;
}
.services .table td, .services .table th{
    padding: 10px 3% !important;
}
span.title_cat {
    font-weight: 900;
    font-size: 19px;
}

th.title_service {
    color: #5f6368;
    font: normal normal bold 12px/22px Ubuntu;
    margin: 4px 0 4px 0;
    border-top: .5px #dadce0 solid !important;
    width: 100%;
}

thead {
    background: #f1f3f4;
}

.details_service i.fa.fa-chevron-right {
    font-weight: bold;
    font-size: 20px;
    color: #5f6368;
    float: right;
    padding-right: 10px;
}
.add_service i.fa.fa-plus {
    padding-right: 10px;
}
.services tr {
    cursor: pointer;
}

.add_service{
    color: #0081c7;
}


.service {
    padding-right: 10px;
    padding: 5px 9px 5px 9px;
    background: #fff;
    margin: 10px;
    border: 1px solid #ccc;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    font: normal normal normal 13px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #5f6368;
}
.service:hover {
    border: 1px solid #ccc;
    background: #e5e6e7;
}
.service i.fa.fa-plus {
    padding-right: 8px;
}


.add_service_perso {
    color: #0081c7;
    cursor: pointer;
    border: 1px solid #fff;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font: normal normal normal 14px/12px Ubuntu;
}
.listcatsupp .ng-select-container {
    width: 93% !important;
}
.listcatsupp .autreservice {
    display: flex!important;
}

.listcatsupp .addcat {
    width: 100%;
}

.add_service_perso:hover {
    color: #0081c7;
    background: #e8f0fe;

}


.addserviceperso
{
    color: #0081c7;
    cursor: pointer;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    padding: 3px 13px 3px 4px;
    border-radius: 8px;
    font: normal normal normal 16px/12px Ubuntu;
    width: 100%;
}
.groupe_service {
    display: block;
    width: 90%;
    max-height: 631px;
    padding-right: 19%;
    height: 489px;
    top: 0px;
    top: 0px;
    overflow-y: scroll;
}
.autreservice {
    display: inline-block;
    width: 100%;
}

input#name_serviceperso {
    padding: 11px 20px;
    border: none;
    outline: none;
    width: 92%;
}



.autreservice i.far.fa-trash-alt {
    padding-top: 10px;
    margin-left: -10px;
    cursor: pointer;
    color: #0081c7;
    opacity: 1;
    z-index: 999;
}
.my_class {
    color: #fff!important;
    background: #0081c7;
    border: 1px solid #e8f0fe;
}


.attributselected {
    background-color: #e8f0fe;
    border-color: #d2e3fc;
    color: #1967d2 !important;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: left;
    padding: 5px 9px 5px 9px;


}
.service.Closed {
    background-color: #e8eaed;
    border-color: #dadce0;
    color: #3c4043;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: left;
    padding: 5px 9px 5px 9px;
}
.service.Closed img {
    width: 23px;
}


.categ span.title {
    font-weight: 500;
    font: normal normal 16px/25px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    display: block;
}
.Ouverture .infos{
    font: normal normal normal 12px/25px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    display: block;
}
.Ouverture ng-select {
    width: 100%;
    border: none;
    margin-top: 12px;
}
.service.class2 {
    background-color: #e8eaed;
    border-color: #dadce0;
    color: #3c4043;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: left;
    padding: 5px 9px 5px 9px;
}
.attributnotselected{
    background-color: #e8eaed;
    border-color: #dadce0;
    color: #3c4043;
}

span.new_service {
    display: block;
    color: #5f6368;
    font: normal normal bold 16px/34px Ubuntu;
}

span.type_service {
    color: #70757a;
    line-height: 17px;
    display: block;
    font: normal normal 12px/34px Ubuntu;
}

.groupe_service p{
    color: #70757a;
    line-height: 17px;
    display: block;
    font: normal normal 14px/34px Ubuntu;
}



.modifEtablissement.services .btncnx {
    text-align: center;
}




.addcatperso span.ng-arrow-wrapper {
    display: none !important;
}


.addcatperso {

    display: inline-flex;
    width: 100%;
    height: 48px;
    margin: 7px 15px 5px 15px;
    position: relative;
    border: none;
    border-bottom: 1px solid #dadce0;
}



.ng-select-container input {
    width: 100%!important;
    border: none!important;
    padding: 10px 10px !important;
}
.addcatperso ng-select {
    width: 100%!important;
    border: none!important;
    margin-top: 10px!important;
}
.editcat {
    display: inline-block;
    padding-right: 3%;
    padding-top: 10px;
}
.groupe_categorie {
    height: 523px;
}

.groupe_categorie .btncnx {
    position: fixed;
    bottom: 0px;
}

.groupe_categorie {
    height: 447px;
    max-height: 556px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 5%;
    padding-right: 10%;
}

.delete_cat{
    float: right;
    color: #0081c7;
    font-size: 13px;
    float: right;
    padding-right: 16px;
    cursor: pointer;
}


.listservice {
    /* display: block;
    width: 82%;
    max-height: 614px;
    overflow-y: scroll; */
}

.listJours{
    display: inline-flex;
}
.listJours ui-switch {
    padding-left: 20%;
}
.info_franchise {
    text-align: left;
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
}
.ng-option:first-child {
    background: green !important;
    color: red !important;
}
.categorie i.fa.fa-plus {
    color: #0081c7;
}
.categorie:hover {
    background: #8898aa17;
}

.deletehoraires {
    font: normal normal bold 12px/22px Ubuntu;
    color: #0081c7;
    cursor: pointer;
}

.horaireE{
    padding-left: 10px;
    margin-top: 0;
    height: 636px;
    min-height: 400px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 0;
}
a {
    color: #0081c7 !important;
}

p {
    font: normal normal normal 14px/20px Ubuntu;
    letter-spacing: 0px;
    color: #5f6368;
}

.categorie {
    padding-right: 10px;
    padding: 5px 10px 5px 10px;
    background: #fff;
    margin: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    border-radius: 13px;
    font: normal normal normal 16px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #5f6368;
}
.table-horaire tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.table-horaire td.title_service {
    border: none;
}
td.title_service {
    font: normal normal bold 12px/22px Ubuntu;
}
span.name_categorie {
    background: transparent;
    font: normal normal bold 12px/22px Ubuntu;
}



.horssupp {
    padding-left: 10px;
    margin-top: 0;
    height: 636px;
    min-height: 400px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 0;
    left: 5%;
}

/*************add product*************/
.modal-body.modifEtablissement.addproduct{
    display: block;
    width: 85%;
    top: 0px;
    left: 0%;
    padding-right: 42px;
    overflow-y: scroll;
}

.formprod {
    display: block;
    width: 65%;
    top: 0px;
    top: 48%;
    margin-left: 16%;
    padding-right: 0;

}

input.form-control.ng-touched.ng-dirty.ng-invalid {
    border-bottom: 1px solid red !important;
    border-radius: initial!important;
}
.groupefiche i.fa.fa-times {
    color: #fff;
}
.filtrefiche .tooltip .tooltiptext {
    width: 182px !important;
    height: 253px !important;
    padding: 12px 12px!important;
    border-radius: 10px;
}
label.form-check-label.listoption {
    text-align: left;
    font: normal normal normal 12px/30px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    opacity: 1;
    text-transform: none;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}
.form-check.fiterradio {
    padding: 0px 0px 0px 30px;
}
.groupeRadio {
    margin-bottom: 14px;
}
.form-check.fiterradio input#Modification {
    display: inline-block;
    vertical-align: middle;
    margin-top: 9px;
}
.classement label.form-check-label.listoption {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0px;
}
.form-check img {
    margin: 0 1px;
  cursor: pointer;
}
i.fa.fa-exclamation-triangle {
    color: #c94040;
}
.select_photo button {
    text-align: center;
    color: #0081C7;
    display: block;
    margin: 10px 0px;
    font: normal normal normal 12px/15px Ubuntu;
    letter-spacing: 0px;
    color: #fff;
    background: #0081C7;
    width: 42%;
    padding: 2% 2%;
    cursor: pointer;
    margin: 0 auto;
}
.select_photo span{

    display: block;
    margin: 10px 0px;
    font: normal normal normal 14px/30px Ubuntu;
}


.addproduct .custom-dropzone {
    margin: 0 auto;
    height: 200px;
    border: 2px dashed #CBCBCB;
    border-radius: 10px;
}
.modifEtablissement a {
    color: #0081c7;
}

/**********zone********/
.listzone {
    display: flex;
}
span.deletezone {
    font: normal normal bold 14px/22px Ubuntu;
    color: #0081c7;
    cursor: pointer;
}
.listzone span {
    display: contents;
}
.listzone i.fa.fa-times {
    margin-top: 5px;
    margin-left: 10%;
    color: #c94040 !important;
    font-size: 12px;
}
.infos .imgzone img {
    width: 18px !important;
    display: block;
}

/***********Attribut***********/

span.type_attribut {
    font: normal normal bold 18px/48px Ubuntu;
    letter-spacing: 0px;
    color: #5e5e5e;
    display: block;
    text-align: left;
}
.service i.fa.fa-check {
    padding-right: 8px;
}
.Attributs2 {
    max-height: 631px;
    height: 180px;
    top: 0px;
    overflow-y: scroll;
}
.modal-body.modifEtablissement.Attributs {
    width: 55%;
    left: 0%;
}


/****************adresse********/
.modal-body.modifEtablissement.Adresse {
    display: block;
    /* max-height: 631px;
    height: 623px; */
    top: 0%;
    width: 89%;
    left: 6%;
    padding-right: 65px;
    overflow-y: scroll;
}
span.add_ligne {
    font: normal normal 12px/22px Ubuntu;
    color: #0081c7;
    cursor: pointer;
}
.supp_add {
    font: normal normal bold 14px/22px Ubuntu;
    color: #0081c7;
    cursor: pointer;
}

.supp_adresse {
    background-color: #fef7e0;
    color: #202124;
    font-size: 12px;
    margin-top: 12px;
    padding: 8px 12px;
}


.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }

  .map-frame {
    border: 2px solid black;
    height: 100%;
  }

  #map {
    height: 100%;
  }


  .tooltip {
    opacity: 1;
    right: 0;
    left: 94%;

  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 143px;
    height: 188px;
    color: #555;
    text-align: left;
    border-radius: 6px;
    padding: 14px 22px;
    margin: 0 auto;
    display: block;
    font: normal normal bold 14px/22px Ubuntu;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);
    position: relative;
    top: 0;
    right: 0%;
    opacity: 1;
    z-index: 9999;
    transition: opacity 0.3s;

  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .tooltip:hover i.far.fa-question-circle{
   color: #0081c7;
  }



  span.info_franchise.jourshashoraire {
    color: #eba10f;
}
.jourshashoraire span.info_franchise {
    color: #eba10f;
}
  .singleClass .col-lg-1:after {
    content: "";
    display: block;
    width: 2px;
    background-color: #eba10f;
    height: 125px;
    margin-top: 9px;
    margin-left: 8px;
}


.tab-content-group {
    width: 200px;
    overflow: hidden;
    width: 600px;
    display: grid;
    grid-template-columns: 190px 190px 190px;
    align-items: start;
    justify-content: space-between;
}
.tabs {
    min-width: 100%;
    max-width: 800px;
    padding: 5px;
    margin: 10px auto;
    background: #fff;
  }

  .tab {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 12px;
    text-align: center;
    color: #555;
    border: 1px solid transparent;
    cursor: pointer;

  }
  ul.tab-group {
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 26%);
    overflow: hidden;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: -4px;
    margin-left: auto;
}

  .icon {
    margin-right: 10px;
  }

  .tab.active {
    border-bottom: 2px solid #0081c7;
    color: #0081c7;
  }

  .tab-content {
    padding: 34px 20px;
    line-height: 1.6rem;
  }
  .tab-content-group {

}
span.titlecat {
    font: normal normal 14px/30px Ubuntu;
    letter-spacing: 0px;
    color: #5e5e5e;
    display: block;
    padding-left: 4%;
    text-align: left;
}
  .detailsprod {
    display: block;


    border: 1px solid #ccc;
    margin: 3% 5%;
    padding-bottom: 20px;
    border-radius: 7px;
}
img.img-prod {
    max-width: 100%;
    max-height: 100%;
}
.editprod i.fa.fa-trash-alt {
    font-size: 20px;
    background: #fff;
    cursor: pointer;
    color: #5e5e5e;
    top: 20%;
    right: 18%;
    height: 30px;
    width: 30px;
    padding: 0 9px 0 3px;
    line-height: 30px !important;
    position: absolute;
    border-radius: 50%;
}

.modal-body.modifEtablissement.ZonesDesservies {
    width: 53%;
    left: 0%;
}

.zonesdesservies {
    display: block;
    width: 100%;
    max-height: 631px;
    height: 167px;
    top: 0px;
    top: 48%;
    left: 23%;
    padding-right: 65px;
    overflow-y: scroll;
}

.editprod i.fa.fa-trash-alt:hover {
    font-size: 13px;
    background: #ccc;
    color: #000;

}
  .imgprod {
    height: 123px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
span.etat_etab {
    font: normal normal normal 16px/18px Ubuntu;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #5e5e5e;
}
button.btn-examen {
    background: transparent;
    color: #5e5e5e;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid #5e5e5e;
    margin-left: 2%;
    border-radius: 1.375rem;
    padding: 3px 9px;
    width: auto;
}
span.delete_etab {
    font: normal normal normal 13px/14px Ubuntu;
    letter-spacing: 0px;
    color: #2c2a2a;
}

.bloc-fermeture{
    border: 1px solid #ccc;
    border-radius: 1em;
}
.bloc-ferm{
    background: #c94040;
    height: 10px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.tempo {
    padding: 2px 23px 5px 23px;
}

.old_info_supp
{
    color: #c94040;
    display: block;
    text-decoration: line-through;
    font: normal normal normal 12px/15px Ubuntu;
    letter-spacing: 0px;
}

.old_info {
    color: #c94040 !important;
}
span.info_franchise span {
    vertical-align: middle;
    display: inline-block;
}
.info_franchise.d {
    font: normal normal bold 11px/18px Ubuntu;
}
 table.table.align-items-center.table-flush.table-horaire.tableau-bord td.title_service {
    padding: 0;
}

table.table.align-items-center.table-flush.table-horaire.tableau-bord td span.title_service.hours {
    padding-left: 96px;
    font-weight: normal;
}
td.title_service.jours.ng-star-inserted {
    width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}
table.table.align-items-center.table-flush.table-horaire.tableau-bord tr {
    border: none;
}
.info_franchise.date {
    margin-top: 5px;
}
.info_sups {
    color: #c94040;
    display: block;
    text-decoration: none;
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
}
img.settingcorbeille.supp {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

span.avatar.avatar-md.rounded-circle img {
    width: 20px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    bottom: -13px;
    position: relative;
}
.medium_screen .avatar {
    display: block;
    background: #fff;
    cursor: pointer;
    height: 48px;
    width: 48px;
}
i.fa.fa-circle.mod {
    color: #C94040;
    font-size: 5px;
}
.fa-circle:before {
    content: "\f111";
}
.fa-times-thin:before {
    content: "×";
}
i.cross {
    font-size: 40px;
    color: rgba(112, 112, 112, 0.32);
    cursor: pointer;
    z-index: 99;
    padding: 0;
    margin: 0 auto;
}
.delete-utilisateur {
    padding: 0px 18px 0px 39px;
    margin: 0 auto;
    display: block;
}
.media.one-etiquette {
    background: #0081C7;
    border-radius: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 6px 12px 6px 12px;
}
.avatar.post img {
    width: 20px;
    border-radius: 0;
}
.one-etiquette .view-franchise {
    color: #fff;
    cursor: pointer;
}
@media (min-width: 1025px){
    .media.one-etiquette {
        margin-left: 99px;

    }
sup.sup-b {
    top: -25px;
    left: 7px;
}}
@media (min-width: 1440px){
    .media.one-etiquette {
        margin-left: 163px;

    }
sup.sup-b {
    top: -25px;
    left: 7px;
}

}
@media (min-width: 1992px){
    .media.one-etiquette {
        margin-left: 47%;

    }
sup.sup-b {
    top: -25px;
    left: 7px;
}}
