
<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
    
        <div class="modal-body ContenuPhoto">
            <p class="title-fiche text-center text-general"> Importer une photo</p>
            <!-- Form starts -->
            <form [formGroup]="AddPhotoForm" (ngSubmit)="onSubmit()">
              <div class="custom-dropzone" ngx-dropzone  accept=".webp, .gif, .png, .jpg, .jpeg" (change)="onSelect($event)">
      
                <ngx-dropzone-label>
                  <div class="row row pl-0 pr-0 ml-0 mr-0">
                    <div class="col-xl-7">
                      <img  class="icon-modal" src='./assets/photos/picto-img-blue.svg' alt="Photos wallpost" style="width: 11%;">
                      <div class="text-justifier">
                      <span class="change-picture">Importer votre photo <br>
                        <span class="change-picture-1">Photo
                          Gif, Jpeg, Png, Webp
                      </span>
                      </span>
                  </div>
                    </div>
                    <div class="col-xl-5">
                      <i class="fas fa-upload"></i>
                    </div>
                  </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files_dropped"
                  formControlName="file" [file]="f" [multiple]="false" [removable]="true" (removed)="onRemove(f)">
                </ngx-dropzone-image-preview>
              </div>
      
              <div>
                <ul>
                  <li class="list-group-item" *ngFor="let item of checklist">
                    <input type="checkbox" value="{{item.id}}" [attr.disabled]=" item.isDisabled ? true : null"
                      [checked]="checked"  (change)="isAllSelected(item)" formControlName="Category"
                      name="Category" />
                    <span class="itemList">{{item.value}} </span>
                  </li>
                </ul>
      
              </div>
      
      
      
              <span class="nom-fiche"> Type de photo</span>
              <ng-select [items]="TypePhotos" [(ngModel)]='setSelected' bindLabel="name"
                [placeholder]="placeholder"  formControlName="Type_photo">
              </ng-select>
      
              <div class="btncnx mt-3">
      
                <button type="submit" class="btn btn-pub" (click)= valueChanged()>Publier</button>
                <button type="button" class="btn btn-annulation" (click)="FermerAdd()">Annuler</button>
              </div>
            </form>
    
          </div>

      </div>
    </div>
  </div>
