p.title-fiche {
    font: normal normal bold 24px/20px Ubuntu;
    letter-spacing: 0px;
    color: #C94040;
}
.ContenuPhoto li.list-group-item {
    border: none;
    display: inline-block;
}

.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
span.change-picture-1{
    font-size: 11px;
    font-weight: 300;
    color: rgb(112 112 112 / 42%);
}
.text-justifier {
    display: inline-block;
}
span.change-picture {
    text-align: justify;
    font: normal normal bold 10px/16px Ubuntu;
    letter-spacing: 0.38px;
    color: #707070;
    display: block;
}
img.icon-modal {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 5%;
}
.ContenuPhoto ul {
    padding: 0;
}
.modal-body {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-23%);
    width: 50%;
    align-items: center;
    left: 25%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(217 217 217);
    -webkit-box-shadow: 0 0 1px rgb(217 217 217);
  }

  .add_img {
    width: 100%;
}
  .custom-dropzone {
    margin: 0 auto;
    height: 99px;
    border: 2px dashed #CBCBCB;
    border-radius: 10px;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    color: #717386;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    overflow-x: auto;
}
ngx-dropzone-remove-badge {
    align-items: center;
    background: #C94040 !important;
    border-radius: 50%;
    top: 33px !important;
}
ngx-dropzone-label {
    text-align: center;
    z-index: 10;
    width: 100%;
}
ngx-dropzone-image-preview {
    width: 100%;
}

.add_img h2 {
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.3px;
}

span.itemList {
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #707070;
    padding-left: -1%;
    margin-left: 16px;
}

.custom-dropzone {
    margin: 0 auto;
    height: 99px;
    border: 2px dashed #CBCBCB;
    border-radius: 10px;
}