<div class="container">
    <div class="modal-condtions-utilisation">
        <h1>Contenu interdit et soumis à des restrictions</h1>
        Les règles suivantes s'appliquent à tous les formats, y compris aux avis, photos et vidéos. Le contenu qui ne
        respecte pas ces critères peut être refusé et donc ne pas être publié sur Google Map<br>
        Les contributions à Google Maps doivent représenter de façon exacte le lieu concerné. Si une contribution est
        susceptible d'induire en erreur les autres utilisateurs, nous en supprimons le contenu. Cela s'applique aux
        avis, photos ou vidéos qui n'ont aucun rapport avec le lieu ou l'établissement associé. Si le contenu est mal
        positionné sur la carte ou s'il n'est pas associé à la bonne fiche, la contribution peut être refusée.<br>
        Les avis font l'objet d'un traitement automatique pour détecter les contenus inappropriés (comme les faux avis
        et le spam). Nous pouvons être amenés à supprimer des avis signalés afin de respecter les règles de Google ou
        des obligations légales.<br>
        <h2>Échanges courtois</h2>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel id="toggle-1" title="Harcèlement">
                <ng-template ngbPanelContent>
                    Nous n'autorisons pas les utilisateurs à publier de contenu visant à <a class="glossary-term"
                        data-answer="11411386"
                        href="https://support.google.com/contributionpolicy/answer/11411386?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">harceler</a> d'autres personnes ou
                    entreprises, ni à encourager des tiers à participer à du harcèlement.<br>
                    Par exemple :
                    <ul>
                        <li>
                            Contenu présentant une menace spécifique à l'encontre d'individus ou de groupes de personnes
                            définis, susceptible de provoquer chez une personne raisonnable une crainte pour sa santé
                            mentale ou physique, ou son bien-être
                        </li>
                        <li>
                            <a class="glossary-term" data-answer="11416422"
                                href="https://support.google.com/contributionpolicy/answer/11416422?hl=fr&amp;ref_topic=11410564"
                                rel="noopener" target="_blank" data-stats-ve="40" data-outlined="false">Doxxing</a>
                        </li>
                    </ul><br>
                    Contenu entraînant la sexualisation ou l'objectification non désirées d'une personne, y compris des
                    allégations sur ses activités, son orientation ou son identité sexuelles
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-2" title="Incitation à la haine">
                <ng-template ngbPanelContent>
                    Les produits Google Maps sont conçus pour aider les utilisateurs à parcourir et explorer le monde
                    qui les entoure. Chez Google, nous pensons que tous les individus, indépendamment de leur origine
                    ethnique, religion, handicap, âge, nationalité, statut d'ancien combattant, orientation sexuelle,
                    sexe, identité sexuelle, caste ou tout autre statut protégé, ont le droit d'accéder aux informations
                    et de participer à leur échange sans être victime d'<a class="glossary-term" data-answer="11412392"
                        href="https://support.google.com/contributionpolicy/answer/11412392?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">incitation à la haine</a>
                    Il est interdit de publier ou de partager du contenu incitant à la haine.<br>
                    Par exemple : <br>
                    <ul>
                        <li>Incitations directes à des actes de violence contre des individus ou des groupes protégés
                        </li>
                        <li>Contenus qui déshumanisent, dévalorisent ou calomnient des individus ou des groupes en
                            fonction d'une caractéristique protégée </li>

                    </ul><br>
                    Nous autorisons les contenus incluant des références positives à un individu ou un groupe protégés.


                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-3" title="Contenu choquant">
                <ng-template ngbPanelContent>
                    Google Maps doit être un lieu où règne le respect entre utilisateurs, même en cas de désaccord.
                    C'est pourquoi nous n'autorisons pas les utilisateurs à publier du <br>
                    Par exemple : <br>
                    <ul>
                        <li>Utilisation de produits Google pour attaquer des individus ou des groupes </li>
                        <li>Contenu clairement et délibérément provocateur </li>
                        <li>Allégations infondées de comportement malhonnête ou d'actes criminels</li>

                    </ul><br>
                    Nous autorisons le contenu qui décrit des expériences négatives, mais de manière respectueuse.


                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-4" title="Informations personnelles">
                <ng-template ngbPanelContent>
                    Nous interdisons tout contenu comportant des renseignements privés ou confidentiels (informations
                    relatives à une carte, dossiers médicaux, numéro d'identification délivré par une administration,
                    etc.), qu'il s'agisse d'informations vous concernant ou concernant des tiers.
                </ng-template>
            </ngb-panel>
        </ngb-accordion><br>

        <h2>Contenu trompeur</h2>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel id="toggle-1" title="Désinformation">
                <ng-template ngbPanelContent>
                    Les informations fausses, inexactes ou trompeuses peuvent causer des dommages considérables aux
                    individus, aux entreprises et à la société en général. C'est pourquoi nous n'autorisons pas les
                    utilisateurs
                    <a class="glossary-term" data-answer="11411081"
                        href="https://support.google.com/contributionpolicy/answer/11411081?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">à désinformer</a><br>
                    Par exemple :<br>
                    <ul>
                        <li>
                            Contenu nuisible contenant des informations médicales ou de santé trompeuses
                        </li>
                        <li>
                            Contenu nuisible contenant des informations trompeuses sur des processus civiques
                        </li>
                        <li>
                            Contenu nuisible sur des actualités ou des discours civiques ayant été modifiés pour induire
                            en erreur les utilisateurs
                        </li>
                    </ul><br>
                    Nous autorisons le contenu provenant de sources fiables et vérifiables.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-2" title="Usurpation d'identité">
                <ng-template ngbPanelContent>
                    L'utilisation de Google Maps pour tromper d'autres utilisateurs va à l'encontre de notre objectif de
                    fournir des informations utiles pour aider les utilisateurs lorsqu'ils explorent le monde qui les
                    entoure.
                    N'utilisez pas Google Maps pour<br><a class="glossary-term" data-answer="11412393"
                        href="https://support.google.com/contributionpolicy/answer/11412393?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">usurper l'identité</a> d'une personne, d'un
                    groupe ou d'une organisation.
                    Par exemple : <br>
                    <ul>
                        <li>Contenu publié ou partagé visant à usurper l'identité d'une personne, d'un groupe ou d'une
                            organisation </li>
                        <li>Contenu qui se fait passer pour une source fiable d'informations </li>

                    </ul><br>
                    Nous autorisons le contenu comportant des noms alternatifs pour une personne ou une organisation
                    lorsque l'objectif n'est pas de tromper autrui.


                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-3" title="Contenu choquant">
                <ng-template ngbPanelContent>
                    Google Maps doit être un lieu où règne le respect entre utilisateurs, même en cas de désaccord.
                    C'est pourquoi nous n'autorisons pas les utilisateurs à publier du <br>
                    Par exemple : <br>
                    <ul>
                        <li>Utilisation de produits Google pour attaquer des individus ou des groupes </li>
                        <li>Contenu clairement et délibérément provocateur </li>
                        <li>Allégations infondées de comportement malhonnête ou d'actes criminels</li>

                    </ul><br>
                    Nous autorisons le contenu qui décrit des expériences négatives, mais de manière respectueuse.


                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-4" title="Informations personnelles">
                <ng-template ngbPanelContent>
                    Nous interdisons tout contenu comportant des renseignements privés ou confidentiels (informations
                    relatives à une carte, dossiers médicaux, numéro d'identification délivré par une administration,
                    etc.), qu'il s'agisse d'informations vous concernant ou concernant des tiers.
                </ng-template>
            </ngb-panel>
        </ngb-accordion><br>

        <h2>Contenu réservé à un public averti</h2>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel id="toggle-1" title="Langage obscène et grossier">
                <ng-template ngbPanelContent>
                    Tout <a class="glossary-term" data-answer="11411184"
                        href="https://support.google.com/contributionpolicy/answer/11411184?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">contenu obscène et grossier</a> publié sur
                    Google Maps sera supprimé<br>
                    Par exemple :<br>
                    <ul>
                        <li>
                            Contenu utilisant du langage obscène ou vulgaire visant à choquer d'autres utilisateurs ou à
                            mettre en avant les critiques </li>
                    </ul><br>
                    Nous autorisons les utilisations inoffensives de mots pouvant être considérés comme grossiers dans
                    d'autres contextes.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-2" title="Contenu à caractère sexuel explicite">
                <ng-template ngbPanelContent>
                    Google Maps est une plate-forme permettant d'explorer le monde qui nous entoure en toute sécurité.
                    C'est pourquoi nous n'autorisons pas le <a class="glossary-term" data-answer="11411185"
                        href="https://support.google.com/contributionpolicy/answer/11411185?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">contenu à caractère sexuel explicite</a>
                    Par exemple : <br>
                    <ul>
                        <li>Pornographie ou représentation d'actes sexuels, d'organes génitaux ou de fétiches destinés à
                            être sexuellement gratifiants </li>
                        <li>Contenu incluant des organes génitaux nus </li>
                        <li>Contenu qui glorifie ou met en avant la zoophilie </li>
                        <li>Contenu qui glorifie ou fait la promotion de contenu ou de comportement à caractère sexuel
                            explicite </li>
                    </ul><br>
                    Nous pouvons autoriser des contenus généralement considérés à caractère sexuel explicite lorsqu'ils
                    sont publiés dans un but pédagogique, documentaire, scientifique ou artistique, s'ils sont en lien
                    direct avec le sujet et si les informations fournies permettent aux utilisateurs de comprendre le
                    contexte.

                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-3" title="Contenu réservé aux adultes">
                <ng-template ngbPanelContent>
                    Google Maps permet aux utilisateurs de trouver des informations utiles et appropriées. Par
                    conséquent, nous y interdisons le <a class="glossary-term" data-answer="11409461"
                        href="https://support.google.com/contributionpolicy/answer/11409461?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">contenu réservé aux adultes</a> <br>
                    Par exemple : <br>
                    <ul>
                        <li>Pornographie non explicite ou tout contenu destiné à être sexuellement gratifiant </li>
                        <li>Tout contenu intégrant une forme de sexualisation d'objets inanimés </li>
                        <li>Contenu incluant des poses à caractère sexuel explicite dans lesquelles le sujet est nu,
                            flou ou légèrement vêtu</li>
                        <li>Contenu non commercial associé aux jouets sexuels</li>

                    </ul><br>
                    Nous pouvons autoriser des contenus généralement considérés comme réservés aux adultes lorsqu'ils
                    sont publiés dans un but pédagogique, documentaire, scientifique ou artistique, s'ils sont en lien
                    direct avec le sujet et si les informations fournies permettent aux utilisateurs de comprendre le
                    contexte. <br>
                    Nous pouvons également autoriser les personnes légèrement vêtues présentées sans connotation
                    sexuelle.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-4" title="Contenu violent et sanglant">
                <ng-template ngbPanelContent>
                    Nous nous efforçons de fournir aux utilisateurs de Google Maps des informations qui leur permettent
                    d'avoir une expérience positive de notre produit.
                    C'est pourquoi nous n'autorisons pas le <a class="glossary-term" data-answer="11411186"
                        href="https://support.google.com/contributionpolicy/answer/11411186?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">contenu violent ou sanglant</a> impliquant des
                    personnes ou des animaux. <br>
                    Par exemple :<br>
                    <ul>
                        <li> Contenu violent ou sanglant impliquant des personnes ou des animaux, et visant à choquer, à
                            faire sensation ou à susciter un intérêt malsain</li>
                        <li> Violence explicite qui inclut une quantité importante de sang, des blessures graves ou la
                            mort d'animaux ou de personnes</li>
                        <li> Contenu présentant des actes de cruauté envers les animaux</li>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion><br>
        <h2>Contenu réglementé, dangereux et illégal</h2>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel id="toggle-1" title="Contenu soumis à des restrictions">
                <ng-template ngbPanelContent>
                    Lorsque vous publiez des contenus relatifs à des produits ou services soumis à des contrôles et des
                    réglementations locales, vous devez respecter certaines consignes.
                    Le contenu que vous mettez en ligne ne doit pas comporter d'incitations à l'action ni d'offres pour
                    la vente de produits ou services soumis à des réglementations locales. Cela inclut, mais sans s'y
                    limiter,
                    la vente d'alcool, de jeux d'argent et de hasard, de tabac, d'armes à feu, de produits de santé et
                    d'appareils médicaux, de produits pharmaceutiques réglementés, de services réservés aux adultes et
                    de services financiers.
                    Le contenu ne doit pas inclure les éléments suivants :<br>
                    <ul>
                        <li> Liens vers une page de destination où il est possible d'acheter des produits ou services
                            soumis à des restrictions </li>
                        <li> Adresses e-mail et/ou numéros de téléphone à contacter pour l'achat de produits soumis à
                            des restrictions </li>
                        <li> Offres promotionnelles pour des produits ou services soumis à des restrictions (par exemple
                            des offres, des bons de réduction, des informations tarifaires ou d'autres promotions) </li>
                    </ul><br>
                    Notez que les représentations secondaires de ces produits sont considérées comme des exceptions à
                    cette politique. Exemples :<br>
                </ng-template>
                <ul>
                    <li> Images de menus </li>
                    <li> Images sur lesquelles apparaissent des boissons alcoolisées, sans que celles-ci ne constituent
                        l'élément principal </li>
                </ul>
            </ngb-panel>
            <ngb-panel id="toggle-2" title="Contenu dangereux">
                <ng-template ngbPanelContent>
                    Google Maps permet aux utilisateurs de communiquer en toute sécurité. C'est pourquoi nous
                    n'autorisons pas les utilisateurs à publier du
                    <a class="glossary-term" data-answer="11409560"
                        href="https://support.google.com/contributionpolicy/answer/11409560?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">contenu dangereux</a> <br>
                    Par exemple : <br>
                    <ul>
                        <li> Contenu qui facilite ou encourage des atteintes physiques graves à la santé, la sécurité,
                            les biens, les animaux ou l'environnement </li>
                        <li> Contenu faisant la promotion d'activités dangereuses pouvant entraîner de graves dommages
                            physiques à la personne qui perpétue l'acte, à des personnes qui l'entourent ou à des
                            animaux </li>
                        <li> Contenu incitant les mineurs à se livrer à des activités dangereuses ou à utiliser des
                            objets dangereux </li>
                        <li> Contenu facilitant l'utilisation abusive d'éléments dangereux </li>
                        <li> Contenu pédagogique pour la création ou la préparation d'objets dangereux </li>
                    </ul><br>
                    Nous autorisons les discussions générales sur les biens, les services ou les activités susceptibles
                    d'être nuisibles ou dangereux, à condition qu'elles n'incluent pas la promotion ni des instructions
                    pour une utilisation dangereuse.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-3" title="Contenu illégal">
                <ng-template ngbPanelContent>
                    Nous n'acceptons pas les contenus illégaux ou représentant des activités illégales.<br>
                    Par exemple : <br>
                    <ul>
                        <li> Images ou tout autre contenu portant atteinte aux droits d'autres personnes, y compris aux
                            droits d'auteur. Pour en savoir plus ou pour déposer une demande au titre de la loi DMCA,
                            consultez nos procédures relatives aux droits d'auteur. </li>
                        <li> Images présentant des abus sexuels sur des enfants et contenus mettant en scène des enfants
                            dans des positions suggestives </li>
                        <li> Contenu présentant des actes dangereux ou illégaux (viol, vente d'organes, trafic d'êtres
                            humains, etc.)</li>
                        <li> Produits et services illégaux : produits issus d'animaux en voie de disparition, drogues
                            illégales, produits pharmaceutiques sur ordonnance détournés vers le marché illicite</li>
                        <li> Images violentes ou présentant de la violence gratuite, et images incitant à la violence
                        </li>
                        <li> Contenu produit par ou pour le compte de groupes terroristes</li>
                    </ul><br>
                    Pour tout autre problème d'ordre juridique, sélectionnez l'onglet "Droits d'auteur ou autres
                    problèmes juridiques" dans la fonctionnalité<br>
                    <a href="https://support.google.com/maps/answer/3094088" rel="noopener" target="_blank"><u>Signaler
                            un problème</u></a>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-4" title="Sécurité des enfants">
                <ng-template ngbPanelContent>
                    Dans Google Maps, nous n'autorisons pas le contenu qui met en danger les enfants. Vous ne devez pas
                    créer, publier ni partager de contenu dans lequel des enfants sont <a class="glossary-term"
                        data-answer="11411082"
                        href="https://support.google.com/contributionpolicy/answer/11411082?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">exploités</a> ou <a class="glossary-term"
                        data-answer="11410565"
                        href="https://support.google.com/contributionpolicy/answer/11410565?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">maltraités</a> , ni utiliser de produits ou
                    services Google en vue de <a class="glossary-term" data-answer="11412394"
                        href="https://support.google.com/contributionpolicy/answer/11412394?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">mettre en danger</a> des enfants.<br>
                    Par exemple :<br>
                    <ul>
                        <li> Contenu dans lequel des enfants sont exploités ou mettant en scène des enfants dans des
                            positions suggestives</li>
                        <li> Contenu incluant un comportement prédateur ou qui cautionne, glorifie ou présente le
                            comportement prédateur de manière positive</li>
                        <li> Contenu présentant des abus sur mineurs ou qui cautionne, glorifie ou présente les abus sur
                            mineur de manière positive</li>
                        <li> Contenu représentant des mineurs apparents dénudés, même si cela n'entre pas dans les
                            catégories ci-dessus</li>
                    </ul><br>
                    Nous supprimerons le contenu non conforme et prendrons les mesures nécessaires, comme signaler ces
                    informations aux autorités compétentes ou aux forces de l'ordre, limiter l'accès aux fonctionnalités
                    du produit et désactiver les comptes concernés.
                    <h3>Comment les utilisateurs peuvent-ils signaler le non-respect des règles ?</h3>
                    <ul>
                        <li> Si vous souhaitez signaler du contenu trouvé dans un produit Google et qui, selon vous,
                            entre dans cette catégorie, cliquez sur <a
                                href="https://support.google.com/websearch/answer/148666" rel="noopener"
                                target="_blank"><u>Signaler un abus</u></a> . Si vous trouvez des contenus de ce type
                            ailleurs sur Internet, contactez directement les <a
                                href="https://support.google.com/websearch/answer/148666" rel="noopener"
                                target="_blank"><u>autorités compétentes dans votre pays</u></a> </li>
                        <li> Si vous pensez qu'un enfant est en danger ou qu'il a été victime d'abus, d'exploitation ou
                            de trafic, contactez immédiatement la police ou la gendarmerie. Si vous avez déjà signalé le
                            problème à la police et que vous avez toujours besoin d'aide, ou si vous craignez qu'un
                            enfant soit ou ait été mis en danger sur l'un de nos produits ou services, vous pouvez <a
                                href="https://support.google.com/families/contact/report_child_grooming" rel="noopener"
                                target="_blank"><u>signaler ce comportement à&nbsp;Google</u>.</a></li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-5" title="Contenu à caractère terroriste">
                <ng-template ngbPanelContent>
                    Google Maps interdit tout <a class="glossary-term" data-answer="11410566"
                        href="https://support.google.com/contributionpolicy/answer/11410566?hl=fr&amp;ref_topic=11410564"
                        rel="noopener" target="_blank" data-stats-ve="40">contenu à caractère terroriste</a> et toute
                    utilisation de ce service par des organisations terroristes, quel que soit leur objectif, y compris
                    le recrutement.<br>
                    Par exemple : <br>
                    <ul>
                        <li>Contenu incitant à la violence, faisant la promotion d'actes terroristes ou célébrant des
                            attaques terroristes </li>
                        <li> Contenu produit par ou pour le compte de groupes terroristes </li>

                    </ul><br>
                    Nous pouvons autoriser du contenu associé au terrorisme dans un objectif pédagogique, documentaire,
                    scientifique ou artistique, si les informations fournies permettent aux utilisateurs de comprendre
                    le contexte.
                </ng-template>
            </ngb-panel>
        </ngb-accordion><br>
        <h2>Qualité des informations</h2>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel id="toggle-1" title="Contenu hors sujet" class="text-justify">
                <ng-template ngbPanelContent>
                    Ne publiez que du contenu basé sur votre expérience ou des questions sur l'expérience des
                    utilisateurs dans un établissement spécifique.<br>
                    Nous n'autorisons pas le contenu contenant des commentaires personnels ou d'ordre général, politique
                    ou social.<br>
                    <h3>COVID-19</h3>
                    Nous n'autorisons pas le contenu suivant en lien avec la COVID-19, car nous le considérons comme
                    hors sujet :<br>
                    <ul>
                        <li> Informations médicales incorrectes contredisant le consensus stable et établi, comme les
                            conseils de l'Organisation mondiale de la Santé (OMS) sur le traitement, la prévention, le
                            diagnostic, la transmission ou l'existence de la COVID-19</li>
                        <li>Critiques d'une entreprise ayant appliqué des mesures de sécurité COVID dans le but de
                            protéger ses employés et ses clients, y compris, mais sans s'y limiter, des mesures de
                            propreté et d'hygiène renforcées, la modification des horaires d'ouverture, des protocoles
                            de distanciation sociale, le port du masque, un résultat de test négatif et une attestation
                            de vaccination</li>
                    </ul>
                    </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-2" title="Publicité et sollicitation">
                <ng-template ngbPanelContent>
                    Ne publiez pas de contenu à des fins publicitaires ou de <a class="glossary-term"
                        data-answer="11576098" href="https://support.google.com/contributionpolicy/answer/11576098"
                        rel="noopener" target="_blank" data-stats-ve="40">sollicitation</a> <br>
                    Par exemple : <br>
                    <ul>
                        <li> Contenu promotionnel ou commercial </li>
                        <li> Publication d'adresses e-mail, de numéros de téléphone, de liens vers des réseaux sociaux
                            ou de liens vers d'autres sites Web dans vos avis </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-3" title="Contenu répétitif et vide de sens">
                <ng-template ngbPanelContent>
                    Nous n'autorisons pas la publication de contenu répétitif ou vide de sens sur Google Maps, car cela
                    dilue les informations utiles fournies aux utilisateurs.<br>
                    Par exemple : <br>
                    <ul>
                        <li> Publication du même contenu plusieurs fois ou publication d'un contenu associé au même lieu
                            à partir de plusieurs comptes </li>
                        <li> Publication de contenu qui n'a pas de sens dans aucune langue (un groupe de caractères, par
                            exemple) </li>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion><br>
    </div>
</div>
