.modal-condtions-utilisation {
  height: 590px;
  overflow-x: scroll;
  line-height: 14px;
  margin-top: 2px;
  text-align: left;
  width: 800px;
  margin: 0 auto;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #5e5e5e;
}

