<div  class="card shadow  mb-4 pb-2" style="    border-radius: 1rem;">
    <div class="card-header bg-transparent title-Dachboard" >
      <div class="row align-items-center">
        <div class="col">
          <h2 class=" text-black title-renseignement-2 mb-1">Dernier post</h2>
  
        </div>
      </div>
    </div>
    <div class="card-body post-prog">
      <h5 class="text-black mb-0 title-post  " (click)="somefunction(datfichindividuela)">{{dernierspost_name}}</h5>
      <div class="row align-items-center text-center " style="padding-left: 6%">
        <div class="col-lg-4 ">
          <span class="text-black mb-0">
            <img src="./assets/Dashboard/post-picto-vue.svg" class="img-post"> <span class="value-post"> {{dernierspost.Views}} vues
            </span></span>
        </div>
  
        <div class="col-lg-4">
          <span class="text-black mb-0"> <img src="./assets/Dashboard/post-picto-clic.svg" class="img-post"> <span
              class="value-post">{{dernierspost.Clics}}  clics
               </span></span>
        </div>
  
        <div class="col-lg-4 details-post sid pl-5 pr-3">
          <div class="bloc-post">
            <div class="details-post post1 tooltip navbar-brand pt-0">
              <span class=" btn mr-2 btn-outline-secondary" class="text-black mb-0"> <img
                  src="./assets/Dashboard/post-picto-burger.svg" class="img-post-details"> </span>
              <div class="tooltiptext shadow ">
                <div class="text-center">
                  <span class="details-title text-center"> Détails du post </span>
                  <div class="post mt-1">
                    <span class="nbr-post">{{dernierspost.FicheCount}} </span>
                    <p class="dernier-post"> fiches concernées par les <br>
                      étiquettes de personnalisation</p>
  
                  </div>
                </div>
                <ul class="dernierpost mr-5 ml-5 pl-0 pr-0">
                    <li  *ngFor="let Et of dernierspost.Etiquettes" class="listregion">           
                        <span  class="etiquettepost" [ngStyle]="{'background-color': Et.color}"> {{Et.name}}</span> 
                    </li>  
                </ul>
  
                <div class="etatpost">
                  <span class="etat-post">Etat de post </span> <br>
                  <span> <i class="fa fa-check" aria-hidden="true"></i> <span class="etatpost"> Envoyé depuis le
                      {{dernierspost_date}}</span> </span>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    
    </div>
    <div class="card-header bg-transparent title-Dachboard" *ngIf="postprogramme">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="text-black  title-renseignement-2 mb-0 ">Posts programmés</h2>
        </div>
      </div>
    </div>
    <div class="card-body post-prog">
     <div *ngFor="let pro of postprogramme, let i='index'">
  
  
      <div *ngIf="i<2">
        <h5 class="text-black mb-0 title-post mt-2">{{pro.Post.name}}</h5>
        <div class="row align-items-center text-center details-prog">
          <div class="col-lg-8 ">
            <span class="text-black text-programme mb-0 date-pro">
              <img src="./assets/Dashboard/post-picto-calandar.svg" class="post-img ">
              Programmé pour le
              {{pro.Post.programmed_date}}</span>
          </div>
    
    
          <div class="col-lg-4 details-post sid pl-5 pr-3">
    
            <div class="bloc-post programe">
              <div class="details-post prog1 ml-2 tooltip navbar-brand pt-0">
                <span class=" btn mr-2 btn-outline-secondary" class="text-black mb-0"> <img
                    src="./assets/Dashboard/post-picto-burger.svg" class="img-post-details"> </span>
                <div class="tooltiptext shadow ">
                  <div class="text-center">
                    <span class="details-title text-center"> Détails du post </span>
                    <div class="post mt-1">
                      <span class="nbr-post">{{pro.FicheCount}} </span>
                      <p class="dernier-post"> fiches concernées par les <br>
                        étiquettes de personnalisation</p>
    
                    </div>
                  </div>
  
                  <ul  class="dernierpost mr-5 ml-4 pl-0 pr-0">
                    <li  *ngFor="let Et of pro.Etiquettes" class="listregion">           
                        <span  class="etiquettepost" [ngStyle]="{'background-color': Et.color}"> {{Et.name}}</span> 
                    </li>  
                </ul>
                  <div class="etatpost">
                    <span class="etat-post ml-3">Etat de post </span> <br>
                    <span> <img src="./assets/Dashboard/post-picto-calandar.svg" class="   mr-1 post-img s"> <span class="etatpost">Programmé pour le
                       {{pro.Post.programmed_date}}</span> </span>
        
                  </div>
    
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
    </div>
   <span [routerLink]="['/posts']"  class="text-center mb-0 plus-suggestions mt-2"><i  class="fa fa-plus"></i> de posts  </span>
  </div>