
.title-Dachboard{
    border-bottom: none;
}
i.ni.ni-image {
    font-size: 15px;
    margin-right: 2%;
    display: inline-block;
}

.dropdown-item a {
    line-height: 18px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    font-weight: 100 !important;
    color: #5e5e5e !important;

}
.etiquettepost {
    line-height: 18px;

    font: normal normal normal 8px/12px Ubuntu;
    letter-spacing: 0.2px;
    color: #fff;
    border-radius: 30px;
    padding: 3px 12px;
    display: inline-block;

    text-align: center;
  }

.fichepost {
    line-height: 18px;
    margin-top: -3px;
    text-align: left;
    font: normal normal normal 8px/12px Ubuntu;
    letter-spacing: 0.2px;
    color: #fff;
    background: #0081c7 !important;
    border-radius: 30px;
    padding: 5px 12px;
    border: 1px solid #0081c7 !important;
}

.dropdown img  {
    width: 24px;
    padding-right: 8px;
}
i.fa.fa-sort-down {
    display: inline-block;
    margin-left: 35%;
    font-size: 10px;
    margin-top: 3px;
}

.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 317px;
    z-index: 1;
    margin-left: -90%;
    text-align: left;
    margin-top: -227%;
    padding: 10px 10px 10px 18px;
  }
  
  .dropdown-content a {
    line-height: 18px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    font-weight: 100 !important;
    color: #5e5e5e !important;
    padding: 8px 16px;
    display: block;
  }
  button.btnf.btn-pub {
    background: #b1cd45;
    color: #fff;
    padding: 7px 40px;
    border-radius: 50px;
    text-align: center;
    font: normal normal normal 12px/13px Ubuntu;
    letter-spacing: 0px;
    border: none;
}
.details-fiche {
    display: flex;
}
  .details-fiche input {
    padding-right: 10%;
    margin-right: 8%;
    margin-top: 3%;
}
  .dropdown:hover .dropdown-content {display: block;}
  

button.dropbtn.btn.btn-outline-primary {
    padding: 10px 32px 10px 25px;
    background: #0081c7;
    border: #0081c7;
    color: #fff;
    font-weight: 100;
    line-height: 18px;
    display: flex;
    font-family: Ubuntu;
    font-style: normal;
    font-size: 13px;
}

.nbr-suggestion
{
    position: absolute;
    margin-top: 0.3%;
    margin-left: -27%;
    color: #fff;
    font-weight: 100;
    font-size: 18px;
}
.plus-suggestions{
    color: #0081c7;
    font-size: 12px;
    cursor: pointer;
    line-height: 18px;
    margin-top: -3px;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
}
.table-flush th.text-bold {
    line-height: 18px;
    margin-top: -2px;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(94,94,94,1);
}

.post-prog{
    padding-bottom: 0px;
    padding-top: 14px;
}
.title-post{
    padding-left: 7%;
    line-height: 18px;
    margin-top: -3px;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(94,94,94,1);
}

#Trac_4581 {
    fill: rgba(94,94,94,1);
}
.Trac_4581 {
    overflow: visible;
    position: absolute;
    width: 17.534px;
    height: 11.955px;
    left: 0.797px;
    top: 3.586px;
    transform: matrix(1,0,0,1,0,0);
}

.value-post.d{
    text-align: left;
    font: normal normal 300 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #707070;
}

.text-programme{
    white-space: nowrap;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    padding-left: 9%;
    font-size: 10px;
    color: rgba(94,94,94,1);
}
.details-post{
    float: right;
    padding: 0px;
    margin: 0px;
    text-align: right;

}



.details-prog{
    padding: 0px !important;
}
i.fa.fa-calendar {
    color: #eba10f;
    font-size: 14px;
}
i.fa.fa-plus {
    font-size: 9px;
}
#TB {
    position: relative;
}
.date-pro{
font-size: 12px;
}
.title-Dachboard h2 {
    font-weight: bold;
}
.card-header.bg-transparent.title-Dachboard {
    padding-bottom: 0px;
}
.bloc-dashboard{
    margin-bottom: 3%;
}
#TB .card {
    border-radius: 1rem;
}

.title-renseignement {
    white-space: nowrap;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(94,94,94,1);
}

.title-renseignement-2
{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 18px; 

}
.title-renseignement-3
{
    line-height: 18px;
    margin-top: -3px;
    text-align: left;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 12px;
}
.Suggestion {
    text-align: left;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 18px;
}

#Trac_2673 , #Trac_3026 {
    fill: rgba(112,112,112,1);
}
.Trac_2673  , .Trac_3026{
    overflow: visible;
    position: absolute;
    width: 15.504px;
    height: 11.074px;
    left: 0px;
    top: 3px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.add-img{
margin-left: 10px;
line-height: 18px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(94,94,94,1);
}

span.value-performance1{
    text-align: center;
    font: normal normal bold 20px/15px Ubuntu;
    letter-spacing: 0px;
    color: #0081C7;
    display: block;
}
span.value-performance {
    text-align: center;
    font: normal normal bold 20px/15px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    display: block;
}
span.title-perfomance {
    display: block;
    text-align: center;
    font: normal normal normal 16px/30px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    text-transform: capitalize;

}

span.title-perfomance1 {
    display: block;
    text-align: center;
    font: normal normal normal 16px/30px Ubuntu;
    letter-spacing: 0px;
    color: #0081C7;
    text-transform: capitalize;

}


.value-activite
{
white-space: nowrap;
    text-align: right;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    display: block;
    font-size: 18px;
    color: rgba(94,94,94,1);
}


.value-percent{
float: right;
padding-left: 10%;
text-align: center;
color: #C94040;
font-size: 10px
}


element.style {
    width: 25%;
}
.progress-bar {
    box-shadow: none;
    border-radius: 0;
    height: auto;
}


i.fa.fa-star {
    font-size: 10px;
    color: rgba(203,203,203,1);
}

.details{
    text-align: center;
    font: normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #0081C7;
    display: block;
    cursor: pointer;
}

span.value-avis {
    line-height: 30px;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}

.nbr-avis{
    white-space: nowrap;
    line-height: 18px;
    margin-top: -2px;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(94,94,94,1);
}

span.wording-value {
    font-weight: bold;
    margin-left: 5px;
}

a.Name-avis {
    white-space: nowrap;
    line-height: 18px;
    margin-top: -2px;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(94,94,94,1);
}

.listWordings {
    white-space: nowrap;
    line-height: 18px;
    margin-top: -3px;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,129,199,1);
    border-radius: 30px;
    padding: 5px 14px;
    border: 1px solid rgba(0,129,199,1);

}
li.listWordings {
    display: inline-block;
    margin: 10px;
}

.nom-societe{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0,129,199,1);
}

span.star-rating.float-right {
    white-space: nowrap;
    line-height: 16px;
    margin-top: -1px;
    text-align: right;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(94,94,94,1);
}
















    .total-like-user-main a {
        display: inline-block;
        margin: 0 -17px 0 0;
    }
    .total-like {
        border: 1px solid;
        border-radius: 50px;
        display: inline-block;
        font-weight: 500;
        height: 34px;
        line-height: 33px;
        padding: 0 13px;
        vertical-align: top;
    }
    .restaurant-detailed-ratings-and-reviews hr {
        margin: 0 -24px;
    }
    .graph-star-rating-header .star-rating {
        font-size: 17px;
    }
    .progress {
        background: #f2f4f8 none repeat scroll 0 0;
        border-radius: 0;
        height: 30px;
    }
    .rating-list {
        display: inline-flex;
        margin-bottom: 15px;
        width: 100%;
    }
    .rating-list-left {
        height: 16px;
        line-height: 29px;
        width: 10%;
    }
    .rating-list-center {
        width: 80%;
    }
    .rating-list-right {
        line-height: 29px;
        text-align: right;
        width: 10%;
    }
    .restaurant-slider-pics {
        bottom: 0;
        font-size: 12px;
        left: 0;
        z-index: 999;
        padding: 0 10px;
    }
    .restaurant-slider-view-all {
        bottom: 15px;
        right: 15px;
        z-index: 999;
    }
    .offer-dedicated-nav .nav-link.active,
    .offer-dedicated-nav .nav-link:hover,
    .offer-dedicated-nav .nav-link:focus {
        border-color: #3868fb;
        color: #3868fb;
    }
    .offer-dedicated-nav .nav-link {
        border-bottom: 2px solid #fff;
        color: #000000;
        padding: 16px 0;
        font-weight: 600;
    }


    button.btn-repondre {
        background: #fff;
        border: 1px solid #ccc;
        color: #0081c7;
        border-radius: 5px;
        padding: 4px  20px;
        font-family: Ubuntu;
        font-size: 14px;
    }


    .menu-list img {
        width: 41px;
        height: 41px;
        object-fit: cover;
    }
    .restaurant-detailed-header-left img {
        width: 88px;
        height: 88px;
        border-radius: 3px;
        object-fit: cover;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    }
    .reviews-members .media .mr-3 {
        width: 56px;
        height: 56px;
        object-fit: cover;
    }
  
    fieldset {
        border: 1px solid #ccc;
        border-radius: 14px;
    }
    
    .reviews-members{
        padding: 10px 20px;
    }

    .media {
        padding-bottom: 5px;
    }
.etat-post{
    text-align: left;
    font: normal normal bold 10px/10px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    display: block;

}
    legend {
        background-color: #fff;
        padding: 3px 5px 3px 7px;
        margin-left: 5%;
        width: auto;
    }
    
 

    .rounded-pill {
        border-radius: 50rem!important;
    }
    .total-like-user {
        border: 2px solid #fff;
        height: 34px;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
        width: 34px;
    }
    .total-like-user-main a {
        display: inline-block;
        margin: 0 -17px 0 0;
    }
    .total-like {
        border: 1px solid;
        border-radius: 50px;
        display: inline-block;
        font-weight: 500;
        height: 34px;
        line-height: 33px;
        padding: 0 13px;
        vertical-align: top;
    }
    .restaurant-detailed-ratings-and-reviews hr {
        margin: 0 -24px;
    }
    .graph-star-rating-header .star-rating {
        font-size: 17px;
    }
    .progress {
        background: #f2f4f8 none repeat scroll 0 0;
        border-radius: 0;
        height: 30px;
    }
    .rating-list {
        display: inline-flex;
        margin-bottom: 15px;
        width: 100%;
    }
    .rating-list-left {
        height: 16px;
        line-height: 29px;
        width: 10%;
    }
    .rating-list-center {
        width: 80%;
    }
    .rating-list-right {
        line-height: 29px;
        text-align: right;
        width: 10%;
    }
    .restaurant-slider-pics {
        bottom: 0;
        font-size: 12px;
        left: 0;
        z-index: 999;
        padding: 0 10px;
    }
    .restaurant-slider-view-all {
        bottom: 15px;
        right: 15px;
        z-index: 999;
    }
    
    .progress {
        background: #f2f4f8 none repeat scroll 0 0;
        border-radius: 0;
        height: 30px;
    }

.bloc-performance {
        height: 100%;
    }
    .card-footer{
        border-top: none;
    }

    .table thead th {
        border-top: none;
    }
    .filtre-date {
        display: flex;
    }
    span.datefiltre {
        text-align: right;
        font: normal normal normal 12px/16px Ubuntu;
        letter-spacing: 0.4px;
        color: #5E5E5E;
        opacity: 1;
        padding: 14px 10px 0px 10px;
    }
    .popover-body {
        width: 300px !important;
        float: left!important;
    }


    .agm-map-container-inner.sebm-google-map-container-inner {
        position: initial !important;
        overflow: initial!important;
    }

 



img.show-fiche {
    margin: 0px 4px;
    cursor: pointer;
}
.ficheAdmin{
    padding-left: 10px;
    padding-bottom: 11px;
}
i.fa.fa-check {
    color: rgba(177,205,69,1);
}

.post-prog {
    padding-top: 5px !important;
}

i.fa.fa-search {
    color: #CBCBCB;
    font-size: 14px;
}

.list-fiche {
    max-height: 376px;
    overflow-y: scroll;
    margin-right: 6%;
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: transparent;
    color: #5e5e5e !important;
}

button#dropdownConfig {
    padding: 9px 35px;
}
.dropdown-menu.show {
    width: 230px;
    left: -51px !important;
}
.Actionsfiltre {
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(217 217 217);
    -webkit-box-shadow: 0 0 1px rgb(217 217 217);
}

span.details-title {
    text-align: center !important;
    font: normal normal bold 12px/14px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    opacity: 1;
}

.post {
    display: flex;
    text-align: center;
    padding-left: 7%;
    padding-top: 3%;
    margin: 0 auto;
}
span.nbr-post {
    background: #eba10f;
    border-radius: 87%;
    padding: 2px 7px 2px 7px;
    max-height: 19px;
    max-width: 24px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    margin-right: 3%;
}

p.dernier-post {
    font: normal normal bold 10px/10px Ubuntu;
    text-align: left;
    color: #5E5E5E;
    opacity: 1;
}


span.etat-post {
    text-align: left;
    font: normal normal bold 10px/10px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    opacity: 1;
    display: block;
}
li.listregion{
    display: initial;
    margin: 0px 1px;
    text-align: center;
}

.etatpost {
    text-align: left;
    font: normal normal normal 10px/10px Ubuntu;
    color: #5E5E5E;
    padding-bottom: 5px;
    vertical-align: middle;
}

.details-post.sid span.etiquettepost {
    line-height: 18px;
    font: normal normal normal 8px/12px Ubuntu;
    letter-spacing: 0.2px;
    color: #fff;
    border-radius: 30px;
    padding: 3px 12px;
    display: inline-block;
    width: auto;
    text-align: center;
}






  
  .popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding:  0;
    margin-top: -10px;
  }
  
  .popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }

  span.filtre {
    text-align: center !important;
    font: normal normal bold 12px/14px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;

    display: block;
}
  




  ul.localisation {
    list-style: none;
    padding-left: 0px;
}
  
.listoption {
    text-align: left;
    font: normal normal normal 10px/12px Ubuntu;
    letter-spacing: 0.25px;
    color: #707070;
    margin: 7px
}




span.title-value {
    padding-left: 17%;
    margin-top: -15px;
    display: block;
}

.test {
    width: 82%;
    border-bottom: 3px solid #0081c7;
    margin: 0 auto;
    margin-top: 5%;
}



.calendar .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.375rem;
    border-right: 1px solid #cad1d7 !important;
    font: normal normal normal 12px/16px Ubuntu;
    letter-spacing: 0.4px;
    color: #5E5E5E;


}



    

    

    .filtre-date input::-webkit-input-placeholder {
        color: red !important;
        }
        .filtre-date input:-moz-placeholder { 
        color: red !important; 
        }
        .filtre-date  input::-moz-placeholder {  
        color: red !important; 
        }
        .filtre-date  input:-ms-input-placeholder { 
        color: red !important; 
        }
        

    span.fiches {
        font: normal normal 300 12px/18px Ubuntu;
        letter-spacing: 0px;
    }
    
  
    .leaflet-popup-content {
        width: 300px !important;
    }
/* modal top flop */
.modal-title.basic-title.classements {
    font: normal normal bold 24px/20px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    opacity: 1;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.classemnent-fiche.third {
    width: 198px;
    height: 110px;
    background: #DB9A50 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    float: left;
    margin-top: 22%;
}
.classemnent-fiche.first {
    width: 198px;
    height: 162px;
    background: #FFC24A 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    float: none;
    margin: 0 auto;
}
.classemnent-fiche{
    width: 198px;
    height: 128px;
    background: #CBCBCB 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    display: block;
    float: right;
    margin-top: 13%;
}
.classemnent-fiche span.number-class {
    text-align: center;
    font: 40px/30px Ubuntu;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: relative;
    top: 33px;
}
.classemnent-fiche span.text-black.title-stat {
    text-align: left;
    font: normal normal bold 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.classemnent-fiche i.fa.fa-minus {
    display: inline-block;
    vertical-align: super;
    color: #fff;
}
.classemnent-fiche.first .content-top-stat i.fa.fa-arrow-up
{   display: inline-block;
    vertical-align: super;
    color: #fff;

}
.classemnent-fiche span.text-region {
    text-align: left;
    font: normal normal 300 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.classemnent-fiche .content-top-stat span {
    color: #fff;
    display: block;
    width: 125px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
span.text-region {
    display: block;
    text-align: left;
    font: normal normal 300 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #707070;
}
.classemnent-fiche.third .row.align-items-center {
    margin: 3px auto;
}
i.fa.fa-star.k {
    color: #DBDBDB;
}
.classemnent-fiche-1 {
    margin-top: 30%;
}
.classemnent-fiche.first span.text-black.title-stat {
    width: 116px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.classemnent-fiche.first .classemnent-fiche-1 {
    margin-top: 42%;
}
.classemnent-fiche.third span.text-black.title-stat {
    width: 125px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.classemnent-fiche.third .classemnent-fiche-1 {
    margin-top: 19%;
}
.classemnent-fiche.third .content-top-stat i.fa.fa-arrow-up {
    color: #fff;
}
.avis_classify{
    text-align: right;
    display: inline-block;
    font: normal normal bold 18px/12px Ubuntu;
    letter-spacing: 0.45px;
    color: #707070;
    opacity: 1;
}
.header-classify {
    display: flex;
    width: 79%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    color: white;
}
.classemnent-fiche .header-classify i.fa.fa-arrow-up,  .classemnent-fiche .header-classify i.fa.fa-minus,.classemnent-fiche .header-classify i.fa.fa-arrow-down{
    color: white;
}
.classemnent-fiche.first span.number-class {
    font: 60px/30px Ubuntu;
    top: 45px;
}
.all-franchisess {
    overflow-y: scroll;
    height: 298px;
    overflow-x: hidden;
}
.modal-body.mt-20.modal-avis {
    background: url(/assets/Avis/background-avis.svg)no-repeat;
    background-position: bottom 0px center;
    padding: 0;
}

i.fa.fa-arrow-down.classify_top_three,i.fa.fa-arrow-up.classify_top_three {
    margin-right: 8px;
    color: #c94040;
}
span.vues {
    display: block;
    text-align: center;
    margin: 0 auto;
}
span.desc-stat.vue {
    display: block;
    text-align: center;
    margin: 0 auto;
}
span.text-post-modalt {
    display: block;
    text-align: left;
    font: normal normal 300 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #707070;
}
img.img-post.mo {
    width: 15%;
    margin-right: 5px;
}
/* fin top &  flop */
.bloc-post.programe span.etiquettepost {
    width: auto;
    padding: 3px 10px;
}
ul.dernierpost {
    column-count: 1;
}
img.mr-1.post-img.s {
    width: 15px;
    vertical-align: middle;
    display: inline-block;
}
.classemnent-fiche.first span.number-class sup {
    top: -29px;
    font-size: 50%;
}
.classemnent-fiche span.number-class sup {
    top: -19px;
    font-size: 50%;
}



    @media (min-width: 1080px) {


        .row.align-items-center.respo {
            padding: 0 14px;
        }
        .col.content-top-stat {
            display: contents;
        }
        span.vues {
            font: 17px/12px Ubuntu;
            font-weight: bold;
        }
        .content-top-stat .title-stat {
            width: initial;
        }
        span.classement {
            margin-top: -9%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 8%;
            text-align: center;
        }

        .content-top-stat .title-stat {
            font: normal normal 10px/10px Ubuntu;
            margin: 5px 3px;
        }

        span.value-stat {
            font: normal normal 13px/18px Ubuntu;
        }

        .bloc-top i.fa.fa-arrow-up{
            font-size: 89px;
            margin-right: 12px;
            margin-left: -10px;
            margin-top: 6%;
      
        }
        .bloc-flop i.fas.fa-arrow-down {
            font-size: 76px;
            margin-right: 12px;
            margin-top: -18px;
            margin-left: -6px;

        }
        .content-top {
            margin-left: 17%;
        }

        img.img-post {
            width: 14%;
        }
        img.img-post-details {
            width: 100%;
        }

        img.img-details {
            width: 12%;
        }

        img.img-post {
            width: 20px;
        }
        img.show-fiche {
            width: 14px;
        }
        img.show-fiche {
            width: 20%;
            height: 20px;
        }
        img .img-prog-details {
            width: 14%;
        }
        
        
        img.img-post-details {
            width: 100%;
        }

        .bloc1{
            margin-bottom: -8%;
        }
     
          }
          @media (min-width: 1200px) {
            .content-top span {
                font: normal normal normal 10px/18px Ubuntu;
            }
            .row.align-items-center.respo {
                padding: 0px 10px 0px 0px;
            }
            .col.content-top-stat {
                display: flex;
            }
            span.vues {
                font: 17px/12px Ubuntu;
                font-weight: bold;
            }
            .content-top-stat .title-stat {
                width: 53px;
            }
            .bloc-flop i.fas.fa-arrow-down {
                font-size: 52px;
                margin-right: 12px;
                margin-top: -30px;
                margin-left: -10px;
    
            }
            .bloc-top i.fa.fa-arrow-up{
                font-size: 52px;
                margin-right: 0;
                margin-left: -9px;
                margin-top: 23%;
          
            }
            span.classement {
                margin-top: -32%;
                margin-left: 0;
                margin-bottom: 9%;
        
            }
            img.img-post {
                width: 30%;
            }
            
            img.img-post-details {
                width: 100%;
            }
    
            
        img.img-details {
            width: 44%;
        }
            .title-renseignement{
                font-size: 18px;
              }   
              
            .col-xl-2.chart {
                flex: 0 0 25%;
                max-width: 25%;
            }
            .title-renseignement-2 {
                font-size: 14px;
            }

            .table-flush th.text-bold {
                font-size: 12px;
            }
            .profilsvalue {
                font-size: 16px;
            }

            .card .table-flush td, .card .table-flush th {
                padding-left: 0.7rem;
                padding-right: 0.7rem;
            }
      
            .add-img {
                font-size: 12px;
            }

            .nbr-suggestion{
                margin-left: -44%;
            }

            .bloc-performance .col-xl-4 , .bloc-performance .col-xl-8 {
                flex: 0 0 100%;
                max-width: 100%;
            }
            span.title-perfomance , span.title-perfomance1 {
                font: normal normal normal 13px/30px Ubuntu;
            }
            span.value-performance{
                font: normal normal bold 15px/15px Ubuntu;
            }

            span.value-performance1 {
                font: normal normal bold 15px/15px Ubuntu;
            }
            .bloc-performance .card-body {
                padding: 1rem;
            }
            .card  .table-performance td,  .card  .table-performance th {
                padding-left: 0.3rem;
                padding-right: 0.3rem;
            }
       
            .value-activite{
                font-size: 14px
            }

            span.value-avis{
                font-size: 20px;
            }
            .note-avis img {
                width: 56px;
            }
            .note-avis {
                padding-left: 0px;
            }
            li.listWordings {
                margin: 2px;
            }
            .popover-body {
                width: 200px !important;
            }
            .value-post {
                text-align: left;
                font: normal normal 300 12px/12px Ubuntu;
                letter-spacing: 0.3px;
                color: #707070;
            }
            .date-pro{
                font-size: 10px;
            }
            .text-programme {
                white-space: initial;
                display: flex;
            }
            .col-lg-4.part1 {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-lg-4.part2 {
                flex: 0 0 50%;
                max-width: 50%;
            }
            .part2 img , .part2 i.fa.fa-check{
                float: right;
            }
            .bloc-fiche .details-post {
                padding-right: 0%;
            }
            img.show-fiche {
                margin: 0px 3px;
            }
            .details-fiche {
                font-size: 10px;
            }
            .bloc-fiche .details-post{
                padding-right: 0;
            }
            img.popover__title {
                margin-left: -14px;
                margin-top: -17px !important;
            }

            }


      
          
        @media (min-width: 1400px) {
            span.classement {
                margin-top: -28%;
                margin-left: 0;
                margin-bottom: 9%;
            }
              }

     
              @media (min-width: 1470px) {
                .col-xl-2.chart {
                    flex: 0 0 21%;
                    max-width: 21%;
                }
                
        span.value-stat {
            font: normal normal 20px/18px Ubuntu;
        }
               
                .content-top-stat .title-stat {
                    font: normal normal 12px/12px Ubuntu;
                    margin: 5px 6px;
                }
                .content-top {
                    margin-left: 28%;
                }

              
             

            }
         
                  @media (min-width: 1500px) {
                    .content-top span {
                        font: normal normal normal 12px/18px Ubuntu;
                    }
                    .row.align-items-center.respo {
                        padding: 0 0px;
                    }
                    span.vues {
                        font: 17px/12px Ubuntu;
                        font-weight: bold;
                    }
                    .content-top-stat .title-stat {
                        width: 72px;
                    }
                    .bloc-flop i.fas.fa-arrow-down {
                        font-size: 65px;
                        margin-right: 12px;
                        margin-top: -20px;
                        margin-left: -10px;
            
                    }
                    .bloc-top i.fa.fa-arrow-up{
                        font-size: 65px;
                        margin-right: 12px;
                        margin-left: -10px;
                        margin-top: 11%;
                  
                    }
                    span.classement {
                        margin-top: -25%;
                        margin-left: 0;
                        margin-bottom: 9%;
                    }
                    .nbr-suggestion{
                        margin-left: -37%;
                    }
                      }

                      @media (min-width: 1600px) {
                        span.classement {
                            margin-top: -21%;
                            margin-left: 0;
                            margin-bottom: 9%;
                        }
                        .col-xl-2.chart {
                            flex: 0 0 19%;
                            max-width: 19%;
                        }
                       
                    }

                    @media (min-width: 1700px)
                    {
                        .nbr-suggestion {
                            margin-left: -30%;
                        }

                        .col-lg-4.part1 , .col-lg-4.part2  {
                            flex: 0 0 33.3333333333%;
                            max-width: 33.3333333333%;
                        }
                      
                    }
           

              
        @media (min-width: 1800px) {
            .content-top span {
                font: normal normal normal 12px/18px Ubuntu;
            }
            .row.align-items-center.respo {
                padding: 0 0px;
            }
            .col.content-top-stat {
                display: flex;
            }
            span.vues {
                font: 20px/18px Ubuntu;
                font-weight: bold;
            }
            .content-top-stat .title-stat {
                width: 100%;
            }
            .bloc-flop i.fas.fa-arrow-down {
                font-size: 77px;
                margin-right: 12px;
                margin-top: -18px;
                margin-left: -10px;
    
            }
            .bloc-top i.fa.fa-arrow-up{
                font-size: 82px;
                margin-right: 12px;
                margin-left: -10px;
                margin-top: 6%;
          
            }
            span.classement {
                margin-top: -21%;
                margin-left: 0;
                margin-bottom: 9%;
            }
            img.img-post {
                width: 25%;
            }

            img.img-details {
                width: 25px;
            }
            .bloc1{
                margin-bottom: 5em;
            }
            
            img .img-prog-details {
                width: 23%;
            }
            img.img-post-details {
                width: 100%;
            }

            .col-xl-2.chart {
                flex: 0 0 16.6666666667%;
                max-width: 16.6666666667%;
            }
            .title-renseignement{
                font-size: 24px;
              }   
              
            .title-renseignement-2 {
                font-size: 18px;
            }

            .table-flush th.text-bold {
                font-size: 14px;
            }
            .profilsvalue {
                font-size: 25px;
            }

            .card .table-flush td, .card .table-flush th {
                padding-left: 0.7rem;
                padding-right: 0.7rem;
            }
      
            .add-img {
                font-size: 14px;
            }

            .nbr-suggestion{
                margin-left: -27%;
            }

            .bloc-performance .col-xl-4  {
                    flex: 0 0 33.3333333333%;
                    max-width: 33.3333333333%;
            }

            .bloc-performance .col-xl-8
            {
                flex: 0 0 66.6666666667%;
                max-width: 66.6666666667%;
            }
            span.title-perfomance , span.title-perfomance1 {
                font: normal normal normal 16px/30px Ubuntu;
            }
            span.value-performance{
                font: normal normal bold 20px/20px Ubuntu;
            }

            span.value-performance1 {
                font: normal normal bold 20px/20px Ubuntu;
            }
            .bloc-performance .card-body {
                padding: 1rem;
            }
            .card  .table-performance td,  .card  .table-performance th {
                padding-left: 0.7rem;
                padding-right: 0.7rem;
            }
       
            .value-activite{
                font-size: 18px
            }

            span.value-avis{
                font-size: 30px;
            }
            .note-avis img {
                width: auto;
            }
            .note-avis {
                padding-left: 0px;
            }
            li.listWordings {
                margin: 10px;
            }
            .popover-body {
                width: 200px !important;
            }
            .value-post {
                text-align: left;
                font: normal normal 300 12px/12px Ubuntu;
                letter-spacing: 0.3px;
                color: #707070;
            }
            .date-pro{
                font-size: 10px;
            }
            .text-programme {
                font-size: 12px;
     
                display: flex;
            }
           
            .part2 img , .part2 i.fa.fa-check{
                float: right;
            }
            .bloc-fiche .details-post {
                padding-right: 0%;
            }
            img.show-fiche {
                margin: 0px 7px;
            }

            img.show-fiche {
                width: 15%;
                height: 15px;
            }

            .details-fiche {
                font-size: 10px;
            }
            .bloc-fiche .details-post{
                padding-right: 0;
            }
            img.popover__title {
                margin-left: 6px;
                margin-top: -17px !important;
            }

              }
  
              

/***************bloc post**********/

.bloc-top{
    padding: 0%;
    border-top-left-radius: 1em;
    background: #b1cd45;
    color: #fff;
    overflow: hidden;
}
        

.bloc-flop{
    padding: 0%;
    border-top-right-radius: 1em;
    background: #c94040;
    color: #fff;
    z-index: -1;
}
.bloc-top i.fa.fa-arrow-up {
    position: absolute;

}
.content-top h2 {
    color: #fff;
}

.content-top span {
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    line-height: 17px;
    display: block;
}

.bloc-top-stat {
    padding: 0px;
    margin: 0px;
    background: #fff;
    border-left: 3px solid #b1cd45;
    border-bottom: 3px solid #b1cd45;
    border-bottom-left-radius: 1em;
}
i.fa.fa-minus {
    display: block;
    margin-top: 7px;
}

.bloc-flop i.fas.fa-arrow-down {
 
    position: absolute;
    z-index: -1;
}

span.classement {
    font: normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #0081C7;
    font-weight: normal;
    display: block;
    position: relative;
    padding-bottom: 5%;
    cursor: pointer;
}
.bloc-flop-stat {
    padding: 0px;
    margin: 0px;
    background: #fff;
    border-right: 3px solid #c94040;
    border-bottom: 3px solid #c94040;
    border-bottom-right-radius: 1em;
}


.content-top-stat .title-stat {
    letter-spacing: 0.3px;
    color: #707070;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    margin: 0;
}

.content-top-stat i.fas.fa-arrow-down {
    color: #c94040;
}

.content-top-stat i.fa.fa-arrow-up {
    color: #b1cd45;
}

span.value-stat {
    letter-spacing: 0px;
    color: #707070;
    font-weight: 600;
}

.content-top-stat p{
    line-height: 11px;
    color: #707070;
    text-align: center;
    margin-top: -7px;
}


.content-top-stat .desc-stat {
    font: normal normal 300 10px/18px Ubuntu;
letter-spacing: 0px;
color: #707070;
}



.modifcodegoogle {
    width: 50%;
    left: 30%;
    top: 13%;
}

.modifcodegoogle p
{
    text-align: left;
font: normal normal normal 12px/22px Ubuntu;
letter-spacing: 0px;
color: #5E5E5E;
}
.addcode{
    display: flex;
}
.addcode img {
    width: 9%;
    height: 18%;
    display: flex;
    margin-right: 20px;
    margin-top: 20px;
}
button.btn.btn-pub {
    color: #fff;
    padding: 7px 40px;
    border-radius: 50px;
    text-align: center;
    font: normal normal normal 12px/13px Ubuntu;
    letter-spacing: 0px;
    background: #0081c7;
    border-radius: 50px;
    margin-top: 5%;
}

 .btncnx {
    display: inline-flex;
    width: 100%;
}

span.btn-autre {
    color: #0081c7;
    padding: 7px 28px;
    text-align: left;
    font: normal normal bold 12px/13px Ubuntu;
    letter-spacing: 0px;
    cursor: pointer;
}



.tooltip .tooltiptext {
    visibility: hidden;
    width: 216px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 12px;
    padding: 6px 10px 0px 10px;
    margin-top: -5px;
    margin-left: -15.5pc;
    padding-bottom: 10px;
    position: sticky;
    display: inline-table;
    position: absolute;
    z-index: 1;
}

.prog1 .tooltiptext.shadow {
    margin-top: -131px !important;
}


.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }