.dashed {
    display: flex;
    justify-content: start;
    align-items: start;

}
.contentapp {
  background: url(../../assets/nature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar{
  /* background: #9c27b0; */
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 21px;
  align-items: center;
}

div#v-pills-tabContent {
    width: 85%;
}
/* div#v-pills-tabContent {
  background: #80808054;
} */
.pointage {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .time-slot {
    margin: 20px 0;
  }
  
  .time-display {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  h3 {
    margin-top: 20px;
    color: #333;
  }
  .entete {
    /* background: #9C27B0; */
    display: flex;
    justify-content: end;
    padding: 10px;
}

