<div class="contentapp">
  <!-- HEADER -->
  <div class="entete">
    <app-header
      [datauser]="user"
      [useradmin]="allUsers"
      [conge]="leavesuser">
    </app-header>
  </div>

  <!-- CHAT BUTTON -->
  <button class="chat-toggle-btn" (click)="toggleChat()">
    💬 Chat
    <span class="badge" *ngIf="unreadCount > 0">
      {{ unreadCount }}
    </span>
  </button>

  <!-- CHAT BOX -->
  <div class="chat-box" [class.open]="isChatOpen">
    <div class="chat-header">
      Chat Application
      <span class="close-btn" (click)="toggleChat()">✖</span>
    </div>

    <div class="chat-content">
      <app-chat
        (refreshUnread)="updateUnreadBadge()"
        [unreadCountchiled]="unreadCount">
      </app-chat>
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="dashed">
    <!-- SIDEBAR -->
    <div class="sidebar">
      <div class="dlmenu">

        <!-- USER INFO -->
        <div class="headersidbr">
          <span class="titles">
            Bienvenue <br />
            {{ user.user?.name }}
          </span>

          <span [ngSwitch]="user.user?.role">
            <span *ngSwitchCase="'administrator'">Role : Admin</span>
            <span *ngSwitchCase="'employer'">Role : Employer</span>
            <span *ngSwitchCase="'client'">Role : Client</span>
            <span *ngSwitchDefault>Inconnu</span>
          </span>
        </div>

        <!-- NAVIGATION -->
        <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical">

          <!-- ACCUEIL -->
          <button
            class="nav-link active"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-home"
            type="button">
            <i class="bi bi-house"></i> Accueil
          </button>

          <!-- PROFILES -->
          <button
            *ngIf="user.user?.role === 'administrator'"
            class="nav-link"
            type="button"
            (click)="toggleProfileSubmenu()">
            <i class="bi bi-person-circle"></i> Profiles
          </button>

          <div
            class="submenu"
            *ngIf="showProfileSubmenu && user.user?.role === 'administrator'">
            <button
              class="nav-link sub"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-profile-list"
              type="button">
              <i class="bi bi-person-lines-fill"></i> Listes
            </button>
          </div>

          <!-- STATISTIQUE -->
          <button
            *ngIf="user.user?.role === 'administrator' || user.user?.role === 'employer'"
            class="nav-link"
            id="v-pills-statistique-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-statistique"
            type="button">
            <i class="bi bi-clipboard-data"></i> Statistique
          </button>

          <!-- CONGE -->
          <button
            *ngIf="user.user?.role === 'administrator' || user.user?.role === 'employer'"
            class="nav-link"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-messages"
            type="button">
            <i class="bi bi-calendar-event"></i> Congé
          </button>

          <!-- HISTORIQUE -->
          <button
            *ngIf="user.user?.role === 'administrator' || user.user?.role === 'employer'"
            class="nav-link"
            id="v-pills-historique-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-historique"
            type="button">
            <i class="bi bi-clock"></i> Historique
          </button>

          <!-- TACHE -->
          <button
            *ngIf="user.user?.role === 'administrator' || user.user?.role === 'employer'"
            class="nav-link"
            id="v-pills-tache-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-tache"
            type="button">
            <i class="bi bi-chat-dots"></i> Tâche
          </button>
          <!-- Fiche de paix -->
          <button
            *ngIf="user.user?.role === 'administrator' || user.user?.role === 'client'"
            class="nav-link"
            type="button"
            (click)="toggleProfileSubmenupaix()">
            <i class="bi bi-file-earmark-medical-fill"></i> Paix
          </button>
              <!-- SUBMENU PAIX -->
          <div
            class="submenu"
            *ngIf="showProfileSubmenutpaix && (user.user?.role === 'administrator' || user.user?.role === 'client')">

            <button
              class="nav-link sub"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-paix-list"
              type="button">
              Listes
            </button>

            <button
              class="nav-link sub"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-paix-config"
              type="button">
              Config paix
            </button>

            <button
              class="nav-link sub"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-paix-add"
              type="button">
              Imprimé paix
            </button>
          </div>
          <!-- TRAITE -->
          <button
            *ngIf="user.user?.role === 'administrator' || user.user?.role === 'client'"
            class="nav-link"
            type="button"
            (click)="toggleProfileSubmenutraite()">
            <i class="bi bi-file-earmark-medical-fill"></i> Traite
          </button>


          <!-- SUBMENU TRAITE -->
          <div
            class="submenu"
            *ngIf="showProfileSubmenut && (user.user?.role === 'administrator' || user.user?.role === 'client')">

            <button
              class="nav-link sub"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-traite-list"
              type="button">
              Listes
            </button>

            <button
              class="nav-link sub"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-traite-config"
              type="button">
              Config traite
            </button>

            <button
              class="nav-link sub"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-traite-add"
              type="button">
              Imprimé traite
            </button>
          </div>

          <!-- PARAMETRE -->
          <button
            class="nav-link"
            id="v-pills-settings-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-settings"
            type="button">
            <i class="bi bi-gear"></i> Paramètre
          </button>
        </div>
      </div>

      <!-- FOOTER -->
      <div class="copyright">
        Copyright © {{ lastmonth }} Pointingworks
      </div>
    </div>

    <!-- RIGHT CONTENT -->
    <div class="tab-content right" id="v-pills-tabContent">

      <div class="tab-pane fade show active" id="v-pills-home">
        <app-detaileuser [userdetaile]="user"></app-detaileuser>
      </div>

      <div class="tab-pane fade" id="v-pills-profile-list">
        <app-profils [userdetaile]="user"></app-profils>
      </div>

      <div class="tab-pane fade" id="v-pills-statistique">
        <app-statistique [userdetaile]="user"></app-statistique>
      </div>

      <div class="tab-pane fade" id="v-pills-messages">
        <app-leaves [userdetaile]="allUsers"></app-leaves>
      </div>

      <div class="tab-pane fade" id="v-pills-historique">
        <app-historique [userdetaile]="user"></app-historique>
      </div>

      <div class="tab-pane fade" id="v-pills-tache">
        <app-tache
          [userdetaile]="usernotpagination"
          [datauser]="user">
        </app-tache>
      </div>

    <div class="tab-pane fade" id="v-pills-paix-list">
        <app-paix
          [userdetaile]="usernotpagination"
          [datauser]="user">
        </app-paix>
      </div>

      <div class="tab-pane fade" id="v-pills-paix-config">
        <app-config-paix
          [userdetaile]="usernotpagination"
          [datauser]="user">
        </app-config-paix>
      </div>

      <div class="tab-pane fade" id="v-pills-paix-add">
        <app-add-paix
          [userdetaile]="usernotpagination"
          [datauser]="user">
        </app-add-paix>
      </div>

      <div class="tab-pane fade" id="v-pills-traite-list">
        <app-traite
          [userdetaile]="usernotpagination"
          [datauser]="user">
        </app-traite>
      </div>

      <div class="tab-pane fade" id="v-pills-traite-config">
        <app-config-traite
          [userdetaile]="usernotpagination"
          [datauser]="user">
        </app-config-traite>
      </div>

      <div class="tab-pane fade" id="v-pills-traite-add">
        <app-add-traite
          [userdetaile]="usernotpagination"
          [datauser]="user">
        </app-add-traite>
      </div>

      <div class="tab-pane fade" id="v-pills-settings">
        <app-secttings
          *ngIf="user?.user"
          [userdetaile]="user.user">
        </app-secttings>
      </div>

    </div>
  </div>
</div>