.dashed {
    display: flex;
    justify-content: start;
    align-items: start;

}
.contentapp {
  background: url(../../assets/nature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar{
  background: #4b0677;
  height: 130vh;
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 21px;
  align-items: center;
  justify-content: space-between;
}

div#v-pills-tabContent {
    width: 90%;
}
.copyright {
  display: flex
;
  flex-direction: column;
  color: #fff;
}
.pointage {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .time-slot {
    margin: 20px 0;
  }
  
  .time-display {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  h3 {
    margin-top: 20px;
    color: #333;
  }
app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #4b0677;
}



.briefcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 0px 39px;
}
.entete  img.logo {
  width: 50px;
  border-radius: 70px;
}
.entete  span.slogon {
  font-size: 15px;
  color: #fff;
}
.tab-content > .active {
  display: block;
  padding: 70px 24px;
}
.headersidbr {
  color: #fff;
  font-family: "Poppins", serif;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
}
button.nav-pills .nav-link.active {
  background-color: #bc9af4;
  border-bottom: 7px solid #fff;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #5358d9;
}
.nav-link {
  background: #827ed6;
  color: #fff;
}
div#v-pills-tab {
  gap: 34px;
}
@media(min-width: 1600px) {
.sidebar{
  width: 10%;
}

div#v-pills-tabContent {
    width: 90%;
}
}
@media(max-width: 1599px) {
  .sidebar{
    width: 15%;

}
div#v-pills-tabContent {
  width: 85%;
}
}
p#imageeditor img {
    width: 140px!important;
    display: block!important;
    margin: 0 auto!important;
}