
   <div  class="pb-3" style="padding: 0%;     border-radius: 1rem;">
  
    <div class="row ml-1 mr-1 mb-5 mt-2">
  
      <div class="col-lg-6 bloc-top">
        <div class="card-header bg-transparent p-0 title-Dachboard">
          <div class="row align-items-center" style=" padding: 10px 0px 10px 0px; margin: 0px;">
  
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
  
            <div class="col content-top">
              <h2 class="title-renseignement-2 text-white mb-0">Top</h2>
  
              <span>Fiche GMB <br><span class="acitve-plus">le plus active</span></span>
  
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="col-lg-6 bloc-flop">
        <div class="card-header bg-transparent p-0 title-Dachboard">
          <div class="row align-items-center" style=" padding: 10px 0px 10px 0px; margin: 0px;">
            <i class="fas fa-arrow-down" aria-hidden="true"></i>
            <div class="col content-top">
              <h2 class="title-renseignement-2  text-white mb-0">Flop</h2>
  
              <span>Fiche  GMB <br> le moins active</span>
  
            </div>
          </div>
        </div>
  
      </div>
  
  
  
      <div class="col-lg-6 bloc-top-stat ">
        <div class="classement-frnachises title-Dachboard pt-4 pb-5" >
          <div class="row align-items-center">

            <div   *ngFor="let tops of TopFranchises; let i =index" class="col content-top-stat">   
                <div class="col-xl-1 col-md-1 col-xs-1 ">
                    <i  *ngIf="tops.Classify == 0"  class="fa fa-arrow-up classify_top_three" aria-hidden="true"></i>
                    <i   *ngIf="tops.Classify == 1 "  class="fa fa-minus  classify_top_three" aria-hidden="true"></i>
                    <i   *ngIf="tops.Classify == 2 "  class="fa fa-arrow-down  classify_top_three" aria-hidden="true"></i>
                </div>
                <div class="col-xl-5 col-md-5 col-xs-5 pl-2 pr-0">
              <span class=" text-black title-stat  mb-0">{{tops.Name}}<br> <span class="desc-stat">{{tops.City}} </span></span>
            </div>
            <div class="col-xl-6 col-md-6 col-xs-6 pl-0 pr-0">
              <span class=" vues "> {{tops.Views}} </span> 
            </div>
            
           </div>
          </div>
        </div>
      </div>
  
  
      <div class="col-lg-6 bloc-flop-stat">
        <div class="classement-frnachises title-Dachboard pt-4" >
            <div class="row align-items-center">
  
              <div   *ngFor="let tops of FlopFranchises; let i =index" class="col content-top-stat">   
                  <div class="col-xl-1 col-md-1 col-xs-1 ">
                      <i  *ngIf="tops.Classify == 0"  class="fa fa-arrow-up classify_top_three" aria-hidden="true"></i>
                      <i   *ngIf="tops.Classify == 1 "  class="fa fa-minus  classify_top_three" aria-hidden="true"></i>
                      <i   *ngIf="tops.Classify == 2 "  class="fa fa-arrow-down  classify_top_three" aria-hidden="true"></i>
                  </div>
                  <div class="col-xl-5 col-md-5 col-xs-5 pl-2 pr-0">
                <span class=" text-black title-stat  mb-0">{{tops.Name}}<br> <span class="desc-stat">{{tops.City}} </span></span>
              </div>
              <div class="col-xl-6 col-md-6 col-xs-6 pl-0 pr-0">
                <span class=" vues "> {{tops.Views}} </span> 
              </div>
              
             </div>
            </div>
          </div>
  
      </div>
  
      <div class="col-lg-12">
        <a class="show-more avis"
        (click)="open(content)"
        ><span class="classement avis">Voir le classement</span></a >
        <div class="media">
            <div class="media-body">
             <div class="reviews-members-footer">
               <ng-template #content let-modal>
                 <div class="modal-header">
                   <button
                     type="button"
                     class="close"
                     aria-label="Close"
                     (click)="modal.dismiss('Cross click')"
                   >
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <!--body Modal negatif --->
                 <div class="modal-body mt-20 modal-avis">
                   <div class="reviews-members pb-2">
                     <span
                        class=" pb-3 modal-title basic-title classements"
                       id="modal-basic-title  "
                       >Classement</span >
                     <div class="media ">
                       <div class="media-body">
                         <div class=" container pl-9 pr-9">
                         <div class=" row  mt-2">
                           <div class="col-xl-4 col-md-4 col-xs-12 d-block mx-auto text-center" >
                             <div class="classemnent-fiche">
                            <span class="number-class">2<sup>ème</sup></span> 
                            <div *ngFor="let fiche of AllTopFlopFranchises; let i =index" >
                             <div class="classemnent-fiche-1" *ngIf="i == 1">
                            <div class="header-classify  content-top-stat mt-4" >
                             <i  *ngIf="fiche.Classify == 0"  class="fa fa-arrow-up classify_top_three" aria-hidden="true"></i>
                             <i   *ngIf="fiche.Classify == 1 "  class="fa fa-minus  classify_top_three" aria-hidden="true"></i>
                             <i   *ngIf="fiche.Classify == 2 "  class="fa fa-arrow-down  classify_top_three" aria-hidden="true"></i>
                              <span   class=" header-classify text-black title-stat">
         
                                {{ fiche.Name }}
                                <span class="text-region">{{ fiche.City }}</span>
                              </span>
                            </div>
                            
                            <div class="content-top-stat">
                              <span class="nbr-avis">{{ fiche.Count }}</span>
                            </div>
                          </div>
                          </div>
                           </div>
                         </div>
                           <div class="col-xl-4 col-md-4 col-xs-12  d-block mx-auto text-center" >
                             <div class="classemnent-fiche first">
                               <span class="number-class"> 1<sup>er</sup></span> 
                               <div *ngFor="let fiche of AllTopFlopFranchises; let i =index" >
                                <div class="classemnent-fiche-1" *ngIf="i == 0">
                               <div class="header-classify  content-top-stat pl-4  pr-4 mt-4" >
                                 <i  *ngIf="fiche.Classify == 0"  class="fa fa-arrow-up classify_top_three" aria-hidden="true"></i>
                               <i   *ngIf="fiche.Classify == 1 "  class="fa fa-minus  classify_top_three" aria-hidden="true"></i>
                               <i   *ngIf="fiche.Classify == 2 "  class="fa fa-arrow-down  classify_top_three" aria-hidden="true"></i>
                                 <span   class="text-black title-stat">
                                   {{ fiche.Name }}
                                   <span class="text-region">{{ fiche.City }}</span>
                                 </span>
                               </div>
                               
                             
                             </div>
                             </div>
                              </div>
                         </div>
                           <div class="col-xl-4 col-md-4 col-xs-12 d-block  mx-auto text-center" >
                             <div class="classemnent-fiche third">
                               <span class="number-class"> 3<sup>ème</sup> </span> 
                               <div *ngFor="let fiche of AllTopFlopFranchises; let i =index" >
                                <div class="classemnent-fiche-1" *ngIf="i == 2">
                               <div class="header-classify content-top-stat mt-4" >
                                 <i  *ngIf="fiche.Classify == 0"  class="fa fa-arrow-up classify_top_three" aria-hidden="true"></i>
                               <i   *ngIf="fiche.Classify == 1 "  class="fa fa-minus  classify_top_three" aria-hidden="true"></i>
                               <i   *ngIf="fiche.Classify == 2 "  class="fa fa-arrow-down  classify_top_three" aria-hidden="true"></i>
                                 <span   class="text-black title-stat">
                                   {{ fiche.Name }}
                                   <span class="text-region">{{ fiche.City }}</span>
                                 </span>
                               </div>
                               
                            
                             </div>
                             </div>
                              </div>
                           </div>
                         </div>
                         <div class="all-franchisess mt-4" >
                         <div
                         *ngFor="let fiche of AllTopFlopFranchises; let i =index"
                           class="row card-header bg-transparent title-Dachboard   pt-2 pb-0 pl-5 pr-5"  >
                     
                           <div *ngIf="i >= 3" class="col-lg-1 content-top-stat   text-right pl-1 pr-1" >
                            <span class="avis_classify pr-2 mt-2">{{i+1}}</span> 
                
                        </div>
                               
                            <div *ngIf="i >= 3" class="col-lg-9 content-top-stat  text-left pl-1 pr-1">
                               <span   class="text-black title-stat mr-0 ml-0 pr-3">
                                 {{ fiche.Name }}
                                 <span class="text-region pr-3" >{{ fiche.City }}</span>
                               </span>
                             </div>
                      
                            <div *ngIf="i >= 3" class="col-lg-2 content-top-stat mt-1  text-center pl-1 pr-1" >
                                <i   *ngIf="fiche.Classify == 0"  class="fa fa-arrow-up align-middle mr-2"  style="color: #b1cd45;" aria-hidden="true"></i>
                                <i   *ngIf="fiche.Classify == 1 "  class="fa fa-minus align-middle  mr-2"  style="color: #707070;" aria-hidden="true"></i>
                                <i   *ngIf="fiche.Classify == 2 "  class="fa fa-arrow-down align-middle  mr-2"  style="color: #c94040;" aria-hidden="true"></i>
                     
                               <span   *ngIf="fiche.Classify == 0" class="nbr-avis" style="color: #b1cd45;"> {{ fiche.Percent }}</span>
                               <span   *ngIf="fiche.Classify == 1" class="nbr-avis " style="color: #707070; vertical-align: sub;" > {{ fiche.Percent }}</span>
                               <span    *ngIf="fiche.Classify == 2"  class="nbr-avis " style="color: #c94040;"> {{ fiche.Percent }}</span>
                             </div>
                            <div *ngIf="i >= 3" style="width:90%;margin: 0 auto ;border-bottom:1px solid #CBCBCB;" class=" "></div>
                         </div>
                        </div>
                        </div>
                       </div>
                     </div>
                 </div>
           
             </div>
               </ng-template>
               <!--fin body Modal positif --->
           
             </div>
           </div>
           </div>
          </div>
    </div>

  </div>
  <!-------------Fiche administreé---------------->
  
  
  
  
