.service.class2 {
    background-color: #e8eaed;
    border-color: #dadce0;
    color: #3c4043;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: left;
    padding: 5px 9px 5px 9px;
}
.service {
    padding-right: 10px;
    padding: 5px 9px 5px 9px;
    background: #fff;
    margin: 10px;
    border: 1px solid #ccc;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    font: normal normal normal 13px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #5f6368;
}

.attributselected {
    background-color: #e8f0fe;
    border-color: #d2e3fc;
    color: #1967d2 !important;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: left;
    padding: 5px 9px 5px 9px;
}
span.type_attribut {
    font: normal normal bold 18px/48px Ubuntu;
    letter-spacing: 0px;
    color: #5e5e5e;
    display: block;
    text-align: left;
}
.Attributs2 {
    max-height: 631px;
    height: 180px;
    top: 0px;
    overflow-y: scroll;
}
.modifEtablissement p {
    font: normal normal normal 16px/25px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(217 217 217);
    -webkit-box-shadow: 0 0 1px rgb(217 217 217);
  }
  span.locations {
    padding: 10px 10px 10px 10px;
    margin: 10px;
    border: 1px solid #cbcbcb;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #0081c7;
}

.fichess {
    margin-top: 14px;
    height: 450px;
    display: inline-block;
    overflow: auto;
    margin-bottom: 4px;
}
.fichess div {
    display: inline-block;
}