.container {
    display: block;
    margin: 0 auto;
    margin-top: 4.8%;
}

.bloc-authentification{
    
    border-radius: 1%;
    background-size: 100% 100%;
    max-width: 1200px !important;
    padding: 1%;

    height: 100%;
  
}
.input-group {
    width: 70%;
    margin: 0 auto;
}
.authen{
    background: #fff;
    border-radius: 1%;
    padding: 1%;
}
.bg-secondary {
    background-color: transparent!important;
    padding-top: 20%;
    border: none;

}
.authen {
    display: flex;
    width: 100%;
    background: green;
    background-color: #e8f0fe;
    background-clip: padding-box;
    border-radius: 0.375rem;
    padding-right: 11px;
}
.authen i.fa.fa-eye {
    padding-top: 11px;
    cursor: pointer;
}
.modifpassword
{    display: block;
    text-align: center;
    font: normal normal normal 12px/14px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    opacity: 1;
}

div#wallpostModif.slide-out {

    animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards; 
}

div#wallpostModifPass.slide-in {

    animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards; 
}

@keyframes slide-in {
    100% {
      left:100;
    }
  }
  @-webkit-keyframes slide-out {
    0% {
      left: 0;
    }
    100% {
      left: -200%;
    }
  }
  @keyframes slide-out {
    0% {
      left: 0;
    }
    100% {
      left:-200%;
    }
}

button.btn.btn-recupuration-mail {
    width: 134px;
    height: 34px;
    margin: 6px 0px !important;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    padding: 6px;
    height: 34px;
    background: #CC0071 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

div#wallpostModifPass.hide {
    display: none;
}

div#wallpostModifPass.show {
    display: block;
}

.btn-annulation{
    margin: 10px 0px !important;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    font: normal normal normal 13px/14px Ubuntu;
    letter-spacing: 0px;
    color: #CC0070;
    opacity: 1;
    padding: 6px;
    border: none;
}


.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInRight {
    100% {
    -webkit-transform: translateX(-1000%);
    transform: translateX(-30%);
    visibility: hiden;
    opacity: 0;
    }
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    

    } 

    div#wallpostModif3.hide{
        display: none;
    }

    div#wallpostModif.hide{
        display: none;
    }
    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-30%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        
     
        } 
.btn-connexion{
    width: 70%;
    margin: 6px 0px !important;
    background: #cc0071;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    padding: 8px;

}
span.text-cnx {
    display: block;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    font: normal normal bold 11px/12px Ubuntu;
    letter-spacing: 0px;
    color: #CC0071;
}
.version-wallpost{
    line-height: 15px;
    margin-top: 28%;
}
span.version {
    font-size: 12px;
    line-height: 5px !important;
    text-align: center;
    color: #AAAAAA;
    font: normal normal normal 10px/11px Ubuntu;
}
.shadow {
    box-shadow: 0 0 2rem 0 #aaaaaa4d !important;
}
.bienvenue{
text-align: center;
font: normal normal normal 13px/15px Ubuntu;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
}

.ng-untouched .input-group-alternative {
    box-shadow: none!important;
    border-bottom: 1px solid #ccc!important;
    background: transparent !important;
    border-radius: 0 !important;
    transition: box-shadow 0.15s ease!important;
}


.form-control{
    background: transparent !important;
    font: normal normal normal 10px/11px Ubuntu;
    letter-spacing: 0px;
    color: #AAAAAA;
    opacity: 1;
}

button.btn.btn-google.btn-danger.my-4 {
    width: 54%;
    margin: 6px 0px !important;
    background: #4385f4;
    font-size: 13px;
    font-weight: 300;
    padding: 1px;
    border: 1px solid #4385f4;
}


span.icon-google {
    background: #fff;
    padding: 4px 7px;
    align-items: center;
    display: inherit;
    border-radius: 3px;
    float: left;
}
.icon-google img {
    width: 13px;
}
.navig{
    display: inherit;
    margin-top: 2px;
}

.ng-pristine .form-control {
    background: transparent !important;
}

  
@media (max-width: 768px)
{
    .shadow {
        box-shadow: none !important;
    }
    .bloc-authentification {
        height: auto!important;
        padding: 0px !important;
    }

}







@media (min-width: 1080px)
{
    #wallpostModif ,#wallpostModif3 ,#wallpostModifPass{
        padding-top: 1%;
    }
.bloc-authentification{
    height: 550px;
}

.container {
    margin-top:3.8%
}

.version-wallpost {
    margin-top: 5%;
}

}


@media (min-width: 1200px)
{
    .container{
      margin-top: 2.6%;
    max-width: 1100px;
    }
    .bloc-authentification{
        height: 594px;
    }


}



@media (min-width: 1500px)
{
    #wallpostModif ,#wallpostModif3 ,#wallpostModifPass{
        padding-top: 8%;
    }
    .bloc-authentification{
        height: 732px;
    }

button.btn.btn-recupuration-mail
{
    width: 134px;
    height: 34px;
}

.btn-authentification{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}
.version-wallpost {
    margin-top: 18%;
}

.container {
    margin-top: 2.3%;
}

}




@media (min-width: 1800px)
{
button.btn.btn-recupuration-mail
{
    width: 134px;
    height: 34px;
}
.bloc-authentification{
    height: 790px;
}
.btn-authentification{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}
.version-wallpost {
    margin-top: 28%;
}

.container {
    margin-top: 4.8%;
}

}