<!-- Page content -->
<div class="container blog-authen">
  <div
    class="row justify-content-center shadow border-0 bloc-authentification"
    style="
      background: url('./assets/Dashboard/pg-login.png');
      border-radius: 2%;
      background-size: 100% 100%;
    "
  >
    <div class="col-lg-5 col-md-7" *ngIf="!isShown" id="wallpostModif">
      <div class="card bg-secondary" [@slideUp]>
        <img
          style="padding-top: 50px"
          src="../assets/login/WollPostImage1.png"
        />
      </div>
    </div>
    <div class="col-lg-5 col-md-7" *ngIf="!isShown" id="wallpostModif3">
      <div class="bg-secondary" [@slideright] style="margin-top: 15px">
        <div class="bg-transparent">
          <div class="btn-wrapper text-center">
            <span class="btn-inner--icon"
              ><img src="../assets/login/logo_WollPost_login.svg"
            /></span>
          </div>
          <div class="text-muted text-center mt-0 mb-3">
            <span class="bienvenue">Bienvenue sur votre plateforme</span>
          </div>
        </div>

        <div class="bg-transparent">
          <div class="text-center">
            <button type="button" class="btn btn-google btn-danger my-4"  (click)="socialSignIn('google')">
              <span class="icon-google"
                ><img src="../assets/Dashboard/icon-google.jpg" />
              </span>

              <span class="navig"> Continuer avec Google</span>
            </button>
          </div>
        </div>

        <div class="card-body px-lg-5">
          <form [formGroup]="myForm" (ngSubmit)="Authentification()">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <input
                  class="form-control"
                  placeholder="Identifiant"
                  type="text"
                  formControlName="login"
                  name="login"
                />
              </div>
            </div>
            <div class="form-group" style="background: transparent !important">
              <div
                class="input-group input-group-alternative"
                style="background: transparent !important"
              >
              <div class="authen">
                <input
                class="form-control"
                placeholder="Mot de pass"
                type="password"
                name="password"
                #password
                formControlName="password"
                style="background: transparent !important"
              />
              <i (click)="showPassWord(password)" *ngIf="this.myForm.controls.password.valid && toggleIconeEye" class="fa fa-eye"></i>
              <i (click)="showPassWord(password)" *ngIf="this.myForm.controls.password.valid && !toggleIconeEye" class="fa fa-eye"></i>
              </div>
              
              </div>
            </div>

            <div class="text-center">
              <button class="btn btn-connexion my-4" id="m_login_forget_password_submit">
                Se connecter
              </button>
            </div>

            <!-- 
            <div class="text-center">
              <button type="submit" class="btn  btn-connexion  my-4"
              [disabled]="loading || !myForm.valid" id="m_login_signin_submit"
                                        >Se connecter</button>
            </div>  -->

            <div
              class="custom-control-alternative custom-checkbox"
              (click)="Modifpass()"
            >
              <span class="text-cnx">Mot de passe oublié ?</span>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center version-wallpost">
          <span class="version"
            >Wallpost <br />
            Version 1.0.0</span
          >
        </div>
      </div>
    </div>
    <div
      class="col-lg-5 col-md-7 hide"
      id="wallpostModifPass"
      [@sliderleft]
      style="margin-top: 5%"
    >
      <div class="bg-secondary" style="margin-top: 15px">
        <div class="bg-transparent">
          <div class="btn-wrapper text-center">
            <span class="btn-inner--icon"
              ><img src="../assets/login/logo_WollPost_login.svg"
            /></span>
          </div>
          <div class="text-muted text-center mt-0 mb-3">
            <span class="bienvenue">Bienvenue sur votre plateforme</span>
          </div>
        </div>

        <div class="card-body">
          <span class="text-center mt-0 mb-3 modifpassword">
            Entrez votre email pour rénitialiser votre mot de passe</span
          >

          <form
            [formGroup]="ReinitialisationForm"
            (ngSubmit)="Reinitialisation()"
          >
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <input
                  class="form-control"
                  placeholder="Email"
                  type="Email"
                  name="email"
                  formControlName="email"
                />
              </div>
            </div>

            <div class="text-center btn-authentification">
              <div class="row">
                <div class="card-body col-lg-6">
                  <button
                    type="button"
                    class="btn btn-recupuration-mail my-4"
                    type="submit" 
                  >
                    Envoyer
                  </button>
                </div>

                <div class="card-body col-lg-6">
                  <button
                    type="button"
                    class="btn-annulation my-4"
                    (click)="AnnulerModifpass()"
                  >
                    Annuler
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center version-wallpost">
          <span class="version"
            >Wallpost <br />
            Version 1.0.0</span
          >
        </div>
      </div>
    </div>

  
  <simple-notifications></simple-notifications>
  </div>
  <simple-notifications></simple-notifications>
</div>


