<div class="authHome d-flex">
    <div class="imgleft">
    <img src="assets/autentification.jpg" alt="autentification">
  </div>
  <div class="rightsection">
    <div class="briefcase mb-3">
      <img src="assets/briefcase.gif"  alt="logo">
      <span class="slogon">Pointingworks</span>
    </div>
<div class="reset-password-container">
    <h2>Réinitialiser le mot de passe</h2>
    
    <form (ngSubmit)="resetPassword()">
      <div class="form-group mb-3" id="step1">
        <label for="newPassword">Nouveau mot de passe</label>
        <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      
      <div class="form-group mb-3">
        <label for="confirmPassword">Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
   <div class="btns" id="step2">
      <button type="submit" class="btn btn-success" [disabled]="!newPassword || !confirmPassword">Réinitialiser</button>
   </div>
    </form>
  </div>

  </div>
  