<div>
  <div class="select img posts">



    <div *ngIf="pictures.length == 0" class="uploadimage mb-3">
      <div style="    cursor: pointer;" (click)="Openupload(upload)">
        <img src="../assets/post/add_photo.svg" alt="Photos wallpost" style="    width: 10%;" /> <br>
        <div> <span class="change-picture">Ajouter une photo </span> </div>
      </div>
    </div>


    <div>
      <div class="imagesArray">

        <div *ngFor="let picture of pictures ;let k = index , first as isFirst">
          <span style="display: none">{{picture.attachement_id}}</span>
          <img alt="Photos wallpost" alt="img" src="{{picture.attachement_nom}}" *ngIf="isFirst">
          <a *ngIf="isFirst"
            class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill deletephoto">
            <i class="fa fa-trash" (click)="deleteAllImage(pictures)" aria-hidden="true"></i> </a>
        </div>

      </div>
    </div>
  </div>


  <div id="notifs-client1">
    <ng-template #upload let-modal>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body modifEtablissement">
        <span class="title_modifE  mb-4 text-general"> Sélectionner un fichier </span>
        <div class="uploadphoto">
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink>Importer</a>
              <ng-template ngbNavContent>
                <div class="picture-group" style="height: 508px;">


                  <div *ngIf="loading == true" class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>

                  <div class="picture-wrapper" *ngIf="loading == false">
                    <i class="ti-trash" (click)="removePicture();" *ngIf="picture && canDelete"></i>
                    <div (click)="bringFileSelector();" class="glissementphoto">
                      <span class="change-picture"> Faites glisser une photo ici</span>
                      <span class="autre">Vous pouvez également ...</span>
                      <button class="select_photo mt-3">Sélectionner une photo sur votre ordinateur</button>
                    </div>
                    
                    <input id="keywordsInput" ngFileSelect [options]="options"  (uploadOutput)="onUploadOutput($event)"
                      (uploadInput)="uploadInput" type="file" hidden="true">



                  </div>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Albums</a>
              <ng-template ngbNavContent>
                <div class="d-flex" style="width: 40%;">
                  <input class="form-control" [(ngModel)]="Album" placeholder="Albums" type="text" name="Albums">
                  <div class="search-albums ml-3" (click)="getAlbums(Album)"><i class="fa fa-search"></i> </div>
                </div>

                <div class="mt-3 mb-2" *ngIf="currentcat == true">
                  <span> <i class="fa fa-chevron-left mr-3" (click)="retoursgalerie()"></i> {{current_categorie}}
                  </span>
                </div>

                <div class="albums albums-photos mt-3">
                  <div class="albums-photos" *ngFor="let item of Albums">
                    <div class="lastphoto principal" style="display: block;">
                      <img src={{item.file}} (click)="show_albums(item.category)">
                      <span class="principalphoto">{{item.category}}</span>
                      <span class="numberphoto">{{total_photo}} photos</span>
                    </div>

                    <div *ngIf="show_album == true" style="display: contents;">
                      <div *ngFor=" let photo of item.list , ; let last = last">
                        <span (click)="select_photo(item ,photo )" class="lastphoto"
                          [ngClass]="{'photoselected': photo.status === true  , 'notselected': photo.status === false }">

                          <img src="./assets/post/selected.png" class="imgselected" *ngIf="photo.status === true">


                          <img [src]=photo.file>

                      </span>
                      </div>
                    </div>
                  </div>

                </div>



              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
      <div class="modal-footer" style=" justify-content: initial;     display: inline-block;">
        <div class="row">
          <div class="col-lg-6">



            <button class=" btn  select_photo" [disabled]="!editmode" (click)="addpicturesalbums()">
              Importer une photo</button>
            <button class="annulerselect" (click)="Annuler_importphoto()">Annuler</button>
          </div>

          <div class="col-lg-6 savoir_photo" style=" justify-content: end;     text-align: right;">
            <span class="pub_post"> Post public dans les produits Google </span>
            <span class="details"> <a
                href="https://support.google.com/contributionpolicy/?p=photo_guidelines&hl=fr&visit_id=637708577227260490-1809927981&rd=2#topic=7422769"
                target="_blank"> En savoir plus </a></span>
          </div>
        </div>
      </div>

    </ng-template>



  </div>


</div>