<div class="container mt-4">
  <h1 class="text-white">Ajouter un congé</h1>

  <!-- Sélection de la période de congé -->
  <input
    type="text"
    class="form-control mb-3"
    ngxDaterangepickerMd
    [(ngModel)]="selected"
    [autoApply]="true"
    placeholder="Sélectionner une période"
  />

  <div *ngIf="selected">
    <!-- Raison du congé -->
    <div class="mb-3">
      <label for="reason" class="form-label text-white">Raison</label>
      <textarea
        id="reason"
        class="form-control"
        rows="3"
        [(ngModel)]="reason"
        placeholder="Écrire la raison du congé"
      ></textarea>
    </div>

    <!-- Sélection du remplaçant -->
    <div class="mb-3">
      <label for="replacant" class="form-label text-white">Remplaçant</label>
      <select class="form-select" [(ngModel)]="replacant" id="replacant">
        <option *ngFor="let user of users" [value]="user.id">
          {{ user.name }}
        </option>
      </select>
    </div>

    <!-- Boutons d'action -->
    <div class="btns d-flex gap-3">
      <button type="button" class="btn btn-dark" (click)="resetForm()">Annuler</button>
      <button type="button" class="btn btn-success" (click)="addLeave()">Ajouter</button>
      <button 
      *ngIf="editingLeaveId" 
      type="button" 
      class="btn btn-warning" 
      (click)="updateLeave()"
    >
      Mettre à jour
    </button>
    </div>
  </div>
</div>

<!-- Liste des demandes de congé -->
<div class="container mt-4">
  <h1 class="text-white">Liste des congés</h1>
  <input
  type="text"
  [(ngModel)]="searchTerm"
  (ngModelChange)="currentPage = 1"
  class="form-control"
  placeholder="Recherche par utilisateur"
/> <ng-container *ngIf="leaves.length !== 0; else leavesitem">
    <table class="table table-hover mt-4 table-custom-radius">
      <thead>
        <tr>
          <th  *ngIf="currentUserRole === 'administrator' ">Nom utilisateur</th>
          <th>Date début</th>
          <th>Date fin</th>
          <th>Remplaçant</th>
          <th>Raison</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let leave of filteredLeaves">
          <td   *ngIf="currentUserRole === 'administrator' ">{{ leave?.creator?.name || '—' }}</td>
          <td>{{ leave.start_date }}</td>
          <td>{{ leave.end_date }}</td>
          <td>{{ leave.replacant?.name || '—' }}</td>
          <td>{{ leave.reason }}</td>
          <td>
            <span class="badge" [ngClass]="{
              'bg-success': leave.status === 'approved',
              'bg-warning': leave.status === 'pending',
              'bg-danger': leave.status === 'rejected'
            }">{{ leave.status }}</span>
          </td>
          <td>
            <!-- Actions pour supprimer ou approuver un congé -->
            <button class="btn btn-danger btn-sm me-2" 
            (click)="deleteLeave(leave.id)" 
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Supprimer">
              <i class="bi bi-trash"></i>  
            </button>
            
            <button
              *ngIf="currentUserRole === 'administrator' && leave.status === 'pending' ||  leave.status === 'rejected'"
              class="btn btn-primary btn-sm me-2"
              (click)="approveLeave(leave.id)"
              data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Approuver"
              >
            <i class="bi bi-calendar-check"></i> 
            </button>
            
            <button
            *ngIf="user.role === 'employer'"
              class="btn btn-warning btn-sm"
              (click)="editLeave(leave)"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Modifier"
            >
            <i class="bi bi-pencil-square"></i> 
            </button>
            <button
            *ngIf="currentUserRole === 'administrator' && leave.status === 'pending'"
            class="btn btn-secondary btn-sm me-2"
            (click)="rejectLeave(leave.id)"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Annuler"
            >
          <i class="bi bi-x-circle"></i> 
          </button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav *ngIf="totalPages.length > 1" class="mt-3">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="currentPage = currentPage - 1">Précédent</button>
        </li>
    
        <li
          class="page-item"
          *ngFor="let page of totalPages"
          [class.active]="page === currentPage"
        >
          <button class="page-link" (click)="currentPage = page">{{ page }}</button>
        </li>
    
        <li class="page-item" [class.disabled]="currentPage === totalPages.length">
          <button class="page-link" (click)="currentPage = currentPage + 1">Suivant</button>
        </li>
      </ul>
    </nav>
  </ng-container>
  <ng-template #leavesitem>
   <div class="aucun  d-flex flex-column align-items-center bg-white p-3 mb-2 rounded">
    <img src="../../../assets/calendar.gif" alt="calendar"  class="icons "/>
    <span>Pas  congé</span>
   </div> 
  </ng-template>

 
</div>