.aucun img.icons{
    width: 80px;
}
.aucun span{
    text-align: center;
}
.aucun span {
    font-weight: bold;
    font-size: 16px;
}
.table-custom-radius {
    border-radius: 12px;
    overflow: hidden; /* Important pour masquer les débordements */
  }
  p#imageeditor img {
    width: 140px!important;
    display: block!important;
    margin: 0 auto!important;
}