<div class="container mt-4">
    <h1 class="text-white">Ajouter un congé</h1>
  
    <input
      type="text"
      class="form-control mb-3"
      ngxDaterangepickerMd
      [(ngModel)]="selected"
      [autoApply]="true"
      placeholder="Sélectionner une période"
    />
  
    <div *ngIf="selected">
      <div class="mb-3">
        <label for="reason" class="form-label text-white">Raison</label>
        <textarea
          id="reason"
          class="form-control"
          rows="3"
          [(ngModel)]="reason"
          placeholder="Écrire la raison du congé"
        ></textarea>
      </div>
  
      <div class="btns d-flex gap-3">
        <button type="button" class="btn btn-dark" (click)="selected = null; reason = ''">Annuler</button>
        <button type="button" class="btn btn-success" (click)="addLeave()">Ajouter</button>
      </div>
    </div>
  </div>
  
  <table class="table table-hover mt-4">
    <thead>
      <tr>
        <th>Nom utilisateur</th>
        <th>Date début</th>
        <th>Date fin</th>
        <th>Remplaçant</th>
        <th>Raison</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of leaves">
        <td>{{ leave.pointage?.user?.name || '—' }}</td>
        <td>{{ leave.start_date }}</td>
        <td>{{ leave.end_date }}</td>
        <td>
         
          <select class="form-select" [(ngModel)]="replacant">
            <option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}
            </option>
          </select>
        </td>
        <td>{{ leave.reason }}</td>
        <td>
          <button class="btn btn-danger btn-sm me-2" (click)="deleteLeave(leave.id)">Supprimer</button>
          <button
            *ngIf="currentUserRole === 'administrator' && leave.status === 'pending'"
            class="btn btn-primary btn-sm"
            (click)="approveLeave(leave.id)"
          >
            Approuver
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  