<div class="d-flex justify-content-center">

    <form class="container mt-4 p-4 border rounded shadow bg-light" (ngSubmit)="onSubmit(paiefForm)" #paiefForm="ngForm"
        novalidate>


        <div class="title d-flex justify-content-between">
            <h2>Fiche de Paie</h2>
            <h2>بطاقة خلاص</h2>
        </div>
<ng-container *ngIf="fichepaixselected?.pdf_path; else defaultImage">
<div  class="mb-3 d-flex justify-content-start  gap-2">

    <label>PDF actuel</label>

    <div>
        <a
          [href]="storageUrl + '/' + fichepaixselected.pdf_path"
          target="_blank"
          class="btn btn-outline-primary btn-sm violet ">

            Voir le PDF fiche

        </a>
    </div>

</div>
</ng-container>
  <ng-template #defaultImage>
        <!-- Import PDF -->
        <div class="mb-3">
            <label class="form-label">
                Importer un PDF modèle fiche de paie
            </label>

            <input type="file" (change)="onFileSelected($event)" accept="application/pdf" required>
        </div>

</ng-template>

        <!-- Société / période -->

        <div class="d-flex gap-2">

            <div class="mb-3 w-50">
                <label>Société</label>
                <input class="form-control" disabled="true" [(ngModel)]="formData.entreprise" name="entreprise">
            </div>


            <div class="mb-3 w-25">
                <label>Mois</label>

                <select class="form-select" [(ngModel)]="formData.mois" name="mois">

                    <option value="">Sélectionner un mois</option>
                    <option value="Janvier">Janvier</option>
                    <option value="Février">Février</option>
                    <option value="Mars">Mars</option>
                    <option value="Avril">Avril</option>
                    <option value="Mai">Mai</option>
                    <option value="Juin">Juin</option>
                    <option value="Juillet">Juillet</option>
                    <option value="Août">Août</option>
                    <option value="Septembre">Septembre</option>
                    <option value="Octobre">Octobre</option>
                    <option value="Novembre">Novembre</option>
                    <option value="Décembre">Décembre</option>

                </select>
            </div>


            <div class="mb-3 w-25">
                <label>Année</label>

                <input type="number" class="form-control" [(ngModel)]="formData.annee" name="annee" min="2000"
                    max="2100">
            </div>


        </div>



        <!-- Salarié -->

        <div class="d-flex gap-2">

            <div class="mb-3 w-25">
                <label>Matricule</label>
    <select class="form-select"
        [(ngModel)]="formData.matricule"
        (change)="onConfigChange($event)"
        name="matricule">

    <option value="">Sélectionner un matricule</option>

    <option *ngFor="let cfg of configs"
            [value]="cfg.matricule">
        {{ cfg.matricule }}
    </option>

</select>
            </div>


            <div class="mb-3 w-25">
                <label>Nom</label>
                <input class="form-control" [(ngModel)]="formData.nom" name="nom" readonly>
            </div>


            <div class="mb-3 w-25">
                <label>Prénom</label>
                <input class="form-control" [(ngModel)]="formData.prenom" name="prenom">
            </div>


            <div class="mb-3 w-25">
                <label>N° CNSS</label>
                <input class="form-control" [(ngModel)]="formData.cnss" name="cnss">
            </div>


        </div>



        <!-- Situation -->

        <div class="d-flex gap-3">


            <div class="mb-3">
                <label>
                    <input type="checkbox" [(ngModel)]="formData.chef_famille" name="chef_famille">

                    Chef de famille
                </label>
            </div>



            <div class="mb-3">
                <label>Nombre enfants</label>

                <input type="number" class="form-control" [(ngModel)]="formData.nombre_enfants" name="nombre_enfants">

            </div>


        </div>



        <!-- Salaire -->

        <div class="d-flex gap-2">


            <div class="mb-3 w-50">

                <label>
                    Salaire Brut (TND)
                </label>
                <input type="number" class="form-control" [(ngModel)]="formData.salaire_brut" name="salaire_brut"
                    (blur)="calculDepuisBrut()">

            </div>



            <div class="mb-3 w-50">

                <label>
                    Salaire Net (TND)
                </label>
                <input type="number" class="form-control" [(ngModel)]="formData.salaire_net" name="salaire_net"
                    (blur)="calculDepuisNet()">

            </div>


        </div>




        <!-- Résultat -->


        <div class="border rounded p-3 bg-white">


            <h5>Données de paie</h5>


            <div class="d-flex justify-content-between">
                <span>Salaire brut</span>
                <b>{{formData.salaire_brut | number:'1.3-3'}}</b>
            </div>


            <div class="d-flex justify-content-between">
                <span>Retenue CNSS</span>
                <b>{{formData.retenue_cnss | number:'1.3-3'}}</b>
            </div>


            <div class="d-flex justify-content-between">
                <span>Salaire brut imposable</span>
                <b>{{formData.salaire_brut_imposable | number:'1.3-3'}}</b>
            </div>


            <div class="d-flex justify-content-between">
                <span>Retenue à la source IRPP</span>
                <b>{{formData.retenue_source | number:'1.3-3'}}</b>
            </div>


            <div class="d-flex justify-content-between">
                <span>Contribution sociale solidarité</span>
                <b>{{formData.contribution_sociale | number:'1.3-3'}}</b>
            </div>


            <hr>


            <div class="d-flex justify-content-between text-success">
                <h5>Salaire Net</h5>
                <h5>
                    {{formData.salaire_net | number:'1.3-3'}} TND
                </h5>
            </div>


        </div>



        <button class="btn btn-success mt-3">
            Générer PDF
        </button>


    </form>

</div>