ul.SidebarList {
    background: transparent;
    padding: 15px;
    border-bottom: 1px solid #fff;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
ul.SidebarList ul.dropdown-menu.show {
    background: #fff;
}
ul.SidebarList ul.dropdown-menu.show a {
    color: black;
}

ul.SidebarList .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}
a#creations {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
img.logo {
    width: 58px;
}