legend.scheduler-border.text-general b {
    font: normal normal bold 12px/14px Ubuntu;
    letter-spacing: 0px;
    color: #C94040;
}
legend.scheduler-border.text-general.positif b {
    color: #B1CD45!important;
}
fieldset.scheduler-border.mb-.positif {
    border: 1px solid #B1CD45!important;
    opacity: 1;
}
.profilsvalue{
    font-size: 23px;
    white-space: nowrap;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(235,161,15,1);
}
.title-Dachboard{
    border-bottom: none;
}
i.ni.ni-image {
    font-size: 15px;
    margin-right: 2%;
    display: inline-block;
}
.nbr-suggestion
{
    position: absolute;
    margin-top: 0.3%;
    margin-left: -27%;
    color: #fff;
    font-weight: 100;
    font-size: 18px;
}
.plus-suggestions{
    color: #0081c7;
    font-size: 12px;
    cursor: pointer;
    line-height: 18px;
    margin-top: -3px;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
}
.table-flush th.text-bold {
    line-height: 18px;
    margin-top: -2px;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(94,94,94,1);
}

.post-prog{
    padding-bottom: 0px;
    padding-top: 14px;
}
.title-post{
    padding-left: 7%;
    line-height: 18px;
    margin-top: -3px;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(94,94,94,1);
}

#Trac_4581 {
    fill: rgba(94,94,94,1);
}
.Trac_4581 {
    overflow: visible;
    position: absolute;
    width: 17.534px;
    height: 11.955px;
    left: 0.797px;
    top: 3.586px;
    transform: matrix(1,0,0,1,0,0);
}

.value-post{
    white-space: nowrap;
    line-height: 18px;
    margin-top: -2px;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(94,94,94,1);
}

.text-programme{
    white-space: nowrap;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    padding-left: 12%;
    font-size: 10px;
    color: rgba(94,94,94,1);
}
.details-post{
    float: right;
    padding: 0px;
    margin: 0px;
    text-align: right;
    padding-right: 5%;
}



.details-prog{
    padding: 0px !important;
}
i.fa.fa-calendar {
    color: #eba10f;
    font-size: 14px;
}
i.fa.fa-plus {
    font-size: 9px;
}
#TB {
    position: relative;
}
.date-pro{
font-size: 12px;
}
.title-Dachboard h2 {
    font-weight: bold;
}
.card-header.bg-transparent.title-Dachboard {
    padding-bottom: 0px;
}
.bloc-dashboard{
    margin-bottom: 3%;
}
#TB .card {
    border-radius: 1rem;
}



.title-renseignement-2
{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 18px; 
}

.title-renseignement-3
{

    line-height: 18px;
    margin-top: -3px;
    text-align: left;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 12px;
}
.Suggestion {
    text-align: left;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 18px;
}

#Trac_2673 , #Trac_3026 {
    fill: rgba(112,112,112,1);
}
.Trac_2673  , .Trac_3026{
    overflow: visible;
    position: absolute;
    width: 15.504px;
    height: 11.074px;
    left: 0px;
    top: 3px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.add-img{
    margin-left: -6px;
    margin-top: 0;
    line-height: 18px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(94,94,94,1);
    background: white;
    padding: 0px 0px 23px 0px;
}

span.value-performance1{
    text-align: center;
    font: normal normal bold 20px/15px Ubuntu;
    letter-spacing: 0px;
    color: #0081C7;
    display: block;
}
span.value-performance {
    text-align: center;
    font: normal normal bold 20px/15px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    display: block;
}
span.title-perfomance {
    display: block;
    text-align: center;
    font: normal normal normal 16px/30px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    text-transform: capitalize;

}

span.title-perfomance1 {
    display: block;
    text-align: center;
    font: normal normal normal 16px/30px Ubuntu;
    letter-spacing: 0px;
    color: #0081C7;
    text-transform: capitalize;

}


.value-activite
{
white-space: nowrap;
    text-align: right;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    display: block;
    font-size: 18px;
    color: rgba(94,94,94,1);
}


.value-percent{
float: right;
padding-left: 10%;
text-align: center;
color: #C94040;
font-size: 10px
}


element.style {
    width: 25%;
}
.progress-bar {
    box-shadow: none;
    border-radius: 0;
    height: auto;
}


i.fa.fa-star {
    font-size: 10px;
    color: rgba(203,203,203,1);
}
i.fa.fa-star.s {
    font-size: 10px;
    color: inherit;
}
label.form-check-label.listoption.trie-plus {
    text-align: left;
    font: normal normal bold 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #707070;
    opacity: 1;
    cursor: pointer;
}
label.form-check-label.listoption {
    text-align: left;
    font: normal normal normal 12px/12px Ubuntu;
    letter-spacing: 0.3px;
    color: #707070;
    opacity: 1;
    cursor: pointer;
}
.details{
    text-align: center;
    font: normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #0081C7;
    display: block;
    cursor: pointer;
}

span.value-avis {
    line-height: 30px;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 0px;
    color: rgba(112,112,112,1);
}

.nbr-avis{
    white-space: nowrap;
    margin-top: 0px;
    text-align: center;
    display: inline-block;
    font: normal normal normal 14px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    opacity: 1;
    vertical-align: middle;
    margin-right: 5px;
}

span.wording-value {
    font-weight: bold;
    margin-left: 5px;
}

a.Name-avis {
    white-space: nowrap;
    line-height: 18px;
    margin-top: -2px;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(94,94,94,1);
}

.listWordings {
    white-space: nowrap;
    line-height: 18px;
    margin-top: 6px;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,129,199,1);
    border-radius: 30px;
    padding: 5px 14px;
    border: 1px solid rgba(0,129,199,1);
    display: inline-flex;
}
li.listWordings {
    display: inline-block;
    margin: 4px 18px 6px 0px!important;
}

.nom-societe{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,129,199,1);
    display: block;
    width: 177px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

span.star-rating.float-right {
    white-space: nowrap;
    line-height: 16px;
    margin-top: -1px;
    text-align: right;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(94,94,94,1);
}

/*wordings css*/
.card-header.bg-transparent.title-Wordings {
    padding: 0 0 0 30px;
    border: none;
}
span.sub-title {
    text-align: left;
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    opacity: 1;
}
/* fin wordings css*/
/*negatifs css*/
.listWordings.negatifs {
    border: 1px solid rgb(201 64 64);
    color: rgb(201 64 64);
}
/* fin negatifs css*/

/*positifs css*/
.listWordings.positifs {
    border: 1px solid #B1CD45;
    color: #B1CD45;
}
/* fin negatifs css*/

    .total-like-user-main a {
        display: inline-block;
        margin: 0 -17px 0 0;
    }
    .total-like {
        border: 1px solid;
        border-radius: 50px;
        display: inline-block;
        font-weight: 500;
        height: 34px;
        line-height: 33px;
        padding: 0 13px;
        vertical-align: top;
    }
    .restaurant-detailed-ratings-and-reviews hr {
        margin: 0 -24px;
    }
    .graph-star-rating-header .star-rating {
        font-size: 17px;
    }
    .progress {
        background: #f2f4f8 none repeat scroll 0 0;
        border-radius: 0;
        height: 30px;
    }
    .rating-list {
        display: inline-flex;
        margin-bottom: 15px;
        width: 100%;
    }
    .rating-list-left {
        height: 16px;
        line-height: 29px;
        width: 10%;
    }
    .rating-list-center {
        width: 80%;
    }
    .rating-list-right {
        line-height: 29px;
        text-align: right;
        width: 10%;
    }
    .restaurant-slider-pics {
        bottom: 0;
        font-size: 12px;
        left: 0;
        z-index: 999;
        padding: 0 10px;
    }
    .restaurant-slider-view-all {
        bottom: 15px;
        right: 15px;
        z-index: 999;
    }
    .offer-dedicated-nav .nav-link.active,
    .offer-dedicated-nav .nav-link:hover,
    .offer-dedicated-nav .nav-link:focus {
        border-color: #3868fb;
        color: #3868fb;
    }
    .offer-dedicated-nav .nav-link {
        border-bottom: 2px solid #fff;
        color: #000000;
        padding: 16px 0;
        font-weight: 600;
    }


    button.btn-repondre {
        background: #fff;
        border: 1px solid #ccc;
        color: #0081c7;
        border-radius: 5px;
        padding: 4px  20px;
        font-family: Ubuntu;
        font-size: 12px;
    }


    .menu-list img {
        width: 41px;
        height: 41px;
        object-fit: cover;
    }
    .restaurant-detailed-header-left img {
        width: 88px;
        height: 88px;
        border-radius: 3px;
        object-fit: cover;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    }
    .reviews-members .media .mr-3 {
        width: 56px;
        height: 56px;
        object-fit: cover;
    }
  
    fieldset {
        /* border: 1px solid #c94040; */
        border-radius: 14px;
    }
    
    .reviews-members{
        padding: 10px 9px;
    }

    .media {
        padding-bottom: 5px;
    }
.etat-post{
    text-align: left;
    font: normal normal bold 10px/10px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;}
    f.modal-avis{
    display: block;

}
    legend {
        background-color: #fff;
        padding: 0px 34px 7px 0px;
        width: auto;
        display: block;
    }
    .modal-avis {
        background: url(/assets/Avis/background-avis.svg);
        background-repeat: no-repeat;
        background-position: bottom 0px center;
        padding: 0;
    }
    .modal-footer > * {
        margin: 0 10px!important;
    }

    .rounded-pill {
        border-radius: 50rem!important;
    }
    .total-like-user {
        border: 2px solid #fff;
        height: 34px;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
        width: 34px;
    }
    .total-like-user-main a {
        display: inline-block;
        margin: 0 -17px 0 0;
    }
    .total-like {
        border: 1px solid;
        border-radius: 50px;
        display: inline-block;
        font-weight: 500;
        height: 34px;
        line-height: 33px;
        padding: 0 13px;
        vertical-align: top;
    }
    .restaurant-detailed-ratings-and-reviews hr {
        margin: 0 -24px;
    }
    .graph-star-rating-header .star-rating {
        font-size: 17px;
    }
    .avis-progress .progress {
        margin: 3% auto!important;
    }
    .rating-list {
        display: inline-flex;
        margin-bottom: 15px;
        width: 100%;
    }
    .rating-list-left {
        height: 16px;
        line-height: 29px;
        width: 10%;
    }
    .rating-list-center {
        width: 80%;
    }
    .rating-list-right {
        line-height: 29px;
        text-align: right;
        width: 10%;
    }
    .restaurant-slider-pics {
        bottom: 0;
        font-size: 12px;
        left: 0;
        z-index: 999;
        padding: 0 10px;
    }
    .restaurant-slider-view-all {
        bottom: 15px;
        right: 15px;
        z-index: 999;
    }
    
    .progress {
        background: #f2f4f8 none repeat scroll 0 0;
        border-radius: 0;
        height: 30px;
    }

.bloc-performance {
        height: 100%;
    }
    .card-footer{
        border-top: none;
    }

    .table thead th {
        border-top: none;
    }
    .filtre-date {
        display: flex;
    }
    span.datefiltre {
        text-align: right;
        font: normal normal normal 12px/16px Roboto;
        letter-spacing: 0.4px;
        color: #5E5E5E;
        opacity: 1;
        padding: 14px 10px 0px 10px;
    }
    .popover-body {
        width: 300px !important;
        float: left!important;
    }


    .agm-map-container-inner.sebm-google-map-container-inner {
        position: initial !important;
        overflow: initial!important;
    }

   .fichenonassigne{
       background:#cc0070;
       color: #fff;
       padding: 6px 10px;
       font-family: Ubuntu;
       font-style: normal;
       font-weight: normal;
       font-size: 8px;
       color: rgba(255,255,255,1);
       letter-spacing: 0.25px;
       border-radius: 3px;
   }

   .ficheencours{
    background:#eba10f;
    color: #fff;
    padding: 6px 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.25px;
    border-radius: 3px;
}


.fichepersonnalise{
    background:#b1cd45;
    color: #fff;
    padding: 6px 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.25px;
    border-radius: 3px;
}

.post-img{
    width: 18px;
    height: 18px;
}
.details-fiche {
    white-space: nowrap;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(112,112,112,1);
    letter-spacing: 0.25px;
}
img.show-fiche {
    margin: 0px 4px;
}
.ficheAdmin{
    padding-left: 10px;
    padding-bottom: 10px;
}
i.fa.fa-check {
    color: rgba(177,205,69,1);
}

.post-prog {
    padding-top: 5px !important;
}

i.fa.fa-search {
    color: #CBCBCB;
    font-size: 14px;
}

.list-fiche {
    max-height: 416px;
    overflow-y: scroll;
    margin-right: 4%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(217 217 217);
    -webkit-box-shadow: 0 0 1px rgb(217 217 217);
}

img.icon-maps {
    width: 90px;
    margin-left: -14px;
}
span.details-title {
    text-align: center !important;
    font: normal normal bold 12px/14px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    opacity: 1;
}

.post {
    display: flex;
    text-align: center;
    padding-left: 13%;
    padding-top: 3%;
    margin: 0 auto;
}
span.nbr-post {
    background: #eba10f;
    border-radius: 87%;
    padding: 1% 2% 0% 1.8%;
    max-height: 21px;
    max-width: 24px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    margin-right: 3%;
}

p.dernier-post {
    font: normal normal bold 10px/10px Ubuntu;

    color: #5E5E5E;
    opacity: 1;
}


span.etat-post {
    text-align: left;
    font: normal normal bold 10px/10px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
    opacity: 1;
    display: block;
}
li.listregion{
    display: inline-block;
    margin: 2px 5px;
}
.etatpost {
    text-align: left;
    font: normal normal normal 10px/10px Ubuntu;
    color: #5E5E5E;
    padding-bottom: 5px;
}







  
  .popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding:  0;
    margin-top: -10px;
  }
  
  .popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }

  span.filtre {
    text-align: center !important;
    font: normal normal bold 12px/14px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;

    display: block;
}
  




  ul.localisation {
    list-style: none;
    padding-left: 0px;
}
  
.listoption {
    text-align: left;
    font: normal normal normal 10px/12px Ubuntu;
    letter-spacing: 0.25px;
    color: #707070;
    margin: 7px
}




span.title-value {
    padding-left: 17%;
    margin-top: -15px;
    display: block;
}

.test {
    width: 82%;
    border-bottom: 3px solid #0081c7;
    margin: 0 auto;
    margin-top: 5%;
}



.calendar .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.375rem;
    border-right: 1px solid #cad1d7 !important;
    font: normal normal normal 12px/16px Ubuntu;
    letter-spacing: 0.4px;
    color: #5E5E5E;


}


input::-webkit-input-placeholder {
    color: #5E5E5E !important;
    }
    input:-moz-placeholder { /* Firefox 18- */
    color: #5E5E5E !important; 
    }
    input::-moz-placeholder {  /* Firefox 19+ */
    color: #5E5E5E !important; 
    }
    input:-ms-input-placeholder { 
    color: #5E5E5E !important; 
    }
    
    span.fiches {
        font: normal normal 300 12px/18px Ubuntu;
        letter-spacing: 0px;
    }
    
  
    .leaflet-popup-content {
        width: 300px !important;
    }
    h2.text-black.title-renseignement.avis {
        text-align: left;
        font: normal normal bold 14px/18px Ubuntu;
        letter-spacing: 0px;
        color: #5E5E5E;
        opacity: 1;
    }

    span.total-r {
        text-align: center;
        font: normal normal normal 18px/30px Ubuntu;
        letter-spacing: 0px;
        color: #C94040;
        display: block;
    }
    span.total-valeur {
        text-align: center;
        font: normal normal bold 30px/30px Ubuntu;
        letter-spacing: 0px;
        color: #C94040;
        display: block;
    }
    span.repondu {
        text-align: center;
        font: normal normal normal 18px/30px Ubuntu;
        letter-spacing: 0px;
        color: #5E5E5E;
        display: block;
    }
    span.total-repondu {
        text-align: center;
        font: normal normal bold 30px/30px Ubuntu;
        letter-spacing: 0px;
        color: #5E5E5E;
        display: block;
    }
    span.total-valeur.positif,span.total-r.positif {
        color: #B1CD45;
    }
    .nav-pills .nav-link.active, .nav-pills .show> .nav-link {
        background-color: transparent;
        border-bottom: 3px solid #0081c7;
        border-radius: initial !important;
        text-align: center;
        font: normal normal bold 12px/18px Ubuntu;
        letter-spacing: 0px;
        color: #0081C7;
        opacity: 1;
    }
    .nav-pills .nav-link {
        padding: 0.75rem 1rem;
        box-shadow: none;
        background-color: #fff;
        transition: all 0.15s ease;
        text-align: center;
        font: normal normal normal 12px/18px Ubuntu;
        letter-spacing: 0px;
        color: #707070;
        opacity: 1;
    }
    .filtrefiche .tooltip .tooltiptext {
        width: 215px !important;
        height: 257px !important;
        padding: 12px 23px!important;
        border-radius: 15px!important;
    }
    ul.nav-pills.nav {
        border-bottom: 1px solid #ccc;
    }
    .tooltip {
        opacity: 1;
        right: 0;
        left: 94%;
    
      }
      span.tooltiptext .form-check {
        padding-left: 0;
    }
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 143px;
        height: 188px;
        color: #555;
        text-align: left;
        border-radius: 6px;
        padding: 14px 22px;
        margin: 0 auto;
        display: block;
        font: normal normal bold 14px/22px Ubuntu;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);
        position: relative;
        top: 0;
        right: 0%;
        opacity: 1;
        z-index: 9999;
        transition: opacity 0.3s;
    
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
      .tooltip:hover i.far.fa-question-circle{
       color: #0081c7;
      }
      .avis-progress .progress {
        margin: 5% auto!important;
        width: auto!important;
    }
    .star {
        font-size: 11px;
        color:   #CBCBCB!important;
        padding-left: 1px;
        padding-top: 0.5px;
    }
      .star .filled {
        color: #eba10f ;
      }
      .bad {
        color: #CBCBCB ;
      }
      .filled.bad {
        color: #eba10f;
      }
      .filled{
        color: #cbcbcb;
    }
    
    .defaultHeart{
        position: relative;
        display: inline-block;
        color:gray;
        font-size: 50px;
    }
    
    .paintedHeart{
        position: absolute;
          display: inline-block;
          overflow: hidden;
          color: red;
    }
    .star {
        position: relative;
        display: inline-block;

        color: #d3d3d3;
      }
      .full {
        color: #eba10f;;
      }
      .half {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: #eba10f;
      }
      span.star.gestion {
        font-size: 15px;
    }
    .modal-title.basic-title{
        text-align: left;
        font: normal normal bold 24px/20px Ubuntu;
        letter-spacing: 0px;
        color: #5E5E5E;
        opacity: 1;
    }
    .modal-body .media,.modal-title.basic-title {
        padding: 0vh 30vh 1vh 30vh;
    }
    .modal-body .media {
        padding:  2vh 30vh 0vh 30vh;
    }
    .modal-content p.text-general {
        text-align: left;
        font: normal normal normal 12px/14px Ubuntu;
        letter-spacing: 0px;
        color: #5E5E5E;
    }
    .containers {
        font-size: 16px;
        line-height: 16px;
        height: 14px;
        overflow: hidden;
        display: inline-block;
      }
      .container-modal{
        font-size: 16px;
        line-height: 16px;
        height: 14px;
        overflow: hidden;

        opacity: 1;
        padding: 0 10px
      }
      .media.reponse-body {
        padding: 0vh 0vh 0vh 38vh!important;
    }
      .modal-body .media-body.resum {
        padding: 11px 0px 16px 27px;
    }
    .modal-body .reviews-members-body {
        padding: 0px 0px 0px 0px;
        margin-top: 2%;
        border-left: 2px solid #707070;
    }
      span.location-name {
        text-align: left;
        font: normal normal bold 14px/18px Ubuntu;
        letter-spacing: 0px;
        color: #5E5E5E;
        opacity: 1;
    }
      .show {
        overflow: visible;
        height: auto;
      }
      a.show-more {
        text-align: left;
        font: normal normal normal 12px/14px Ubuntu;
        letter-spacing: 0px;
        color: #0081C7;
        cursor: pointer;
        display:block;
    }

    .reponse-fiche {
        padding: 0px 26% 0px 26%;
    }
    .form-control.reponse_avis {
        border-bottom: 1px solid #cad1d7;
        border-top: 0px solid #cad1d7;
        border-right: 0px solid #cad1d7;
        border-left: 0px solid #cad1d7;
    }
    button.btn.btn-reponse {
        background: #0081C7 0% 0% no-repeat padding-box;
        color: #FFFFFF;
        opacity: 1;
        width: 166px;
     
        border-radius: 50px;
        text-align: center;
        font: normal normal normal 12px/13px Ubuntu;
    }
    button.btn.btn-annulations
    {
    background: transparent;
    color: #dddddd;
    border: 1px solid #dddddd;

    width: 166px;
    border-radius: 50px;
    text-align: center;
    font: normal normal normal 12px/13px Ubuntu;
    }
    .modal-footer {
        text-align: center;
        display: block;
    }
    .media.s {
        padding: 0vh 33vh 0vh 35vh!important;
    }
    fieldset.scheduler-border.mb-dernier {
        border: 1px solid #CBCBCB!important;
        min-height: 207px;
    }
    .ng-select.ng-select-opened>.ng-select-container .ng-arrow:before {
        content: "\f002";
        font-family: FontAwesome;
        position: absolute;
        left: 0;
        right: 0;
        display: contents;
    }
    span.pagination-avis.mx-auto {
        text-align: center;
        font: normal normal 12px/18px Ubuntu;
        letter-spacing: 0px;
        color: #0081C7;
        opacity: 1;
        display: block;
        cursor: pointer;
    }
    
    span.pagination-page {
        text-align: center;
        font: normal normal normal 12px/18px Ubuntu;
        letter-spacing: 0px;
        color: #5E5E5E;
        opacity: 1;
        margin: 0 auto;
        display: block;
    }
    legend.ml-0.hidden.pb-3 {
        padding: 0;
    }
    span.nom-societe.modals {
        width: 227px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    span.badge.badge-pill.avis-s {
        text-transform: initial;
    }
    .modal-title.basic-title.wordings {
        padding: 0;
        text-align: left;
        font: normal normal bold 18px/18px Ubuntu;
        letter-spacing: 0px;
        color: #5E5E5E;
        opacity: 1;
        display: block;
        margin: 0 auto;
    }
    .\=modal-body.mt-20.modal-avis.word {
        height: 510px;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
    }
    span.woding-table {
        text-align: center;
        font: normal normal normal 12px/18px Ubuntu;
        letter-spacing: 0px;
        color: #0081C7;
        opacity: 1;
        display: block;
        margin: 0 auto;
    }
    .dashed-words {
        border-bottom: 1px dashed #0081c7;
        padding: 5px;
    }
    .custom-container{
        padding:0px 20%  0px 20%;
        }
        span#modal-basic-title {
            text-align: left;
            font: normal normal normal 14px/18px Ubuntu;
            letter-spacing: 0px;
            color: #5E5E5E;
        }
        b.modal-title.wordings {
            text-align: left;
            font: normal normal bold 18px/18px Ubuntu;
            letter-spacing: 0px;
            color: #5E5E5E;
        }
        .form-check b {
            cursor: pointer;
        }
        span.modifier-date {
            line-height: 14px;
            margin-top: -1px;
            text-align: left;
            font-family: Ubuntu;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: #5e5e5e;
            padding: 15px;
        }
        p.text-general.ng-star-inserted {
          /*  overflow-y: scroll;*/
            background: white;
            width: 100%;
           /* height: 96px;*/
        }
        .container-modal:before {
            content: '';
            position: absolute;
            top: 0px;
            width: 100%;
            height: auto;
            background: linear-gradient(white, rgb(255 255 255));
        }
        .container-modal:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 92%;
    height: 53px;
    background: linear-gradient(rgb(255 255 255 / 0%), white);
}

.reviews-members-body .container-modal:after {
    content: '';
    position: absolute;
    top: 180px;
    width: 500px;
    height: 65px;
    background: linear-gradient(rgba(255, 255, 255, 0.001), white);
}

.modal-body .reviews-members-body {
    padding: 0px 0px 0px 0px;
    margin-top: 0;
    border-left: 2px solid #707070;
    height: 100px;
    overflow-x: scroll;
}


.container-modal {
    font-size: 16px;
    line-height: 16px;
    height: auto;
    overflow: inherit;
    opacity: 1;
    padding: 0 10px;
}

.modal-body .reviews-members-body.contant-popup2,.modal-body .reviews-members-body.contant-popup-3 {
    height: 32px!important;
    overflow-x: hidden;
}
.reviews-members-body.contant-popup2 .container-modal:after, .reviews-members-body.contant-popup-3.container-modal:after {
    content: '';
    top: 0!important;
    width: 500px;
    height: 10px!important;
    background: linear-gradient(rgb(255 255 255), white)!important;
}
p.text-general.resume.denier {
    margin-top: 0px;
}
a.show-more.condition {
    position: relative;
    left: 0;
    top: 0;
    display: contents;
}
span.avatar.avatar-md.rounded-circle img{
    width: 20px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    bottom: -13px;
    position: relative;
}
.medium_screen .avatar {
    display: block;
    background: #fff;
    cursor: pointer;
    height: 48px;
    width: 48px;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
}
i.cross  {
    font-size: 40px;
    color: rgba(112, 112, 112, 0.32);
    cursor: pointer;
    z-index: 99;
    padding: 0;
    margin: 0 auto;
}
.fa-times-thin:before {
    content: "×";
}
i.fa.fa-circle.mod {
    color: #C94040;
    font-size: 5px;
}
fieldset.pos-1:before {
    height: 1px;
    display: block;
    background: #B1CD45;
    border-top: 1px white;
    content: '';
    position: absolute;
   
}
fieldset.scheduler-border.mb-.neg {
    border: 1px solid #c94040;
}
legend.scheduler-border.negatig:before {
    height: 1px;
    display: block;
    background: #c94040;
    border-top: 1px white;
    content: '';
    position: absolute;
}
legend.dernier {
    padding: 6px 34px 7px 5px;
}
.serash.filter {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 0 17px 0px 38px;
}
legend.scheduler-border.zeo.negatig:before,legend.scheduler-border.zeo.positif:before {
    top: 47%;
}
legend.scheduler-border.zeo.negatig,legend.scheduler-border.zeo.positif {
    padding: 0px 0px 8px 0;
}
.text-general.resume.aucune {
    text-align: center;
    margin: 14% auto;
}
@media (min-width: 1440px){
    .neg .wording {
        margin-left:0px;
    }
    legend.scheduler-border.negatig:before {
        width: 381px;
        left: 30%;
        top: 47%;
    }
    fieldset.pos-1:before {
        width: 381px;
        left: 30%;
        top: 47%;
    }
    .first-bloc {
        width: 100%;
        margin: 0 auto;
    }
sup.sup-b{
    top: -25px;
    left: 7px;
}
}
    @media (min-width: 992px) {
        span.modifier-date{
            padding: 8px 5px 0px 20px;
            display: inline-block;
        }
        .listWordings{
            padding: 5px 37px;
        }
        .bloc-top i.fa.fa-arrow-up {
            position: absolute;
            margin-right: 14px;
            margin-left: -18px;
            margin-top: 0%;
        }
        .nav-pills .nav-link {
            padding: 0.75rem 0.5rem;
        }
        li.nav-avis.nav-item {
            padding: 0 5px;
        }
        span.value-avis {
            font-size: 20px;
            display: block;
        }}
    @media (min-width: 1024px) {
        .neg .wording {
            margin-left: 0px;
        }
        legend.scheduler-border.negatig:before {
            width: 278px;
            left: 34%;
            top: 47%
        }
        fieldset.pos-1:before {
            width: 278px;
            left: 34%;
            top: 47%
        }
        .pos {
            padding: 0px 0px 0px 0px;
        }
        .neg {
            padding: 0px 0px 0px 0px;
        }
        p.text-general.resume{
            white-space: break-spaces;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
        }
        span.value-avis {
            font-size: 39px;
            display: block;
            margin-top: 35px;
        }
        img.img-post {
            width: 14%;
        }
        img.img-post-details {
            width: 20px;
        }
        img.img-post {
            width: 20px;
        }
        img.show-fiche {
            width: 14px;
        }
        img.show-fiche {
            width: 20%;
            height: 20px;
        }
        img .img-prog-details {
            width: 14%;
        }
        
        
        img.img-post-details {
            width: 9%;
        }

        .bloc1{
            margin-bottom: -8%;
        }
        .title-renseignement{
            font-size: 16px;
          } 
          }
          @media (min-width: 1200px) {
            p.text-general.resume{
                white-space: break-spaces;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 410px;
            }
            span.modifier-date{
                padding: 0px 5px 0px 13px;
                display: inline-block;
            }
            .listWordings{
                padding: 4px 3px;
                font-size: 10px;
            }
            .bloc-top i.fa.fa-arrow-up {
                position: absolute;
                margin-right: 14px;
                margin-left: -18px;
                margin-top: 0%;
            }
            .nav-pills .nav-link {
                padding: 0.75rem 0.5rem;
            }
            li.nav-avis.nav-item {
                padding: 0 20px;
            }
            .card-body.pb-0.ml-0.review {
                padding: 0.2rem;
            }
            span.total-valeur,span.total-repondu {
                font: normal normal bold 15px/30px Ubuntu;
            }
            span.repondu {
                font: normal normal normal 12px/30px Ubuntu;
            }
            img.img-post {
                width: 64%;
            }
            
            img.img-post-details {
                width: 38%;
            }
    
            
            .title-renseignement{
                font-size: 18px;
              }   
              
            .col-xl-2.chart {
                flex: 0 0 25%;
                max-width: 25%;
            }
            .title-renseignement-2 {
                font-size: 14px;
            }

            .table-flush th.text-bold {
                font-size: 12px;
            }
            .profilsvalue {
                font-size: 16px;
            }

            .card .table-flush td, .card .table-flush th {
                padding-left: 0.7rem;
                padding-right: 0.7rem;
            }
      
            .add-img {
                font-size: 12px;
            }

            .nbr-suggestion{
                margin-left: -44%;
            }

            .tabindivid .nbr-suggestion{
                margin-left: -37%;
            }

            .bloc-performance .col-xl-4 , .bloc-performance .col-xl-8 {
                flex: 0 0 100%;
                max-width: 100%;
            }
            span.title-perfomance , span.title-perfomance1 {
                font: normal normal normal 13px/30px Ubuntu;
            }
            span.value-performance{
                font: normal normal bold 15px/15px Ubuntu;
            }

            span.value-performance1 {
                font: normal normal bold 15px/15px Ubuntu;
            }
            .bloc-performance .card-body {
                padding: 1rem;
            }
            .card  .table-performance td,  .card  .table-performance th {
                padding-left: 0.3rem;
                padding-right: 0.3rem;
            }
       
            .value-activite{
                font-size: 14px
            }

            span.value-avis{
                font-size: 35px;
                line-height: 37px;
                display: block;
                margin-top: 50%;
            }
            .note-avis img {
                width: 56px;
            }
            .note-avis {
                padding-left: 0px;
            }
            li.listWordings {
                margin: 2px;
            }
            .popover-body {
                width: 200px !important;
            }
            .value-post {
                font-size: 12px;
            }
            .date-pro{
                font-size: 10px;
            }
            .text-programme {
                white-space: initial;
                display: flex;
            }
            .col-lg-4.part1 {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-lg-4.part2 {
                flex: 0 0 50%;
                max-width: 50%;
            }
            .part2 img , .part2 i.fa.fa-check{
                float: right;
            }
            .bloc-fiche .details-post {
                padding-right: 0%;
            }
            img.show-fiche {
                margin: 0px 3px;
            }
            .details-fiche {
                font-size: 10px;
            }
            .bloc-fiche .details-post{
                padding-right: 0;
            }
            img.popover__title {
                margin-left: -35px;
                margin-top: 0px !important;
            }

            }
          
        @media (min-width: 1440px) {
            .pos {
                padding: 0px 25px 0px 0px;
            }
            .neg {
                padding: 0px 0px 0px 14px;
            }
            .title-renseignement{
                font-size: 21px;
              } 
              }

     
              @media (min-width: 1470px) {
                .col-xl-2.chart {
                    flex: 0 0 21%;
                    max-width: 21%;
                }
               
            }
         
                  @media (min-width: 1500px) {
                    .note-avis {
                        padding-left: 0px;
                        margin: 11% auto;
                    }
                    span.value-avis.page {
                        font-size: 35px;
                        line-height: 30px;
                        display: contents;
                    }
                    p.text-general.resume {
                        white-space: break-spaces;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        max-width: 473px;
                    }
                    span.modifier-date{
                        padding :0px 5px 0px 20px;  
                        display: inline-block;
                    }
                    .listWordings{
                        padding: 5px 14px;
                        font-size: 12px;
                    }
                    .bloc-top i.fa.fa-arrow-up {
                        position: absolute;
                        margin-right: 14px;
                        margin-left: -23px;
                        margin-top: 7%;
                }
                    .nav-pills .nav-link {
                        padding: 0.75rem 1rem;
                    }
                    li.nav-avis.nav-item {
                        padding: 0 6px;
                    }
                    .card-body.pb-0.ml-0.review {
                        padding: 1.5rem;
                    }
                    span.total-valeur,span.total-repondu {
                        font: normal normal bold 30px/30px Ubuntu;
                    }
                    span.repondu {
                        font: normal normal normal 18px/30px Ubuntu;
                    }
                    .nbr-suggestion{
                        margin-left: -37%;
                    }
                    .tabindivid .nbr-suggestion{
                        margin-left: -37%;
                    }
                      }

                      @media (min-width: 1600px) {
                        .col-xl-2.chart {
                            flex: 0 0 19%;
                            max-width: 19%;
                        }
                       
                    }

                    @media (min-width: 1700px)
                    {
                        .nbr-suggestion {
                            margin-left: -30%;
                        }
                        .tabindivid .nbr-suggestion{
                            margin-left: -37%;
                        }
                        .col-lg-4.part1 , .col-lg-4.part2  {
                            flex: 0 0 33.3333333333%;
                            max-width: 33.3333333333%;
                        }
                      
                    } 
        @media (min-width: 1920px) {
            .neg .wording {
                margin-left: 24px;
            }
            legend.scheduler-border.negatig:before {
                width: 381px;
                left: 30%;
                top: 47%;
            }
            fieldset.pos-1:before {
                width: 381px;
                left: 30%;
                top: 47%;
            }
            .first-bloc {
                width: 80%;
                margin: 0 25%;
            }
            .pos {
                padding: 0px 25px 0px 0px;
            }
            .neg {
                padding: 0px 0px 0px 0px;
            }
            a.show-more.der {
                left: 87%;
                top: 140px;
            }
            p.text-general.resume {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 490px;
            }
       a.show-more{
        /* position: absolute; */
        left: 87%;
        top: 140px;
         }
            span.modifier-date{
                padding:0px 5px 0px 20px; 
                display: inline-block;
            }
            .listWordings{
                padding: 5px 14px;
                font-size: 12px;
            }
            .bloc-top i.fa.fa-arrow-up {
                position: absolute;
                margin-right: 14px;
                margin-left: -23px;
                margin-top: 7%;
                }
            .modal-content {
                width: 600px!important;
                height: 790px !important;
            }
            .nav-pills .nav-link {
                padding: 0.69rem 1rem;
            }
            li.nav-avis.nav-item {
                padding: 0 15px;
            }
            .card-body.pb-0.ml-0.review {
                padding: 0.5rem;
            }
            span.total-valeur,span.total-repondu {
                font: normal normal bold 30px/30px Ubuntu;
            }
            span.repondu {
                font: normal normal normal 18px/30px Ubuntu;
            }
            .row.listAvis.ml-0 {
            
                margin-top: 1%;
            }
            img.img-post {
                width: 26%;
            }

            .bloc1{
                margin-bottom: 5em;
            }
            
            img .img-prog-details {
                width: 23%;
            }
            img.img-post-details {
                width: 20%;
            }

            .col-xl-2.chart {
                flex: 0 0 16.6666666667%;
                max-width: 16.6666666667%;
            }
            .title-renseignement{
                font-size: 24px;
              }   
              
            .title-renseignement-2 {
                font-size: 18px;
            }

            .table-flush th.text-bold {
                font-size: 14px;
            }
            .profilsvalue {
                font-size: 25px;
            }

            .card .table-flush td, .card .table-flush th {
                padding-left: 0.7rem;
                padding-right: 0.7rem;
            }
      
            .add-img {
                font-size: 14px;
            }

            .nbr-suggestion{
                margin-left: -27%;
            }
            .tabindivid .nbr-suggestion{
                margin-left: -37%;
            }
            .bloc-performance .col-xl-4  {
                    flex: 0 0 33.3333333333%;
                    max-width: 33.3333333333%;
            }

            .bloc-performance .col-xl-8
            {
                flex: 0 0 66.6666666667%;
                max-width: 66.6666666667%;
            }
            span.title-perfomance , span.title-perfomance1 {
                font: normal normal normal 16px/30px Ubuntu;
            }
            span.value-performance{
                font: normal normal bold 20px/20px Ubuntu;
            }

            span.value-performance1 {
                font: normal normal bold 20px/20px Ubuntu;
            }
            .bloc-performance .card-body {
                padding: 1rem;
            }
            .card  .table-performance td,  .card  .table-performance th {
                padding-left: 0.7rem;
                padding-right: 0.7rem;
            }
       
            .value-activite{
                font-size: 18px
            }

            span.value-avis.page{
                font-size: 50px;
                line-height: 30px;
                display: contents;
            }
            .note-avis img {
                width: auto;
            }
            .note-avis {
                padding-left: 0px;
                margin: 11% auto
            }
            li.listWordings {
                margin: 10px;
            }
            .popover-body {
                width: 200px !important;
            }
            .value-post {
                font-size: 14px;
            }
            .date-pro{
                font-size: 10px;
            }
            .text-programme {
                font-size: 12px;
     
                display: flex;
            }
           
            .part2 img , .part2 i.fa.fa-check{
                float: right;
            }
            .bloc-fiche .details-post {
                padding-right: 0%;
            }
            img.show-fiche {
                margin: 0px 7px;
            }

            img.show-fiche {
                width: 15%;
                height: 15px;
            }

            .details-fiche {
                font-size: 10px;
            }
            .bloc-fiche .details-post{
                padding-right: 0;
            }
            img.popover__title {
                margin-left: 6px;
                margin-top: 0px !important;
            }

              }
  



              /****************bloc raccorcis************/
              .raccourcis .tabindiv , .raccourcis.videtabe
              {
                text-align: center;
                display: block;
                margin: 0 auto;
                padding: 20px 0px;
                border-radius: 6px;
                height: 107px;
                padding: 20px 2px;
                cursor: pointer;
              }

              .raccourcis .col-xl-4.mb-5.mb-xl-0 {
                padding: 2px;
            }

              .raccourcis .postindiv {
                background: #0081c7;
           
            }
            .tabindiv.videtabe {
                background: #EEEEEE;
                padding: 20px 54px!important;
            }
             .raccourcis .photosindiv {
              
                background: #cc0070;
        
            }

            .raccourcis .horairesindiv {
                background: #eba10f;
             
            }


            .raccourcis .servicesindiv {
                background: #b1cd45;
            
            }
     
            .tabindivid .avatar {
                background-color: #0081c7;
                cursor: pointer;
            }
            .raccourcis i.fa.fa-pen {
                margin-top: 12px;
                font-size: 13px;
            }
            .raccourcis.avatar {
                color: #fff;
                background-color: #0081c7;
            }
            .raccourcis img {
                width: 30px;
                display: block;
                margin: 0 auto;
            }
           
            .raccourcis span {
                text-align: center;
                font: normal normal normal 11px/16px Ubuntu;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                margin-top: 7px;
                display: block;
            }
            .form-check div:last-child {
                text-align: center
            }
            hr.border-avis {
                margin: 2px auto !important;
            }
            .row.listAvis .text-right {
                text-align: center!important;
            }
            