.struc {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
#conges .input-box {
    width: 500px;
}
.feuille h2 {
  color: #fff;
  font-size: 30px;
}
#conges .react-datepicker__input-container input[type="text"] {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}
section.homes h1 {
    color: #fff;
    text-align: justify;
}
.tous{
  overflow-y: scroll;
  max-height: 250px;
  padding: 5px
}
.tous::-webkit-scrollbar {
  width: 0.3em;
  
}
.tous::-webkit-scrollbar-track {
  background-color: #fff;
 
}
 
.tous::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  
}
.liste {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.react-datepicker__input-container input::placeholder {
    color: #fff; /* Replace with your color value */
  }
  
  /* Optional: You can also style the selected date text */
  .react-datepicker__input-container input {
    color: #fff; /* Replace with your color value */
  }

   

  .feuille span, .feuille i {
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    margin: 10px auto;
}
.printes{
  display: none
}
  @media print {
    body * {
      display: block;
    }
    .printes {
        display: block;
      }
      .hedertabs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    .no-print {
        display: none;
      }
    /* Add any other print-specific styles here */
  }