<link
  href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
  rel="stylesheet"
/>
<nav
  class="navbar navbar-vertical navbar-expand-md navbar-light bg-white"
  id="sidenav-main"
>
  <div class="container-fluid">
    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="sidenav-collapse-main"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <!-- <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']" >
      <img src="./assets/Dashboard/logo-user.png" class="navbar-brand-img" alt="..."  >
    </a> -->

    <div class="tooltip navbar-brand pt-0">
      <img  src="./assets/Dashboard/logo-user.png" class="navbar-brand-img"  alt="..."  routerLinkActive="active" [routerLink]="['/dashboard']"
      />
      <div class="tooltiptext shadow">
        <ul class="menu-notifs">

          <li *ngIf="role_id != 3">
            <a (click)="open(content) ;Notifications()" class="open-notifs"> Notifications </a>
          </li>
          <li *ngIf="role_id == 1">
            <a [routerLink]="['/tableaux-de-bord/gestion-des-profils']" class="open-notifs"> Gestion des profils </a>
          </li>

          <li *ngIf="role_id != 1">
            <a [routerLink]="['/tableaux-de-bord/gestion-des-profils']" class="open-notifs"> Gérer mon profil </a>
          </li>

          <div *ngIf="role_id != 3">
            <li *ngFor="let menuItem of menuNotifs">
              <a routerLinkActive="active" [routerLink]="[menuItem.path]">
                <span> {{ menuItem.Name }} </span>
              </a>
            </li> 
          </div>

          <li class="decnxion" >
            <a (click)="LOGOUT()">
              <span>Déconnexion </span>
            </a>
          </li>

        </ul>
      </div>
    </div>

    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isCollapsed"
      id="sidenav-collapse-main"
    >
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="./assets/img/brand/blue.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input
            type="search"
            class="form-control form-control-rounded form-control-prepended"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li
          *ngFor="let menuItem of menuItems"
          class="{{ menuItem.class }} nav-item"
        >
          <a
            routerLinkActive="active"
            [routerLink]="[menuItem.path]"
            class="nav-link"
          >
            <!-- <i class="ni {{menuItem.icon}}"></i> -->
            <span class="title-dashboard"> {{ menuItem.title }} </span>
          </a>
        </li>

        <div class="footersidebar">
          <li id="logocliqeo">
            <img src="../assets/Dashboard/bforbiz.svg" style="width: 63%" />
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>

<div id="notifs-client">
  <ng-template #content let-modal>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="modal-header header-notifs items-center">
      <h2 class="modal-title" id="modal-basic-title">Notifications</h2>
      <h5 class="modal-title text-center" id="modal-basic-title">
        Pendant votre absence des internaurtes ont ajoutés ou modifiés des
        élements sur vos fiches :
      </h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div  class="col-lg-6 col-md-6"  style="border-right: 1px solid #ccc; padding-right: 3%" >
          <div class="bg-secondary">
            <div class="bg-transparent">
              <div class="text-center mt-0 mb-3">
                <span class="bienvenue"
                  ><b>Modifications sur les fiches</b>  ({{ TotalFiche }} <span *ngIf="TotalFiche <= 1">fiche</span>
                  <span *ngIf="TotalFiche > 1">fiches</span>)</span
                >
              </div>
            </div>
            <div class="card-body notifications-client notif-horaires">
              <ngb-accordion  [closeOthers]="true" [activeIds]="activeIds" >
                <ngb-panel  *ngFor="let items of FicheNotification , let i ='index'" id="{{i}}" class="collapsed">
                  <ng-template ngbPanelTitle>
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="row">
                          <div class="col-lg-7">
                            <div class="details-post post1 complete tooltip navbar-brand pt-0">
                            <div class="title-notif">
                              <span  >
                                {{items.locationName }}
                              </span>
                              
                            </div>
                             <div class=" notiff tooltiptext shadow ">
                              <div class="title-notif complet">
                                <span >
                                  {{items.locationName }}
                                </span>
                              </div>
                     
                            </div> 
                          </div>
                        </div>
                          <div class="col-lg-5 pr-0 pl-0">
                            
                        <div class="voir-notif" (click)="detailsfranchise(items.fiche_id)">
                          <span>
                            <i class="fa fa-less-than"></i> Aller à la fiche
                          </span>
                        </div>
                          </div>


                        </div>
                      
                      </div>

                      <div class="col-lg-4">
                        <div class="numb-notif">
                          <span *ngIf="items.fiche_count== 1"> {{ items.fiche_count }} modification</span>
                          <span *ngIf="items.fiche_count>1"> {{ items.fiche_count }} modifications</span>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row">
                      <div class="col-lg-10">
                        <ul>
                          <li *ngIf="items.listnotif.locationName">
                            <span class="type-notifs"> Changement nom de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                               <span class="modifsfiche pl-2 nomfiche">
                                {{items.listnotif.locationName.locationNamenew}}
                               </span> 
                              </div>
    
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs(items.fiche_id ,'Nom')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.description">
                            <span class="type-notifs"> Changement description de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <span class="modifsfiche pl-2 ">
                                {{items.listnotif.description.description}}
                               </span> 
                              </div>
    
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'description')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.websiteUrl">
                            <span class="type-notifs"> Changement websiteUrl de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <span class="modifsfiche pl-2 ">
                                {{items.listnotif.websiteUrl.websiteUrl}}
                               </span> 
                              </div>
    
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'usrsite')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.codemagasin">
                            <span class="type-notifs"> Changement codemagasin de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <span class="modifsfiche pl-2 ">
                                {{items.listnotif.codemagasin.codemagasin}}
                               </span> 
                              </div>
    
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'Code')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.horaire">
                            <span class="type-notifs"> Changement horaire de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <div class="row" *ngFor="let item of items.listnotif.horaire.horaire">
                                  <div class="col-lg-5">
                                    <span class="modifsfiche pl-2 ">
                                      {{item.jours}} </span>
                                  </div>
                                  <div class="col-lg-7" >
                                    <span *ngFor="let items of item.horaire" class="modifsfiche ">{{items.heurdebut}} - {{items.heurfin}}</span> <br>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'horaires')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.horairespeciaux">
                            <span class="type-notifs"> Changement horaires supplémentaires de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <div class="row" *ngFor="let item of items.listnotif.horairespeciaux.horaire.listhoraireexceptionnelle">
                                  <div class="col-lg-6">
                                    <span class="modifsfiche pl-2 ">
                                      {{item.date}} </span>
                                  </div>
                                  <div class="col-lg-6">
                                    <span  *ngFor="let items of item.horaire"  class="modifsfiche ">
                                     <span *ngIf="items.heurdebut =='' && items.heurfin ==''  "> Fermer</span> 
                                    <span *ngIf="items.heurdebut !='' && items.heurfin !=''  "> {{items.heurdebut}} - {{items.heurfin}}</span> 
                                  </span> <br>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'horairesSupp')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.email">
                            <span class="type-notifs"> Changement email de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <span class="modifsfiche pl-2 ">
                                {{items.listnotif.email.email}}
                               </span> 
                              </div>
    
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'mail')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.attribute">
                            <span class="type-notifs"> Changement attributs de fiche</span>
                            <div class="row ">
                              <div class="col-lg-8 col-md-10">
                                <div class="row pl-4" *ngFor="let item of items.listnotif.attribute">
                                  <span class="modifsfiche">{{item.displayName}} </span>
                                </div>
                              </div>
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'Attributs')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.categorie">
                            <span class="type-notifs"> Changement catégories de fiche</span>
                            <div class="row ">
                              <div class="col-lg-8 col-md-10">
                                <div class="row pl-4" *ngFor="let item of items.listnotif.categorie">
                                  <span class="modifsfiche ">{{item.categorienew}} </span>
                                </div>
                              </div>
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'Categorie')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.listlibelle">
                            <span class="type-notifs"> Changement Libellés de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <div class="row pl-4  " *ngFor="let item of items.listnotif.listlibelle.listlibelle">
                                  <span class="modifsfiche ">{{item.libelle_value}} </span>
                                </div>
                              </div>
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'Libelles')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>

                          <li *ngIf="items.listnotif.lienprend">
                            <span class="type-notifs"> Changement lien rendez-vous de fiche</span>
                            <div class="row ">
                              <div class="col-lg-8 col-md-10">
                                <div class="row  pl-4 " *ngFor="let item of items.listnotif.lienprend">
                                  <span class="modifsfiche ">{{item.lienprendnew}} </span>
                                </div>
                              </div>
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'lienrdv')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>

                          <li *ngIf="items.listnotif.address">
                            <span class="type-notifs"> Changement adresse de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <span class="modifsfiche pl-2 ">
                                {{items.listnotif.address.adresse}}
                               </span> 
                              </div>
    
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'Adresse')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.ouverture">
                            <span class="type-notifs"> Changement date d'ouverture de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <span class="modifsfiche pl-2 ">
                                  Ouverture le {{items.listnotif.ouverture.ouverture}}
                               </span> 
                              </div>
    
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'Ouverture')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>

                          <li *ngIf="items.listnotif.numerotel">
                            <span class="type-notifs"> Changement téléphones de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <div class="row pl-4 " *ngFor="let item of items.listnotif.numerotel.numerotel">
                                  <span class="modifsfiche">{{item.phone.number}} </span>
                                </div>
                              </div>
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs(items.fiche_id ,'telephone')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>

                          <li *ngIf="items.listnotif.service">
                            <span class="type-notifs"> Changement services de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <div class="row pl-4 " *ngFor="let item of items.listnotif.service">
                                  <span class="modifsfiche ">{{item.new}} </span>
                                </div>
                              </div>
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'Services')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li *ngIf="items.listnotif.zonedesservies">
                            <span class="type-notifs"> Changement zones desservies de fiche</span>
                            <div class="row">
                              <div class="col-lg-8 col-md-10">
                                <div class="row pl-4 " *ngFor="let item of items.listnotif.zonedesservies">
                                  <span class="modifsfiche ">{{item.zonedesserviesnew}} </span>
                                </div>
                              </div>
                              <div class="col-lg-1 col-md-2" (click)="detailsnotifs( items.fiche_id ,'ZonesDesservies')">
                                <div class="modif-pen">
                                  <i class="fa fa-pen"></i>
                                </div>
                              </div>
                            </div>
                          </li>

                        </ul>
                      </div>
                      <div class="col-lg-2">
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                  </ngb-accordion>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="bg-secondary">
            <div class="bg-transparent">
              <div class="text-center mt-0 mb-3">
                <span class="bienvenue"
                  ><b>Ajouts de photos </b>
                  ({{ TotalImage }} <span *ngIf="TotalImage <= 1">fiche</span>
                  <span *ngIf="TotalImage > 1">fiches</span>)</span >
              </div>
            </div>

            <div class="card-body notifications-client notif-horaires">
              <ngb-accordion [closeOthers]="true" *ngFor="let items of FicheNotificationPhoto">
                <ngb-panel id="static-1" title="">
                  <ng-template ngbPanelTitle>
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="row">
                          <div class="col-lg-7">
                            <div class="title-notif">
                              <span>
                                {{ items.locationName }}
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-5 pr-0 pl-0">
                          <div class="voir-notif">
                            <span>
                              <i class="fa fa-less-than"></i>Aller dans la galerie
                            </span>
                          </div>
                          </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="numb-notif">
                          <span> {{ items.fiche_count }} 
                            <span *ngIf="items.fiche_count <= 1">photo ajoutée</span>
                            <span *ngIf="items.fiche_count > 1">photos ajoutés</span>
                            </span>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <ul>
                      <li *ngFor="let item of items.details">
                        <span class="type-notifs">Photos de clients</span>
                        <div class="row">
                          <div class="col-lg-5 col-md-10 photosmodifs mt-2">
                            <div class="imgnotifs">
                              <img src="{{ item.file }}" />
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button"  class="btn btn-outline" (click)="modal.close('Save click')" >
        Fermer
      </button>
      <div style="background: url(./assets/Dashboard/bg-footer.png); background-size: 100% 100%; height: 87px;" ></div>
    </div>
  </ng-template>
</div>
