<h1> Modifier heur du chaque employers</h1>
<div id="allusers">
    <div class="classright" *ngFor="let item of allUsers">
        <div class="status">
            <!-- Affichage de l'image de profil -->
            <ng-container *ngIf="item.profile_image_url; else defaultImage">
                <img [src]="item.profile_image_url" alt="Image de profil" class="enteimg" />
            </ng-container>
            <ng-template #defaultImage>
                <i class="bi bi-person-circle"></i>
            </ng-template>
            <sup [class]="item.status === 'au bureau' ? 'text-success' : 'text-danger'">
                <i class="bi bi-circle-fill"></i>
            </sup>
        </div>
        <div class="content">

            <span><b> {{item.name}}</b></span>
            <span><b> {{item.role}}</b></span>
         
            <ng-container *ngIf="item.pointages.length >0; else upddatedate">
                <div class="upddatedate" *ngFor="let p of item.pointages ">

                    <div class="form-group mb-3">
                        <input type="text" id="name" [(ngModel)]="p.arrival_date" name="arrival_date"
                            class="form-control" placeholder="Date arrivé" />
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="departure" [ngModel]="p.last_departure | date:'HH:mm:ss'"
                            name="last_departure" class="form-control" placeholder="Date départ" />
                    </div>
                </div>
            </ng-container>
            <ng-template #upddatedate>
                <span class="d-block text-center">Pas de pointages</span>
            </ng-template>
        
    </div>
</div>