<h1> Modifier heure de chaque employé</h1>
<div id="update">
    <div id="allusers">
        <div class="classright" *ngFor="let item of allUsers">
            <div class="deleteuser" (click)="openPopupDelete(item)">
                <i class="bi bi-trash"></i>
            </div>
         
            <div class="status">
                <!-- Affichage de l'image de profil -->
                <ng-container *ngIf="item.profile_image_url; else defaultImage">
                    <img [src]="item.profile_image_url" alt="Image de profil" class="enteimg" />
                </ng-container>
                <ng-template #defaultImage>
                    <i class="bi bi-person-circle"></i>
                </ng-template>
                <sup [class]="item.status === 'au bureau' ? 'text-success' : 'text-danger'">
                    <i class="bi bi-circle-fill"></i>
                </sup>
            </div>

            <div class="content">
              <div class="content-1 mb-3">
                <div class="headertab">
                <span>Nom :<b> {{ item.name }}</b></span>
                <span>Poste :<b> {{ item.role }}</b></span>
            </div>
            <div class="content-2">
            <i class="bi bi-cloud-arrow-down"></i>
        </div>
    </div>
                <ng-container *ngIf="getHistoryKeys(item.history) ; else upddatedate">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Jour</th>
                                <th>Heures</th>
                                <th>Localisation</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let key of getHistoryKeys(item.history)">
                                <td [ngClass]="{'d-none': item.history[key].day === 'Samedi' || item.history[key].day === 'Dimanche'}">
                                    <span >
                                        {{ item.history[key].day }}
                                      </span>
                                  <td [ngClass]="{'d-none': item.history[key].day === 'Samedi' || item.history[key].day === 'Dimanche'}">
                                    
                                    {{ item.history[key].total_hours|| '00:00:00' }}</td>
                                <td [ngClass]="{'d-none': item.history[key].day === 'Samedi' || item.history[key].day === 'Dimanche'}">
                                <ng-container  *ngIf="item.history[key].location !==null; else  defaullocation" >
                                    
                                    <span class="text-success" >{{ item.history[key].location}}</span>
                                </ng-container>
                                <ng-template #defaullocation >
                                <span class="text-danger"> Pas de  pointage</span>
                                </ng-template>
                                </td>
                                <td class="text-center" [ngClass]="{'d-none': item.history[key].day === 'Samedi' || item.history[key].day === 'Dimanche'}">
                                    <i class="bi bi-pen" (click)="openPopupEdit(item.history[key])"></i>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>

                <ng-template #upddatedate>
                    <span class="d-block text-center">Pas de pointages</span>
                </ng-template>
                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyleDelete}">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title text-black">Spprimer utilisateur </h4>
                        </div>
                
                        <!-- Modal Body -->
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer l'utilisateur <b>{{selectedUser.name}} ? </b>
                        </div>
                
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-success" (click)="confirmDeleteUser(selectedUser)" >Supprimer</button>
                          <button type="button" class="btn btn-danger" (click)="closePopupDelete()">Fermer</button>
                        
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStylePointage }">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <h2>Modifier le Pointage</h2>
                        
                            <form [formGroup]="pointageForm" (ngSubmit)="submitPointage()">
                              <label>Date :</label>
                              <input type="date" formControlName="date" required />
                        
                              <label>Heure d'Arrivée :</label>
                              <input type="time" formControlName="heure_arrivee" />
                        
                              <label>Heure de Départ :</label>
                              <input type="time" formControlName="heure_depart" />
                        
                              <button type="submit" [disabled]="pointageForm.invalid">Modifier Pointage</button>
                              <button type="button" (click)="closePopupEdit()">Annuler</button>
                            </form>
                          </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="classright add">
            <span>Créer un compte !</span>
            <button type="button" class="dropdown-item" (click)="openPopup()">
                <i class="bi bi-plus-circle"></i>
            </button>
            <app-add-employes [displayStyleChild]="displayStyle"  (employeeAdded)="refreshList()" (closeEvent)="closePopup()"></app-add-employes>
        </div>
    </div>
</div>
