span.info_franchise {
    text-align: left;
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
}
.infos  img {
    width: 21px;
}
i.fa.fa-pencil-alt {
    font-size: 12px;
    cursor: pointer;
    margin-top: 3px;
}
.info_franchise {
    text-align: left;
    font: normal normal normal 12px/18px Ubuntu;
    letter-spacing: 0px;
    color: #5E5E5E;
}