.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper.first {
  position: absolute;
  bottom: 0;
  z-index: 99999;
  top: 82%;
  background: linear-gradient(to left, #45225157, #3852bc);
  border: 1px solid #6f62c3;
}
.mySwiper.first .swiper-slide {
  background: transparent;
  color: #ffffff61;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  transition: color 0.3s ease; /* Ajout de la transition */
}

.mySwiper.first .swiper-slide:hover {
  color: #fff;
}
.circular-image {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  object-fit: cover;
  filter: brightness(0.5) sepia(1) hue-rotate(-131deg);
}
div#section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6% auto;
  position: relative;
  gap: 20px;
}

div#section1 .img-right {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
h2.display-4.valuecompteur {
  font-weight: bold;
  font-family: "Righteous", sans-serif;
  background: linear-gradient(142deg, #410d43, #552dc6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img-right h2 {
  font-family: "Righteous", sans-serif;
  font-size: 89px;
  position: absolute;
  left: 26%;
  top: 0px;
  background: linear-gradient(90deg, #fdb6ff, #532966);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}