.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper.first {
  position: absolute;
  bottom: 0;
  z-index: 99999;
  top: 82%;
  background: linear-gradient(to left, #45225157, #3852bc);
  border: 1px solid #6f62c3;
}
.mySwiper.first .swiper-slide {
  background: transparent;
  color: #ffffff61;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  transition: color 0.3s ease; /* Ajout de la transition */
}

.mySwiper.first .swiper-slide:hover {
  color: #fff;
}
