.authHome img {
    object-fit: cover;
    height: 669px;
}

.rightsection {
    width: 50%;
    margin: 0 auto;
    display: flex
;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.rightsection form {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.authHome .rightsection .briefcase img {
    height: 265px;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.eyess {
    background: #ffffff;
    border: 1px solid #dee2e6;
}
button.btn.btn-success {
    background: #d268cc;
    border: #d268cc;
}
button.btn.btn-danger {
    background: #2c444e;
    border-color: #2c444e;
}

.basforget button {
    text-decoration: none;
    color: #d268cc;
}
.authHome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
.imgleft {
    width: 50%;
}
.input-container .input-group-text {
    background: #f8f9fa;
    border-right: none;
  }
  
  .input-container .form-control {
    border-left: none;
  }
  
  .input-container .btn-outline-secondary {
    border-left: none;
  }
  
  .input-container .bi {
    font-size: 1.2rem;
  }
  
  span.slogon {
    font-family: "Poppins", serif;
    font-size: 40px;
    font-weight: bold;
}

.briefcase {
    display: flex;
    flex-direction: column;
    align-items: center;
}