<div class="authHome d-flex">
  <div class="imgleft">
    <img src="assets/autentification.jpg" alt="autentification">
  </div>
  <div class="rightsection">
    <div class="briefcase mb-3">
      <img src="assets/briefcase.gif"  alt="logo">
      <span class="slogon">Pointingworks</span>
    </div>
    
    <form (ngSubmit)="SignIn()" #loginForm="ngForm">
      
      <!-- Champ Email avec icône -->
      <div class="mb-3 input-container">
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-envelope"></i></span>
          <input 
            type="text" 
            class="form-control" 
            id="nom" 
            [(ngModel)]="login.email" 
            name="nom" 
            required 
            placeholder="Email" />
        </div>
      </div>

      <!-- Champ Mot de passe avec icône et toggle visibility -->
      <div class="mb-3 input-container">
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock"></i></span>
          <input 
            [type]="passwordFieldType" 
            class="form-control" 
            id="password" 
            [(ngModel)]="login.password" 
            name="password" 
            required 
            placeholder="Mot de passe" />
          <button class="btn btn-outline-secondary eyess" type="button" (click)="togglePasswordVisibility()">
            <i class="bi" [ngClass]="passwordFieldType === 'password' ? 'bi-eye' : 'bi-eye-slash'"></i>
          </button>
        </div>
      </div>

      <div class="btns">
        <button type="reset" class="btn btn-danger" (click)="reset()">Annuler</button>
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Se connecter</button>
      </div>

      <div class="basforget">
      
        <button type="button" class="btn btn-link" (click)="openPopupForgeten()">Oublier mot de passe !</button>
      </div>
    </form>

    
    
  </div>

  <app-forgetpassowrd [displayStyleChild]="displayStyleF" (closeEvent)="closePopupForgeten()"></app-forgetpassowrd>
</div>
