


        <div class="modal-body modifEtablissement " style="left: 10%;">
           
          <span class="title_modifE   text-general">Ajouter un produit</span>
            <div  class="formprod mt-3">
              <form [formGroup]="ProduitForm" >
                <div class="form-group mb-4 titlepost modifphone catselect  addproduct">
                
                    <app-upload-photos (onLogoChanged)="GetDataLogo($event)" 
                    [picture]="photo_produit"> </app-upload-photos>
                 
                    <div class="input-group input-group-alternative mt-3 mb-2"> 
                    <input class="form-control" placeholder="Nom de produit" type="text" formControlName="Nom_produit"
                      #Nomproduit [(ngModel)]='Nom_produit' name="Nom_produit" style="border-radius: initial;">
                  </div>
                  <span class="lenghtname"> {{Nomproduit.value.length}} /58</span>
               

                  <ng-select [items]="listcategoriesp" bindLabel="Categorie_produit"
                  placeholder="Sélectionner une catégorie" notFoundText="Sélectionner une catégorie"
                  formControlName="Categorie_produit" [(ngModel)]='Categorie_produit' #f
                  (change)="Changecategorie(Categorie_produit)">
                </ng-select>
                
                  <div *ngIf="catselected == 'Créer une catégorie'">
                    <div class="input-group input-group-alternative mt-3 mb-2">
                      <input class="form-control" placeholder="Catégorie de produit" type="text"
                        formControlName="New_Categorie" [(ngModel)]='New_Categorie' #Cat style="border-radius: initial;">
                    </div>
                   
                    <div class="row expl_cat selectcat">
                      <div class="col-lg-10">
                        <p> Exemples : Tables de salle à manger, Casques audio,Chaussures</p>
                      </div>
                      <div class="col-lg-2 text-right">
                        <span class="lenghtname"> {{Cat.value.length}} /58</span>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-9">
                      <h4>Afficher la gamme de prix</h4>
                    </div>
                    <div class="col-lg-3 text-right" style="margin-top: -5px;">
                      <ui-switch (valueChange)="onValueChange($event)" formControlName="gamme_prix" [(ngModel)]='gamme_prix'
                        name="gamme_prix" size="small"></ui-switch>
                    </div>
                  </div>
                  <div class="input-group input-group-alternative mt-3 mb-2" *ngIf="gamme_prix == false">
                    <input class="form-control" placeholder="Prix produit (EUR)" type="text" formControlName="Prix_produit"
                      #Cat name="Prix_produit" [(ngModel)]='Prix_produit' style="border-radius: initial;">
                  </div>
                  <div class="row" *ngIf="gamme_prix == true">
                    <div class="col-lg-6">
                      <div class="input-group input-group-alternative mt-3 mb-2">
                        <input class="form-control" placeholder="Prix minimal (EUR)" type="text" [(ngModel)]='Prix_minimal'
                          formControlName="Prix_minimal" name="Prix_minimal" style="border-radius: initial;">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group input-group-alternative mt-3 mb-2">
                        <input class="form-control" placeholder="Prix maximal (EUR)" type="text" [(ngModel)]='Prix_maximal'
                          formControlName="Prix_maximal" name="Prix_maximal" style="border-radius: initial;">
                      </div>
                    </div>
                  </div>
                  <div class="input-group input-group-alternative mt-3 mb-2">
                    <input class="form-control" placeholder="Description produit" type="text"
                      formControlName="Description_produit" [(ngModel)]='Description_produit' name="Description_produit">
                  </div>
                  <div class=" mt-3 mb-2">
                    <ng-select [items]="Offres" bindLabel="calltoaction" placeholder="Sélectionner un offre"
                      notFoundText="Sélectionner un offre" #t (change)="onChangeOffre(calltoaction)"
                      formControlName="calltoaction" name="calltoaction" [(ngModel)]='calltoaction'>
                    </ng-select>
                  </div>
                  <div class="input-group input-group-alternative mt-3 mb-2" *ngIf="setOffre != 'Aucun'">
                    <input class="form-control" placeholder="Lien de votre boutton" type="text"
                      formControlName="lien_produit" [(ngModel)]='lien_produit' name="lien_produit">
                  </div>
                </div>
                <div class="btncnx ">
                  <div style="  display: inline-block; "> <button type="button" class="btn btn-annulation"
                      (click)="Fermer()">Annuler</button></div>
                  <div style="  display: inline-block; "> <button (click)="valueChanged()" class="btn btn-pub ml-3">Enregistrer</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

    